.main-content{
    margin-right:650px;
    padding-top: 80px; 
}
.main-img {
    position: absolute;
    top: 50%;
    left: 58%;
    transform: translate(-50%, -50%); 
}

.main-img img {
    max-width: 550px;
    height: auto;
}
.main-btn{
    padding-bottom: 50px;
}
.main-content h1,.main-content h2{
    margin-bottom: 10px;
}.main-content h1{
    margin-right: 105px;
}
.main-content p {
    margin-bottom: 20px;
    margin-right: 350px;
}

.main-arrow{
    padding-left: 5px;
    transform: rotate(90deg);
    width: 50px;
}
.nav-agendar{
    display: block;
    padding-left: 95px;
}
.nav-agendar h2{
    text-align: center;
    color: var(--color-h2-subtitle);
    padding-top: 100px;
    margin: 0px 35%;
}
.btn-agendar {
    display: inline-block;
    border-radius: 12px;
    color: var(--color-btn);
    padding: 16px 32px;
    transition: background-color 0.3s ease; 
    background-color: var(--color-bg-button);
}

.btn-agendar:hover {
    background-color: #03666A;
}

.about-bg {
    display: flex;
    padding-top: 80px;
}
.about-img img {
    max-width: 480px;
    height: auto;
    padding-right:300px;
}
.about-content span {
    padding-right: 20px;
}
.about-content h2 {
    margin-bottom: 80px;
}
.about-content p {
    margin-bottom: 80px;
    padding-right: 70px;
   
}
.about-button {
    display: flex;
}.about-bttn {
    display: inline-block;
}
.about-arrow{
    padding-left: 20px;
    transform: rotate(90deg);
}
.about-body > .nav-agendar{
    display: flex;
    margin: 50px 308px 0 245px;
    align-items: end;
    justify-content: right;
}


.service-bg {
    display: flex;
    justify-content: center;
}

.service-content h1{
    letter-spacing: 1.6px
}

.service-content p{
    padding-bottom: 50px;
}

.service-specialism {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: flex-start;
    gap: 250px;
}

.specialism {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.specialism img {
    width: 250px;
    margin-bottom: 20px;
}

.specialism h1{
    margin-bottom: 30px;
}
.specialism h2 {
    color: var(--color-p);
    font-weight: 500;
}
.specialism p {
    letter-spacing: 2px;
}
.service-button {
    display: flex;
    margin-left: -70%;
}

.service-bttn {
    color: var(--color-p);
    padding-bottom: 100px;
    padding-right: 10px;
}
.depoimentos-header h1{
    color: var(--color-h2-subtitle);
}

.service-arrow{
    transform: rotate(90deg);
    padding-left: 0px;
    width: 50px !important;
}
#service-agendar{
    text-align: center;
}
.depoimentos-button{
    display: flex;
}

.depoimentos-button h1{
    text-align: center;
    font-size: 70px;
    letter-spacing: 1.7px;
    color: #0D4253;
    margin: 0px 0px 0px 400px;
    font-weight: 400;

}

.depoimentos-button img{
    width: 100px;
    height: 50px;
}
.depoimentos-img{
    display: flex;
    padding-right: 400px;
    padding-top: 50px;
}

.depoimentos-b {
    background-color: #fff;
    padding: 50px 20px;
    text-align: center;
}

.depoimentos-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.depoimentos-header h1 {
    display: flex;
    text-align: center;
    padding-left: 450px;
}


.depoimentos-buttons{ 
    padding-left: 60px;
    display: flex;
    padding-right: 20px;
}

#bttn-back{
    margin-bottom: 58px;
}

.depoimentos-buttons button {
    background: none;
    border: none;
    cursor: pointer;
}

.depoimentos-buttons img {
    width: 40px;
    height: 40px;
}
.depoimentos-content {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    overflow-x: auto; 
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    scroll-behavior: smooth; 
}

.depoimento {
    padding: 20px;
    box-sizing: border-box;
    text-align: start;
    background-color: #ffff;
    border-radius: 80px;
    box-shadow: 0px 9px 16px #00000029;
    min-width: calc(50% - 40px);
    margin-right: 40px; 
}
.stars {
    color: #FFD700;
    font-size: 40px;
    margin-bottom: 20px;
    margin-left: 30px;
}

.depoimento h2 {
    font-size: 30px;
    font-weight: 600;
    color: var(--color-p);
    margin-bottom: 10px;
    margin-left: 30px;
}

.depoimento p {
    font-size: 30px;
    color: var(--color-p);
    line-height: 1.5;
    margin-left: 30px;
}

.depoimento .author {
    font-size: 26px;
    color: var(--color-p);
    margin-top: 10px;
}

.depoimentos-buttons-p {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.depoimentos-buttons-p button {
    background: none;
    border: none;
    cursor: pointer;
}
.depoimentos-buttons-p button {
    background: transparent;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    padding: 30px;
    transition: background-color 0.2s;
}
.depoimentos-buttons-p button:hover {
    background-color: #9bd4d6;
}

.depoimentos-buttons-p button.active {
    background-color: #89cace;
}
#bttn-back{
    margin-right:0px;
    width: 100px;
    height: 90px;
    transform: rotate(270deg);
    margin-bottom: 0px;
}
#bttn-next{
    transform: rotate(90deg);
    width: 100px;
    height: 90px;
}


.message-bg {
    display: flex;
    align-items: center; 
    background-color: #04878E; 
    padding: 50px 60px;
    border-radius: 56px; 
    margin: 100px 360px;
    box-shadow: 0px 3px 6px #00000029;
}

.message-content h2 {
    font-size: 26px; 
    color: #FFFFFF;
    font-weight: 400;
    padding-bottom: 40px;
}

.message-content h1 {
    font-size: 54px;
    color: #FFFFFF;
    font-weight: 500;
    letter-spacing: 1.7px;
    padding-bottom: 20px;
}

.message-content p {
    font-size: 26px;
    color: #FFFFFF;
    letter-spacing: 0.6px; 
}

.message-button a {
    font-size: 26px;
    color: #FFFFFF;
    background-color: transparent;
    border: 4px solid #FFFFFF;
    padding: 25px 60px;
    border-radius: 24px;
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
    box-shadow: 0px 3px 6px #00000029;
}

.message-button a:hover {
    background-color: #FFFFFF; 
    color: #04878E; }

.answer-bg span{
    color: var(--color-h2-subtitle);
}.answer-bg h1{
    color: var(--color-h1-span);
}
.answer-bg h2{
    padding-bottom: 50px;
}


#answer-lembre{
    display: flex;
    text-align: center;
    color: var(--color-h2-subtitle);
    font-weight: 500;
    justify-content: center;
    padding: 0% 29%;
    margin-bottom: 70px;
}

.answer-options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    list-style-type: none;
    padding-top: 50px;
    padding-bottom: 100px;
    margin: 0px 220px;
}

.answer-options li {
    display: flex;
    text-align: center;
    flex: 1;
    background-color: #0D4253;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    min-height: 140px;
    max-width: 380px;
}


.answer-options a {
    text-decoration: none;
    color: #FFFFFF;
    display: flex;
    font-weight: 500;
    font-size: 26px;
}

nav#service-agendar{
    padding-left: 0px;
}
.contact-bg span{
    color: var(--color-p);
    letter-spacing: 1.52px;
}
.contact-bg h2{
    letter-spacing: 1.52px;
}

.contact-bg h1{
    letter-spacing: 1.52px;
}

.contact-content{
    display: flex;
    padding-top: 100px;
}

.contact-img > img{
    border-radius: 40px;
    width: 700px;
}

.contact-info {
    padding-top: 50px;
    text-align: start;
    margin-left: 50px;
}
.contact-info p{
    padding-top: 50px;
    letter-spacing: 1px;
}

.info-andress p{
    padding: 0;
}
.header-search img {
    padding-left: 5px;
}#agendar-center{
    display: flex;
    justify-content: center;
    padding-left: 0px;
}

@media (max-width: 1800px) {
    .main-img {
        left: 64%;
    }
    .main-content p {
        margin-right: 250px;
    }
}


@media (max-width: 1600px) {
    .main-content {
        margin-right: 550px;
        padding-top: 50px;
    }.main-img {
        left: 68%;
        top: 59.5%;
    }.main-img img {
        max-width: 500px;
        height: auto;
    }    .main-content p {
        margin-right: 200px;
    }.about-img img {
        max-width: 420px;
        height: auto;
        padding-right: 270px;
    }.specialism img {
        width: 200px;
        margin-bottom: 20px;
    }.stars {
        font-size: 35px;
    }.depoimento h2 {
        font-size: 26px;
    }.depoimento p {
        font-size: 28px;
    }.depoimento .author {
        font-size: 22px;
    }.message-content h2 {
        font-size: 22px;
    }.message-content h1 {
        font-size: 46px;
    }.message-content p {
        font-size: 22px;
    }.message-button a {
        font-size: 24px;
        padding: 20px 40px;
    }.message-bg {
        margin: 100px 280px;
    }
    .depoimentos-header h1 {
        padding-left: 400px;
    }
}@media (max-width: 1440px) {
    .main-content {
        margin-right: 485px;
        padding-top: 20px;
    }.main-img {
        left: 66%;
        top: 51%;
    }.main-img img {
        max-width: 400px
    }    .main-content p {
        margin-right: 120px;
    }.nav-agendar {
        padding-left: 70px;
    }.about-content h2 {
        margin-bottom: 50px;
    }
    .about-img img {
        max-width: 380px;
        height: auto;
        padding-right: 160px;
    }.about-body > .nav-agendar {
        display: flex;
        margin:20px 170px 0 0px;
        align-items: end;
        justify-content: right;
    }
    .specialism img {
        width: 180px;
        margin-bottom: 20px;
    }.service-bttn {
        padding-right: 0px;
    }.service-arrow {
        padding-left: 8px;
        width: 40px !important;
    }
    .stars {
        font-size: 32px;
    }.depoimento h2 {
        font-size: 24px;
    }.depoimento p {
        font-size: 26px;
    }.depoimento .author {
        font-size: 20px;
    }.message-content h2 {
        font-size: 20px;
    }.message-content h2 {
        padding-bottom: 20px;
    }
    .message-content h1 {
        font-size: 42px;
    }.message-content p {
        font-size: 20px;
    }.message-button a {
        font-size: 22px;
        padding: 20px 40px;
    }.message-bg {
        margin: 100px 200px;
        padding-right: 30px;
    }.answer-options a {
        font-size: 20px;
    }.answer-options li {
        min-height: 120px;
        max-width: 320px;
    }.contact-img > img {
        width: 600px;
    }.depoimentos-header h1 {
        padding-left: 340px;
    }.depoimentos-buttons {
        padding-left: 20px;
    }.service-specialism {
        gap: 100px;
    }.main-arrow {
        width: 40px;
    }.about-content p {
        padding-right: 0px;
    }div.about-content{
        padding-right: 30px;
    }
}@media (max-width: 1300px) {
    .main-img {
        left: 68%;
        top: 51%;
    }    .main-content {
        margin-right: 400Px;
    }
}
@media (max-width: 1150px) {
    .about-img img {
        padding-right: 100px;
    }.about-body > .nav-agendar {
        margin: 20px 110px 0 0px;
    }.main-content h1 {
        margin-right: 0px;
    }    .main-content {
        margin-right: 390px;
    }
}@media (max-width: 1120px) {
    .main-content {
        margin-right: 450px;
        padding-top: 20px;
    }.main-img {
        left: 68%;
        top: 50%;
    }.main-img img {
        max-width: 370px
    }.main-content p {
        margin-right: 60px;
    }img.main-arrow {
        width: 35px !important;
    }
    .nav-agendar {
        padding-left: 50px;
    }.about-content h2 {
        margin-bottom: 50px;
    }.nav-agendar h2 {
        margin: 0px 30%;
    }
    .about-img img {
        max-width: 320px;
        height: auto;
        padding-right: 120px;
    }.about-body > .nav-agendar {
        margin:20px 120px 0 0px;
    }
    .specialism img {
        width: 140px;
    }.service-arrow {
        padding-left: 8px;
        width: 30px !important;
    }
    .stars {
        font-size: 28px;
    }.depoimento h2 {
        font-size: 20px;
    }.depoimento p {
        font-size: 22px;
    }.depoimento .author {
        font-size: 18px;
    }.message-content h2 {
        font-size: 20px;
    }.message-content h2 {
        padding-bottom: 20px;
    }
    .message-content h1 {
        font-size: 32px;
    }.message-content p {
        font-size: 18px;
    }.message-button a {
        font-size: 18px;
        padding: 15px 30px;
    }.message-bg {
        margin: 50px 150px;
        padding-right: 30px;
    }.answer-options a {
        font-size: 16px;
    }.answer-options li {
        min-height: 80px;
        max-width: 300px;
    }.contact-img > img {
        width: 440px;
    }.depoimentos-header h1 {
        padding-left: 250px;
    }.depoimentos-buttons {
        padding-left: 20px;
    }.answer-options {
        margin: 0px 120px;
        padding-bottom: 50px;
    }.contact-info p {
        padding-top: 20px;
    }.contact-info {
        padding-top: 20px;
        margin-left: 20px;
    }
    .service-specialism {
        gap: 50px;
    }.main-arrow {
        width: 40px;
    }.about-content p {
        padding-right: 0px;
        margin-bottom: 20px;
    }div.about-content{
        padding-right: 30px;
    }div.depoimentos-b{
        padding-right: 0px;
    }
}@media (max-width: 1062px) {
    .main-img {
        left: 66%;
        top: 54%;
    }
}
@media (max-width: 1030px) {
    .main-content {
        margin-right: 340px;
        padding-top: 20px;
    }.main-img {
        left: 74%;
        top: 53%;
    }
}
@media (max-width: 970px) {
    .about-img img {
        max-width: 300px;
        height: auto;
        padding-right: 60px;
    }
}@media (max-width: 880px) {
    .main-content {
        margin-right: 300px;
        padding-top: 20px;
    }.main-img {
        left: 75%;
        top: 52%;
    }.main-btn {
        padding-bottom: 20px;
    }    .main-content p {
        margin-right: 20px;
    }
    .main-img img {
        max-width: 280px
    }img.main-arrow {
        width: 35px !important;
    }
    .nav-agendar {
        padding-left: 30px;
    }.nav-agendar h2 {
        margin: 0px 20%;
    }
    .about-img img {
        max-width: 250px;
        height: auto;
        padding-right: 80px;
    }.about-content h2 {
        margin-bottom: 20px;
    }
    .about-body > .nav-agendar {
        margin:20px 85px 0 0px;
    }.about-content span {
        padding-right: 0px;
    }.specialism p {
        letter-spacing: 1px;
        padding-bottom: 15px;
    }.service-bttn {
        padding-bottom: 40px;
    }
    .specialism img {
        width: 140px;
    }.service-arrow {
        padding-left: 8px;
        width: 30px !important;
    }
    .stars {
        font-size: 22px;
    }.depoimento h2 {
        font-size: 18px;
    }.depoimento p {
        font-size: 18px;
    }.depoimento .author {
        font-size: 16px;
    }.message-content h2 {
        font-size: 18px;
    }.message-content h2 {
        padding-bottom: 20px;
    }
    .message-content h1 {
        font-size: 24px;
    }.message-content p {
        font-size: 16px;
    }.message-button a {
        font-size: 16px;
        padding: 12px 20px;
    }.message-bg {
        margin: 50px 80px;
        padding-right: 30px;
    }.answer-bg h2 {
        padding-bottom: 20px;
    }
    .answer-options a {
        font-size: 14px;
    }.answer-options li {
        min-height: 60px;
        max-width: 250px;
    }
    .contact-img > img {
        width: 360px;
    }.depoimentos-header h1 {
        padding-top: 20px;
        padding-left: 200px;
        padding-right: 50px;
    }.depoimentos-buttons {
        padding-left: 20px;
    }.answer-options {
        margin: 0px 40px;
        padding-bottom: 50px;
    }.contact-info p {
        padding-top: 20px;
    }.contact-info {
        padding-top: 20px;
        margin-left: 20px;
    }.contact-content {
        padding-top: 40px;
    }#bttn-up{
        width: 40px;
    }#answer-lembre {
        padding: 0% 22%;
    }.depoimentos-buttons-p button {
        background: transparent;
        border: none;
        cursor: pointer;
        border-radius: 50%;
        padding: 15px;
        transition: background-color 0.2s;
    }
    #bttn-back{
        width: 60px;
        height: 60px;
    }
    #bttn-next{
        width: 60px;
        height: 60px;
    }
}@media (max-width: 730px) {
    .main-content {
        margin-right: 250px;
        padding-top: 20px;
    }    .main-img img {
        max-width: 260px;
    }.main-img {
        left: 78%;
        top: 55.3%;
    }.about-img img {
        max-width: 230px;
        padding-right: 20px;
    }    div.about-content {
        padding-right: 10px;
    }    .service-bttn {
        padding-left:20px;
    }
}@media (max-width: 695px) {
    .main-img {
        top: 59%;
    }
}

@media (max-width: 670px) {
    .main-content {
        margin-right: 220px;
        padding-top: 20px;
    }    .main-img img {
        max-width: 260px;
    }.main-img {
        left: 80%;
    }
}

@media (max-width: 640px) {
    .main-content {
        margin-right: 220px;
        padding-top: 20px;
    }.main-img {
        left: 79%;
        top: 52%;
    }.main-btn {
        padding-bottom: 20px;
    }    .main-content p {
        margin-right: 20px;
    }
    .main-img img {
        max-width: 230px
    }img.main-arrow {
        width: 35px !important;
    }
    .nav-agendar {
        padding-left: 20px;
    }.nav-agendar h2 {
        margin: 0px 20%;
        padding-top: 50px;
    }
    .about-img img {
        max-width: 160px;
        padding-right: 30px;
    }.about-content h2 {
        margin-bottom: 20px;
    }
    .about-body > .nav-agendar {
        margin:20px 85px 0 0px;
    }.about-content span {
        padding-right: 0px;
    }.specialism p {
        letter-spacing: 1px;
        padding-bottom: 15px;
    }.service-bttn {
        padding-bottom: 40px;
    }
    .specialism img {
        width: 100px;
    }.service-content p {
        padding-bottom: 20px;
    }div.service-content{
        padding: 0px 20px;
    }    .service-specialism {
        gap: 10px;
    }
    .service-arrow {
        padding-left: 8px;
        width: 30px !important;
    }
    .stars {
        font-size: 22px;
    }.depoimento h2 {
        font-size: 18px;
    }.depoimento p {
        font-size: 18px;
    }.depoimento .author {
        font-size: 16px;
    }.message-content h2 {
        font-size: 18px;
    }.message-content h2 {
        padding-bottom: 20px;
    }
    .message-content h1 {
        font-size: 24px;
    }.message-content p {
        font-size: 16px;
    }.message-button a {
        font-size: 16px;
        padding: 12px 20px;
    }.message-bg {
        margin: 50px 80px;
        padding-right: 30px;
    }.answer-bg h2 {
        padding-bottom: 20px;
    }
    .answer-options a {
        font-size: 14px;
    }.answer-options li {
        min-height: 60px;
        max-width: 250px;
    }
    .contact-img > img {
        width: 360px;
    }.depoimentos-header h1 {
        padding-left: 150px;
    }.depoimentos-buttons {
        padding-left: 20px;
    }.answer-options {
        margin: 0px 40px;
        padding-bottom: 50px;
    }.contact-info p {
        padding-top: 20px;
    }.contact-info {
        padding-top: 20px;
        margin-left: 20px;
    }.contact-content {
        padding-top: 40px;
    }#bttn-up{
        width: 40px;
    }#answer-lembre {
        padding: 0% 22%;
    }
    .depoimento {
        flex: 0 0 90%;
    }
    #bttn-center{
        align-items: center;
        margin: 0px;
        padding: 0px;
        padding-top: 16px;
        justify-content: center;
    }
    #bttn-main{
        margin-left: 25px;
    }
    
}@media (max-width: 600px) {
    .nav-agendar {
     margin-top: 20px;
     margin-bottom: 20px !important;
    }
} @media (max-width: 595px) {
    .main-img {
        top: 55.5%;
    }
}   
@media (max-width: 580px) {
    .main-content {
        margin-right: 195px;
    }
}@media (max-width: 545px) {
    .main-img {
        top: 58%;
    }      div.service-content {
       margin-top: 20px;
    }.message-bg {
        margin: 50px 20px;
        padding-right: 30px;
    }

}@media (max-width: 492px) {
    .main-content {
        margin-right: 160px;
    }    .main-img img {
        max-width: 200px;
    }.main-img {
        top: 63%;
    }      .about-content h2 {
        margin-bottom: 0px;
    }    .about-img img {
        max-width: 160px;
        padding-right: 10px;
    }.specialism h1 {
        margin-bottom:15px;
    }
}@media (max-width: 481px) {
    .main-img {
        top: 64%;
    }
}  
@media (max-width: 455px) {
    .main-content {
        margin-right: 115px;
        padding-top: 20px;
    }.main-img {
        left: 83%;
        top: 71%;
    }.main-btn {
        padding-bottom: 20px;
    }    .main-content p {
        margin-right: 0px;
    }
    .main-img img {
        max-width: 170px
    }img.main-arrow {
        width: 35px !important;
    }
    .nav-agendar {
        padding-left: 20px;
    }.nav-agendar h2 {
        margin: 0px 20%;
        padding-top: 50px;
    }
    .about-img img {
        max-width: 150px;
        padding-right: 15px;
    }.about-content h2 {
        margin-bottom: 10px;
    }.about-content p {
        padding-right: 0px;
        margin-bottom: 10px;
    }
    .about-body > .nav-agendar {
        margin:20px 85px 0 0px;
    }.about-content span {
        padding-right: 0px;
    }.specialism p {
        letter-spacing: 0px;
        padding-bottom: 15px;
    }.service-bttn {
        padding-bottom: 40px;
    }
    .specialism img {
        width: 85px;
    }.service-content p {
        padding-bottom: 20px;
    }div.service-content{
        padding: 0px 15px;
    }    .service-specialism {
        gap: 25px;
    }
    .service-arrow {
        padding-left: 4px;
        width: 20px !important;
    }
    .stars {
        font-size: 22px;
    }.depoimento h2 {
        font-size: 20px;
    }.depoimento p {
        font-size: 18px;
    }.depoimento .author {
        font-size: 18px;
    }.message-content h2 {
        font-size: 14px;
        padding-bottom: 5px;
    }
    .depoimento p,.depoimento h2, .stars{
        margin-left: 15px;
    }
    .message-content h1 {
        font-size: 18px;
        padding-bottom: 5px;
    }.message-content p {
        font-size: 13px;
    }.message-button a {
        font-size: 12px;
        padding: 12px 10px;
        border: 2px solid #FFFFFF;
    }.message-bg {
        margin: 50px 20px;
        padding-left: 20px;
        padding-right: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
    }.answer-bg h2 {
        padding-bottom: 20px;
    }
    .answer-options a {
        font-size: 12px;
    }.answer-options li {
        min-height: 60px;
        max-width: 250px;
    }
    .contact-img > img {
        width: 240px;
        border-radius: 20px;
    }.depoimentos-header h1 {
        padding-left: 250px;
    }.depoimentos-buttons {
        padding-left: 20px;
    }.answer-options {
        margin: 0px 15px;
        padding-bottom: 50px;
    }.contact-info p {
        padding-top: 5px;
    }.contact-info {
        padding-top: 0px;
        margin-left: 10px;
    }.contact-content {
        padding-top: 40px;
    }#bttn-up{
        width: 40px;
    }#answer-lembre {
        padding: 0% 0%;
        margin-bottom: 20px;
    }    img.main-arrow {
        width: 20px !important;
    }.answer-options {
        gap: 10px;
    }div.specialism h2,div.specialism p{
        line-height: 20px;
    }
    .message-bg {
    border-radius: 16px;
    }    .message-button a {
    border-radius: 12px;
    }.phone {
    text-decoration: none;
    }

    .phone a {
    color: #04878f;
    }

    a[href^="tel"] {
    color: #04878f !important;
    text-decoration: none !important;
    }
    .depoimento {
    border-radius: 28px;
    }

    div.about-img{
        display: flex;
        align-items: center;
    }    .service-bttn {
        padding-left: 50px;
    }
    .specialism h1{
        font-size: 20px;
        margin-bottom: 10px;
    } #clinica{
        padding-top: 3px;
    }
    p#answer-lembre{
        font-size: 16px;
    }#contact-index h1{
        font-size: 1.6rem;
    }

}@media (max-width: 440px) {
    .main-content {
        padding-top: 40px;
    }
    .main-content h1{
    margin-bottom: 0px;
    }.main-content p {
    margin-bottom: 10px;
    }.main-content h2 {
    margin-bottom: 5px;
    }
    .depoimentos-header h1 {
        font-size: 20px;
    }
    .contact-info p {
       font-size: 16px;
    }
}
@media (max-width: 430px) {
    .main-content p {
        margin-right: 0px;
    }div.specialism h1{
        font-size: 18px;
    }.nav-agendar h2 {
        margin: 0px 22%;
    }
    .main-content {
        margin-right: 125px;
    }.nav-agendar h2 {
        margin: 0px 18%;
        padding-top: 50px;
    }
}@media (max-width: 420px) {
    .main-img img {
        max-width: 190px;
    } .main-img {
        left: 88%;
        top: 68%;
    }
}
@media (max-width: 415px) {
        .main-img {
        left: 89%;
    }    .main-content {
        margin-right: 95px;
    }
}
@media (max-width: 411px) {
        div.about-content {
        padding-right: 0px;
    }
    .main-content {
        margin-right: 95px;
        padding-top: 50px;
    }.about-bg {
        display: flex;
        padding-top: 50px;
    }    .about-img img {
        max-width: 135px;
        padding-right: 10px;
        padding-bottom: 15px;
    }.about-content h2 {
        margin-bottom: 5px;
    }div.about-content h2,div.about-content h1{
        font-size: 20px;
    }
        .depoimentos-header h1 {
        padding-left: 50px;
        padding-right: 20px;
    }.main-img {
        top: 68%;
    }
}@media (max-width: 402px) {
    .main-img {
        top: 67%;
        left: 90%;
    }.nav-agendar h2 {
        margin: 0px 15%;
    }    .answer-options a {
        font-size: 14px;
    }    .answer-options li {
        min-height: 80px;
        max-width: 280px;
    }
    .contact-bg h2, .contact-bg h1{
        font-size: 18px;
    }

}@media (max-width: 392px) {
    div.answer-bg{
        padding: 0px;
    }    .answer-options {
        margin: 0px 30px;
    }.answer-bg h1,.answer-bg h2,.answer-bg p{
        padding: 0px 14px;
    }
}

@media (max-width: 390px) {
    .specialism p {
        letter-spacing: 0px;
    }    div.service-content {
        padding: 0px 10px;
    }     .service-bttn {
        padding-left: 55px;
    }.nav-agendar h2 {
        margin: 0px 14%;
    }    .main-content {
        margin-right: 110px;
        padding-top: 50px;
    }
    .about-content p{
        font-size: 17px;
    }.about-img img {
        padding-bottom: 0px;
    }    .about-content p {
        padding-right: 5px;
    }
}
@media (max-width: 382px) {
    .main-content h1, .main-content h2{
        font-size: 20px;
    }.main-content {
        margin-right: 110px;
    }.main-img {
        left: 88%;
        top: 72%;
    }
    .main-img img {
        max-width: 170px;
    }    .about-body > .nav-agendar {
        margin: 20px 25px 0 0px;
    }#answer-lembre {
        padding: 0% 0%;
    }  .about-img img {
        padding-bottom: 20px;
    } 
}
@media (max-width: 370px) {
        .about-img img {
        max-width: 130px;
        padding-right: 20px;
        padding-top: 30px;
        padding-left: 0px;
    }div.specialism h1 {
        font-size: 16px;
    }
}@media (max-width: 365px) {
    .main-content {
        margin-right: 100px;
    } .main-img {
        left: 89%;
        top: 73%;
    }.about-img img {
        padding-right: 10px;
    }
    div.specialism h2, div.specialism p {
        font-size: 16px;
    } .depoimento p {
        font-size: 16px;
    }.contact-info p {
       font-size: 14px;
    }
}
@media (max-width: 355px) {
    .about-img img {
        padding-top: 40px;
    }    .about-img img {
        padding-right: 10px;
    }    .about-img img {
        max-width: 120px;
    }.nav-agendar h2 {
        margin: 0px 12%;
    }    .about-content p {
        font-size: 16px;
    }    div.about-content h2, div.about-content h1 {
        font-size: 19px;
    }    .about-img img {
        padding-top: 20px;
    }.answer-options {
        margin: 0px 10px;
    }
}
@media (max-width: 340px) {
.about-content h2 {
        margin-bottom: 5px;
    }div.about-content h2,div.about-content h1{
        font-size: 20px;
    }.about-img img {
        max-width: 120px;
    }    div.about-content {
        padding-right: 5px;
    }
    .main-img {
        top: 78%;
        left: 88%;
    }  #bttn-main{
        margin-left: 15px;
    } .nav-agendar h2 {
        margin: 0px 10%;
    }
        .main-img img {
        max-width: 150px;
    }div.about-content h2, div.about-content h1 {
        font-size: 18px;
    }
        .specialism img {
        width: 70px;
    }    div.specialism h1 {
        font-size: 15px;
    }

}@media (max-width: 330px) {
    div.about-content h2, div.about-content h1 {
        font-size: 16px;
    }
}

@media (max-width: 325px) {
   .nav-agendar h2 {
        margin: 0px 14%;
    }.main-content {
        margin-right: 80px;
    }.main-img {
        top: 80%;
    } 
}










