.main-content{
    margin-right:800px;
    padding-top: 80px; 
}
.main-img {
    position: absolute;
    top: 50%;
    left: 58%;
    transform: translate(-50%, -50%); 
}

.main-img img {
    max-width: 550px;
    height: auto;
}
.main-btn{
    padding-bottom: 50px;
}
.main-content h1,.main-content h2{
    margin-bottom: 10px;
}.main-content h1{
    margin-right: 105px;
}
.main-content p {
    margin-bottom: 20px;
    margin-right: 230px;
}

.main-arrow{
    padding-left: 5px;
    transform: rotate(90deg);
    width: 50px;
}
.nav-agendar{
    display: block;
    padding-left: 95px;
}
.nav-agendar h2{
    text-align: center;
    color: var(--color-h1-span);
    padding-top: 100px;
    margin: 0px 35%;
}
.btn-agendar {
    display: inline-block;
    border-radius: 12px;
    color: var(--color-btn);
    padding: 16px 32px;
    transition: background-color 0.3s ease; 
    background-color: var(--color-bg-button);
}

.btn-agendar:hover {
    background-color: #03666A;
}

.about-bg {
    display: flex;
    padding-top: 80px;
}
.about-img img {
    max-width: 480px;
    height: auto;
    padding-right:300px;
}
.about-content span {
    padding-right: 20px;
}
.about-content h2 {
    margin-bottom: 80px;
}
.about-content p {
    margin-bottom: 80px;
    padding-right: 70px;
   
}
.about-button {
    display: flex;
}.about-bttn {
    display: inline-block;
}
.about-arrow{
    padding-left: 20px;
    transform: rotate(90deg);
}
.about-body > .nav-agendar{
    display: flex;
    margin: 50px 308px 0 245px;
    align-items: end;
    justify-content: right;
}


.service-bg {
    display: flex;
    justify-content: center;
}

.service-content h1{
    letter-spacing: 1.6px
}

.service-content p{
    padding-bottom: 50px;
}

.service-specialism {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: flex-start;
    gap: 250px;
}

.specialism {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.specialism img {
    width: 250px;
    margin-bottom: 20px;
}

.specialism h1{
    margin-bottom: 30px;
}
.specialism h2 {
    color: #7a7a7a;
    font-weight: 500;
}
.specialism p {
    letter-spacing: 2px;
}
.service-button {
    display: flex;
    margin-left: -70%;
}

.service-bttn {
    color: #797979;
    padding-bottom: 100px;
    padding-right: 10px;
}
.service-arrow{
    transform: rotate(90deg);
    padding-left: 0px;
    width: 50px !important;
}
#service-agendar{
    text-align: center;
}
.depoimentos-button{
    display: flex;
}

.depoimentos-button h1{
    text-align: center;
    font-size: 70px;
    letter-spacing: 1.7px;
    color: #0D4253;
    margin: 0px 0px 0px 400px;
    font-weight: 400;

}

.depoimentos-button img{
    width: 100px;
    height: 50px;
}
.depoimentos-img{
    display: flex;
    padding-right: 400px;
    padding-top: 50px;
}

.depoimentos-b {
    background-color: #fff;
    padding: 50px 20px;
    text-align: center;
}

.depoimentos-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.depoimentos-header h1 {
    display: flex;
    text-align: center;
    padding-left: 450px;
}


.depoimentos-buttons{ 
    padding-left: 60px;
    display: flex;
    padding-right: 20px;
}

#bttn-back{
    margin-bottom: 58px;
}

.depoimentos-buttons button {
    background: none;
    border: none;
    cursor: pointer;
}

.depoimentos-buttons img {
    width: 40px;
    height: 40px;
}
.depoimentos-content {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    overflow-x: auto; 
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    scroll-behavior: smooth; 
}

.depoimento {
    padding: 20px;
    box-sizing: border-box;
    text-align: start;
    background-color: #ffff;
    border-radius: 80px;
    box-shadow: 0px 9px 16px #00000029;
    min-width: calc(50% - 40px);
    margin-right: 40px; 
}
.stars {
    color: #FFD700;
    font-size: 40px;
    margin-bottom: 20px;
    margin-left: 30px;
}

.depoimento h2 {
    font-size: 30px;
    font-weight: 600;
    color: #797979;
    margin-bottom: 10px;
    margin-left: 30px;
}

.depoimento p {
    font-size: 30px;
    color: #797979;
    line-height: 1.5;
    margin-left: 30px;
}

.depoimento .author {
    font-size: 26px;
    color: #797979;
    margin-top: 10px;
}

.depoimentos-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.depoimentos-buttons button {
    background: none;
    border: none;
    cursor: pointer;
}

.depoimentos-buttons img {
    width: 40px;
    height: 40px;
}


#bttn-back{
    margin-right:120px;
    width: 80px;
    height: 40px;
    transform: rotate(270deg);
}
#bttn-next{
    transform: rotate(90deg);
    width: 80px;
    height: 40px;
}

.message-bg {
    display: flex;
    align-items: center; 
    background-color: #04878E; 
    padding: 50px 60px;
    border-radius: 56px; 
    margin: 100px 360px;
    box-shadow: 0px 3px 6px #00000029;
}

.message-content h2 {
    font-size: 26px; 
    color: #FFFFFF;
    font-weight: 400;
    padding-bottom: 40px;
}

.message-content h1 {
    font-size: 54px;
    color: #FFFFFF;
    font-weight: 500;
    letter-spacing: 1.7px;
    padding-bottom: 20px;
}

.message-content p {
    font-size: 26px;
    color: #FFFFFF;
    letter-spacing: 0.6px; 
}

.message-button a {
    font-size: 26px;
    color: #FFFFFF;
    background-color: transparent;
    border: 4px solid #FFFFFF;
    padding: 25px 60px;
    border-radius: 24px;
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
    box-shadow: 0px 3px 6px #00000029;
}

.message-button a:hover {
    background-color: #FFFFFF; 
    color: #04878E; }

.answer-bg h2{
    padding-bottom: 50px;
}


#answer-lembre{
    display: flex;
    text-align: center;
    color: var(--color-h1-span);
    font-weight: 500;
    justify-content: center;
    padding: 0% 29%;
    margin-bottom: 70px;
}

.answer-options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    list-style-type: none;
    padding-top: 50px;
    padding-bottom: 100px;
    margin: 0px 220px;
}

.answer-options li {
    display: flex;
    text-align: center;
    flex: 1;
    background-color: #0D4253;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    min-height: 140px;
    max-width: 380px;
}


.answer-options a {
    text-decoration: none;
    color: #FFFFFF;
    display: flex;
    font-weight: 500;
    font-size: 26px;
}

nav#service-agendar{
    padding-left: 0px;
}
.contact-bg span{
    color: #9D9D9D;
    letter-spacing: 1.52px;
}
.contact-bg h2{
    letter-spacing: 1.52px;
}

.contact-bg h1{
    letter-spacing: 1.52px;
}

.contact-content{
    display: flex;
    padding-top: 100px;
}

.contact-img > img{
    border-radius: 106px;
    width: 700px;
}

.contact-info {
    padding-top: 50px;
    text-align: start;
    margin-left: 50px;
}
.contact-info p{
    padding-top: 50px;
    letter-spacing: 1px;
}

.info-andress p{
    padding: 0;
}
.header-search img {
    padding-left: 20px;
}
@media (max-width: 1740px) {
    .main-content {
        margin-right: 650px;
        padding-top: 80px;
    }
}

@media (max-width: 1800px) {
    .main-img {
        left: 64%;
    }
    .main-content p {
        margin-right: 250px;
    }
}


@media (max-width: 1600px) {
    .main-content {
        margin-right: 550px;
        padding-top: 50px;
    }.main-img {
        left: 68%;
        top: 45%;
    }.main-content h1 {
        margin-right:230px;
    }
    .main-img img {
        max-width: 400px;
    }    .main-content p {
        margin-right: 200px;
    }.about-img img {
        max-width: 420px;
        height: auto;
        padding-right: 270px;
    }.specialism img {
        width: 200px;
        margin-bottom: 20px;
    }.stars {
        font-size: 35px;
    }.depoimento h2 {
        font-size: 26px;
    }.depoimento p {
        font-size: 28px;
    }.depoimento .author {
        font-size: 22px;
    }.message-content h2 {
        font-size: 22px;
    }.message-content h1 {
        font-size: 46px;
    }.message-content p {
        font-size: 22px;
    }.message-button a {
        font-size: 24px;
        padding: 20px 40px;
    }.message-bg {
        margin: 100px 280px;
    }
    .depoimentos-header h1 {
        padding-left: 400px;
    }
    .header-search img {
        padding-left: 0px;
        margin-left: 10px;
    }
}@media (max-width: 1440px) {
    .main-content {
        margin-right: 480px;
        padding-top: 20px;
    }.main-img {
        left: 66%;
        top: 46%;
    }.main-img img {
        max-width: 340px
    }    .main-content p {
        margin-right: 280px;
    }.nav-agendar {
        padding-left: 70px;
    }.about-content h2 {
        margin-bottom: 50px;
    }
    .about-img img {
        max-width: 380px;
        height: auto;
        padding-right: 160px;
    }.about-body > .nav-agendar {
        display: flex;
        margin:20px 170px 0 0px;
        align-items: end;
        justify-content: right;
    }
    .specialism img {
        width: 180px;
        margin-bottom: 20px;
    }.service-bttn {
        padding-right: 0px;
    }.service-arrow {
        padding-left: 8px;
        width: 40px !important;
    }
    .stars {
        font-size: 32px;
    }.depoimento h2 {
        font-size: 24px;
    }.depoimento p {
        font-size: 26px;
    }.depoimento .author {
        font-size: 20px;
    }.message-content h2 {
        font-size: 20px;
    }.message-content h2 {
        padding-bottom: 20px;
    }
    .message-content h1 {
        font-size: 42px;
    }.message-content p {
        font-size: 20px;
    }.message-button a {
        font-size: 22px;
        padding: 20px 40px;
    }.message-bg {
        margin: 100px 200px;
        padding-right: 30px;
    }.answer-options a {
        font-size: 20px;
    }.answer-options li {
        min-height: 120px;
        max-width: 320px;
    }.contact-img > img {
        width: 600px;
    }.depoimentos-header h1 {
        padding-left: 340px;
    }.depoimentos-buttons {
        padding-left: 20px;
    }.service-specialism {
        gap: 100px;
    }.main-arrow {
        width: 40px;
    }.about-content p {
        padding-right: 0px;
    }div.about-content{
        padding-right: 30px;
    }
}  @media (max-width: 1350px) {
    .main-content p {
        margin-right: 200px;
    }
}@media (max-width: 1260px) {
    .main-content {
        margin-right: 350px;
        padding-top: 20px;
    }
}


@media (max-width: 1150px) {
    .about-img img {
        padding-right: 100px;
    }.about-body > .nav-agendar {
        margin: 20px 110px 0 0px;
    }
}@media (max-width: 1120px) {
    .main-content {
        margin-right: 380px;
        padding-top: 20px;
    }    .main-content h1 {
        margin-right: 120px;
    }
    .main-img {
        left: 68%;
        top: 50%;
    }.main-img img {
        max-width: 300px
    }.main-content p {
        margin-right: 60px;
    }img.main-arrow {
        width: 35px !important;
    }
    .nav-agendar {
        padding-left: 50px;
    }.about-content h2 {
        margin-bottom: 50px;
    }.nav-agendar h2 {
        margin: 0px 30%;
    }
    .about-img img {
        max-width: 320px;
        height: auto;
        padding-right: 120px;
    }.about-body > .nav-agendar {
        margin:20px 120px 0 0px;
    }
    .specialism img {
        width: 140px;
    }.service-arrow {
        padding-left: 8px;
        width: 30px !important;
    }
    .stars {
        font-size: 28px;
    }.depoimento h2 {
        font-size: 20px;
    }.depoimento p {
        font-size: 22px;
    }.depoimento .author {
        font-size: 18px;
    }.message-content h2 {
        font-size: 20px;
    }.message-content h2 {
        padding-bottom: 20px;
    }
    .message-content h1 {
        font-size: 32px;
    }.message-content p {
        font-size: 18px;
    }.message-button a {
        font-size: 18px;
        padding: 15px 30px;
    }.message-bg {
        margin: 50px 150px;
        padding-right: 30px;
    }.answer-options a {
        font-size: 16px;
    }.answer-options li {
        min-height: 80px;
        max-width: 300px;
    }.contact-img > img {
        width: 440px;
    }.depoimentos-header h1 {
        padding-left: 250px;
    }.depoimentos-buttons {
        padding-left: 20px;
    }.answer-options {
        margin: 0px 120px;
        padding-bottom: 50px;
    }.contact-info p {
        padding-top: 20px;
    }.contact-info {
        padding-top: 20px;
        margin-left: 20px;
    }
    .service-specialism {
        gap: 50px;
    }.main-arrow {
        width: 40px;
    }.about-content p {
        padding-right: 0px;
        margin-bottom: 20px;
    }div.about-content{
        padding-right: 30px;
    }div.depoimentos-b{
        padding-right: 0px;
    }.depoimentos-buttons {
        
    }
}@media (max-width: 1030px) {
    .main-content {
        margin-right: 340px;
        padding-top: 20px;
    }
}
@media (max-width: 970px) {
    .about-img img {
        max-width: 300px;
        height: auto;
        padding-right: 60px;
    }
}@media (max-width: 890px) {
    .main-content p {
        margin-right:20px;
    }
}@media (max-width: 860px) {
    .main-content {
        margin-right: 300px;
    }    .main-img img {
        max-width: 330px;
    }.main-img {
        left: 76%;
        top: 55.5%;
    } 
}@media (max-width: 820px) {
    
}



@media (max-width: 750px) {
    div.main-content {
        margin-right: 270px;
    }.about-img img {
        max-width: 250px;
        padding-bottom: 0px;
        padding-right: 20px;
    }
}@media (max-width: 760px) {
    nav#service-agendar{
        padding-bottom: 20px;
    }.answer-options {
        gap: 20px;
    }
}

@media (max-width: 690px) {
    .service-content h1, .service-content p{
    padding-left: 0px;
    }    div.depoimentos-header h1 {
    padding-left: 100px;
    }    #next-arrow {
    padding: 20px;
    }
    div.stars {
    font-size: 26px;
    }    .depoimento h2 {
    font-size: 26px;
    }.depoimento p {
    font-size: 22px;
    }.depoimento .author {
    font-size: 22px;
    } .answer-options li {
    padding: 14px;
    }.answer-options a {
    padding: 0px 0px;
    font-size: 16px;
    }    .answer-options li {
        min-height: 50px;
    }    .main-img img {
        max-width: 260px !important;
    }
}@media (max-width: 630px) {
    div.main-content {
        margin-right: 235px;
    }
    .about-content span{
        padding-right: 0px;
    }.about-content p{
        margin-bottom: 10px;
    }
}

@media (max-width: 600px) {
    div.main-content {
        margin-right: 200px;
    }    main.main {
        padding-left: 20px;
    }    #main-p {
        margin-right: 30px;
    }    .about-img img {
        max-width: 220px;
    }    div.about-content {
        padding-right: 10px;
        padding-top: 40px;
    }.about-content h2 {
        margin-bottom: 10px;
    }    div.about-content {
        padding-top: 10px;
    }
}@media (max-width: 550px) {
    .main-img img {
        max-width: 220px !important;
    }.main-img {
        top: 62%;
        left: 80%;
    }    #main-p {
        margin-right: 0px;
    }
}@media (max-width: 510px) {
    div.main-content {
        margin-right: 175px;
    }
    div.about-bg{
        display: block;
    }
    div.about-img{
        margin-left: 20px;
    }.about-img img {
        margin: 20px auto;
    }.answer-options {
        gap: 25px;
    }
}
@media (max-width: 480px) {
    #main-p {
        margin-right: 8px;
    }    .main-img img {
        max-width: 200px !important;
    }.main-img {
        top: 59%;
        left: 79%;
    }.about-img img {
        max-width: 200px;
    }nav.message-bg{
        padding-right:10px;
        padding-left: 20px;
    }
}
@media (max-width: 450px) {
    #main-p {
        margin-right: 8px;
    }    .main-img img {
        max-width: 180px !important;
    }.main-img {
        top: 63%;
        left: 80%;
    }    div.main-content {
        margin-right: 155px;
    }.answer-options {
        gap: 15px;
    }    .answer-options a {
        font-size: 12px;
    }
}@media (max-width: 428px) {
    .main-img {
        top: 64.6%;
        left: 80%;
    } 
}@media (max-width: 420px) {
    div.main-content {
        margin-right: 120px;
    }    #main-p {
        margin-right: 25px;
    }    .main-img img {
        max-width: 170px !important;
    }.main-img {
        top: 65.5%;
        left: 80%;
    }     #main-p {
        margin-right: 18px;
        margin-bottom: 5px;
    }    p#answer-lembre {
        padding: 0px 30px;
    }
}@media (max-width: 390px) {
    .main-img {
        top: 63%;
        left: 80%;
    }    .main-img img {
        max-width: 150px !important;
    }
}@media (max-width: 378px) {
    #main-p {
        margin-right: 0px;
        margin-bottom: 5px;
    }
}@media (max-width: 370px) {
    .main-img {
        top: 66%;
        left: 82%;
    }     .contact-content {
        padding-top: 30px;
        display: block;
    }img.contact-map{
        margin: 0px auto;
        margin-bottom: 20px;
    }    .depoimento {
       padding-bottom: 0px;
    }    .depoimento {
        padding-left:10px;
    }

}@media (max-width: 350px) {
    .answer-options {
        gap: 4px;
    }    .answer-options a {
        font-size: 12px;
    } 
}

@media (max-width: 340px) {
    .main-img {
        top: 66%;
        left: 82%;
    }div.main-content {
        margin-right: 108px;
    }main.main {
        padding-top: 0px;
    }
}@media (max-width: 325px) {
    main.main {
        padding-left: 10px;
    }
}










