:root{
    --color-0:#174E5B;
    --color-2: #FFFFFF;
    --color-3: #1F6868;
    --color-4: #AF8B5F;
    --color-5: #752125;
    --color-6: #0D4253;
    --color-7: #1D1D1B;
    --color-8: #04878E;
    --color-9: #438167;
    --color-10: #D8AEA1;
    --color-11: #062938;
    --color-12: #9D2A2C;
}
.cor-0 {
    color: var(--cor-0);
}
  .cor-1 {
    color: var(--cor-1);
  }
  .cor-2 {
    color: var(--cor-2);
  }
  .cor-3 {
    color: var(--cor-3);
  }
  .cor-4 {
    color: var(--cor-4);
  }
  .cor-5 {
    color: var(--cor-5);
  }
  .cor-6 {
    color: var(--cor-6);
  }
  .cor-7 {
    color: var(--cor-7);
  }
  .cor-8 {
    color: var(--cor-8);
  }
  .cor-9 {
    color: var(--cor-9);
  }
  .cor-10 {
    color: var(--cor-10);
  }
  .cor-11 {
    color: var(--cor-11);
  }
  .cor-12 {
    color: var(--cor-12);
}