:root {
  --color-h1-span: #0d4350;
  --color-h2-subtitle: #9d9d9d;
  --color-icon-arrow: #15908f;
  --color-bg-button: #04878f;
  --color-bg-body: white;
  --color-p: #797979;
  --color-bg-division-btn: #0d4252;
  --color-bg-text-span: #a1d5d8;
  --color-btn: #ffffff;
}
p{
  color: var(--color-p);
}
h1,span{
  color: var(--color-h1-span);
}
h2{
  color: var(--color-h2-subtitle);
}
.c-main-btn{
  color: var(--color-p);

}
.h1-span {
  color: var(--color-h1-span);
}
.h2-subtitle {
  color: var(--color-h2-subtitle);
}
.icon-arrow {
  color: var(--color-icon-arrow);
}
.bg-button {
  background-color: var(--color-bg-button);
}
.bg-body {
  background-color: var(--color-bg-body);
}
.color-p {
  color: var(--color-p);
}
.bg-division-btn::before {
  background-color: var(--color-bg-division-btn);
}
.bg-text-span {
  background-color: var(--color-bg-text-span);
}.color-btn {
  color: var(--color-btn);
}

