h1,
h2,
h3,
h4,
ul,
p,
blockquote,
dd {
  margin: 0px;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
    box-sizing: border-box;
    max-width: 100%;
    padding: 55px 5% 0px 5%; 
    margin-left: auto;
    margin-right: auto;
  }

  .main {
    position: relative;
    display: flex;  
    padding-top: 0px;
}
.bg{
    --gradient-split: 59%;
    background: linear-gradient(to right, white var(--gradient-split), #0D4253 var(--gradient-split));
    min-height: 100vh;
    position: relative;
    overflow: hidden; 
}
.bg::before {
    content: '';
    background-image: url("../../assets/icons/Aneis.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
    position: absolute;
    top: 50%;
    left: var(--gradient-split + 5vw);
    transform: translate(149.8%, -40%);
    width: 39vw;
    height: 200%;
}



.ButtonBase__Ellipsis-sc-c390884-5{
    color: white !important;
}
.hjYZnC {
    color: white !important;
}
.iDjQuA{
    margin-top: 100px;
}

.google_reviews h1{
    padding-top: 50px;
    padding-bottom: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
a[href*="elfsight.com"] {
  display: none !important;
}
.cgTEPs{
     color: white !important;
}

.ButtonBase__Ellipsis-sc-c52c0a3c-5{
 color: white !important;

}
@media (min-width: 2000px) {
    .bg::before {
    transform: translate(149.8%, -35%);
    width: 39vw;
    height: 200%;
}
}@media (min-width: 2180px) {
    .bg::before {
    transform: translate(149.8%, -30%);
    width: 39vw;
    height: 200%;
}
}

@media (min-width: 2460px) {
    .main-content p {
        margin-bottom: 20px;
        margin-right: 500px;
    }    .main-content h1 {
        margin-right: 605px;
    }
}@media (min-width: 2590px) {
        .bg::before {
            transform: translate(150%, -25%);
            width: 39vw;
            height: 200%;
        }.main-content p {
        margin-bottom: 20px;
        margin-right: 700px;
    }    .main-content h1 {
        margin-right: 805px;
    }
}@media (min-width: 2820px) {
    .main-content p {
        margin-bottom: 20px;
        margin-right: 900px;
    }    .main-content h1 {
        margin-right: 985px;
    }
}




@media (max-width: 1700px) {
    .bg::before {
        transform: translate(149.6%, -44%);
    }
}@media (max-width: 1500px) {
    .bg::before {
        transform: translate(149.4%, -44%);
    }
}
@media (max-width: 1440px){
    .bg::before {
        transform: translate(155%, -45%);
        height: 200%;
        width: 38vw; 
    }.bg{
        min-height: 100%;
    }
}@media (max-width: 1350px){
    .bg::before {
        transform: translate(155%, -48%);
        height: 200%;
        width: 38vw; 
    }.bg{
        min-height: 100%;
    }
}
@media (max-width: 1005px){
    .bg::before {
        transform: translate(155%, -51%);
        height: 200%;
        width: 38vw; 
    }
    .container {
        box-sizing: border-box;
        max-width: 100%;
        padding: 0px 4% 0px 4%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media(max-width: 750px){
    .bg::before {
        transform: translate(256.4%, -58%);
        height: 100%;
    }
}

@media(max-width: 880px){
    .bg{
        --gradient-split: 62%;
    }.bg::before {
        transform: translate(193.8%, -49%);
        width: 32vw;
        height: 200%;
    }
}@media(max-width: 855px){
    .bg{
        --gradient-split: 62%;
    }.bg::before {
        transform: translate(193.8%, -53%);
        width: 32vw;
        height: 200%;
    }
}@media(max-width: 600px){
   .bg::before {
        top: 54%;
        transform: translate(221.1%, -50%);
        width: 28vw;
        height: 200%;
    } 
}
@media(max-width: 500px){
   .bg::before {
        top: 54%;
        transform: translate(221.1%, -52%);
        width: 28vw;
        height: 120%;
    } 
}
@media(max-width: 455px){
.bg{
    --gradient-split: 72%;
}
.bg::before {
    transform: translate(240%, -56%);
    width: 30vw;
    height: 100%;
}
}@media (max-width: 350px) {
    .bg::before {
        transform: translate(211.4%, -58%);
        height: 100%;
        width: 34vw;
    }
}



