@font-face {
  font-family: 'Neue Kabel';
  src: url('../../assets/fonts/NeueKabel-font/NeueKabel-ExtraLight.woff2') format('woff2'),
      url('../../assets/fonts/NeueKabel-font/NeueKabel-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Neue Kabel';
  src: url('../../assets/fonts/NeueKabel-font/NeueKabel-Light.woff2') format('woff2'),
      url('../../assets/fonts/NeueKabel-font/NeueKabel-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Kabel';
  src: url('../../assets/fonts/NeueKabel-font/NeueKabel-Regular.woff2') format('woff2'),
      url('../../assets/fonts/NeueKabel-font/NeueKabel-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Kabel';
  src: url('../../assets/fonts/NeueKabel-font/NeueKabel-Medium.woff2') format('woff2'),
      url('../../assets/fonts/NeueKabel-font/NeueKabel-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Kabel';
  src: url('../../assets/fonts/NeueKabel-font/NeueKabel-Thin.woff2') format('woff2'),
      url('../../assets/fonts/NeueKabel-font/NeueKabel-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Kabel';
  src: url('../../assets/fonts/NeueKabel-font/NeueKabel-Black.woff2') format('woff2'),
      url('../../assets/fonts/NeueKabel-font/NeueKabel-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Kabel Book';
  src: url('../../assets/fonts/NeueKabel-font/NeueKabel-Book.woff2') format('woff2'),
      url('../../assets/fonts/NeueKabel-font/NeueKabel-Book.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Neue Kabel';
  src: url('../../assets/fonts/NeueKabel-font/NeueKabel-ExtraBold.woff2') format('woff2'),
      url('../../assets/fonts/NeueKabel-font/NeueKabel-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.font-ti{
  font: 500 4.4rem/1.5 "Neue Kabel", sans-serif;
}.font-ti-c{
  font: 500 4rem/1.5 "Neue Kabel", sans-serif;
}
.font-t{
  font: 400 2.2rem/1.5 "Neue Kabel", sans-serif;
}  
.font-b{
  font: 400 2.4rem/1.5 "Neue Kabel", sans-serif;
}
.font-menu{
  font: 500 2rem/1.5 "Neue Kabel", sans-serif;
  color: var(--color-h2-subtitle);
}
.font-span{
  font: 500 2.8rem/1.5 "Neue Kabel", sans-serif;
}

.font-logo{
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 8px;
  color:#174E5B;
}
.font-logo-text{
  font-size: 10px;
  letter-spacing: 1px;
  word-spacing: 5px;
  color:#174E5B;
} 

