.form-message {
    position: fixed;
    top: 70px;
    right: 20px;
    background: #4CAF50;
    color: white;
    padding: 15px;
    border-radius: 4px;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s, transform 0.3s;
    z-index: 1000;
}
  
  .form-message.show {
    opacity: 1;
    transform: translateY(0);
  }
  
  .form-message.error {
    background: #f44336;
  }

  .form-message div{
   
  }