.bg__a{
    background: linear-gradient(to right, white 56%, #0D4253 35%);
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}



.bg__a::before {
    content: '';
    background-size: contain;
    background-image: url("../../assets/icons/Aneis.png");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 55%;
    left: 69.9%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 80%;
}

.main__a{
    position: relative;
    display: flex;
    padding: 20px;
    padding-bottom: 60px;
}

.main-content__a{
    margin-left: 50px;
    margin-right: 600px;
}
.main-img__a{
    position: absolute;
    top: 55%;
    left: 78%;
    transform: translate(-50%, -50%);
}

.main-img__a img {
    max-width: 836px;
    height: 100%;
    transform:scaleX(-1);
}

.main-content__a h1 {
    font-size: 76px; 
    font-weight: 500;
    margin-bottom: 10px;
    color: #0D4253;
    letter-spacing: 1.52px;
    margin-right: 240px;
}
.main-content__a span{
    color: #9D9D9D;
    letter-spacing: 1.52px;
}

.main-content__a #text__a{
    margin-bottom: 60px;
}

.main-content__a p {
    font-size:43px;
    margin-right: 200px;
    color: #797979;
    letter-spacing: 0.86px;
    margin-right: 300px;

}

.main-button{
    display: flex;
}
.main-btn{
    font-size: 43px;
    display: inline-block;
    text-decoration: none;
    color: #797979;
}
.main-arrow{
    padding-left: 20px;
    transform: rotate(90deg);
}

.nav-agendar__a{
    display: block;
    padding-top: 100px;
}
.nav-agendar__a h2{
    text-align: center;
    font-size: 55px;
    font-weight: 500;
    color: #0D4253;
    padding: 100px 30% 0px 30%;
}





.qualify-bg h1, span{
    font-size: 76px;
    color: #0D4253;
    font-weight: 500;
    letter-spacing: 1.52px;
}
.qualify-bg h2{
    font-size: 76px;
    color: #9D9D9D;
    font-weight: 500;
    letter-spacing: 1.52px;
    padding-bottom: 50px;
}

.speciality-content{
    display: flex;
}
.speciality-content p{
    font-size: 43px;
    padding-right: 270px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-top: 20px;
    color: #797979;
}

.speciality-content > img{
    width: 120px;
    height: 120px;
    padding-bottom: 40px;
}


.how-bg h1{
    font-size: 76px;
    color: #0D4253;
    letter-spacing: 1.52px;
    font-weight: 500;
    padding-top: 150px;
}
.how-bg span{
    font-size: 76px;
    color: #9D9D9D;
    letter-spacing: 1.52px;
    font-weight: 500;

}

.how-bg p{
    font-size: 43px;
    color: #797979;
    letter-spacing: 0.86px;
    font-weight: 500;
    padding-right: 250px;
    padding-top: 100px;
}


.how-bg-img { 
    display: flex;
}
.how-bg-img  img{
    border-radius: 56px !important;
}
#how-bg__one{
    margin-top: -140px;
    margin-bottom: -160px;
}
#how-img__one{
    width: 900px;
    height: 856px;
}
.how-bg-img > p{
    padding-left: 70px;
    display: flex;
    text-align: start;
    align-items: center;
    padding-right: 580px;
}
#how-text__two {
    text-align: end;
    margin-right: -500px;
    margin-left: 300px;
    position: relative;
    z-index: 1;
}

#how-text__two::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 6%;
    width: 50%;
    height: 52%; 
    background-color: #a2d5d7;
    z-index: -1; 
    border-radius: 56px; 
}
#how-img__two{
    margin-right: 50px;
}

