.bg__c{
    background: linear-gradient(to right, white 54%, #0D4253 35%);
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}



.bg__c::before {
    content: '';
    background-size: contain;
    background-image: url("../../assets/icons/Aneis.png");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 55%;
    left: 70.3%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 80%;
}

.main-img__c{
    padding-left: 50px;
    padding-top: 20px;
}

.main-img__c img {
    max-width: 886px;
    height: 80%;
}


.main-content__c h1{
    font-size:76px;
    letter-spacing: 1.52px;
    color: #062938;
    font-weight: 500;
}
.main-content__c span{
    color: #062938;
}


.main-content__c h2{
    font-size:76px;
    letter-spacing: 1.52px;
    color: #797979;
    font-weight: 500;
    padding-right: 900px;
}


.contact-tel{
    display: flex;
    justify-content: space-between; 
}

.contact-tel img{
    padding-right: 120px;
}

.contact-tel p {
    padding: 0;
    margin: 0;
    font-size: 56px;
    letter-spacing: 1.52px;
    color: #062938;
    font-weight: 500;
    padding-bottom: 20px;
}

.contact-bg{
    padding-top: 300px;
}

.contact-info {
    position: relative;
}

.marca-dagua {
    position: absolute;
    top: 15%;
    left: 18%;
    transform: translate(-50%, -50%);
    z-index: -1;
    height: auto; 
}


.contact-tel h1 {
    position: relative;
    padding-bottom: 40px;
    font-size: 56px;
    color: #062938;
    z-index: 1;
}

.contact-info-c {
    position: relative; 
    margin-bottom: 50px;
    margin-top: 100px;
}

.marca-dagua-two {
    position: absolute;
    top: 10%;
    left: 2%;
    transform: translate(-50%, -50%);
    z-index: -1;
    height: auto;
    min-width: 156px;
}

.contact-info-c h1 {
    position: relative;
    padding-bottom: 20px;
    font-size: 56px;
    color: #062938;
    z-index: 1;
}

.contact-info-c p {
    padding: 0;
    margin: 0;
    font-size: 56px;
    letter-spacing: 1.52px;
    color: #062938;
    font-weight: 500;
    padding-bottom: 10px;
    z-index: 1;
}

#contact-address{
    display: flex;
    justify-content: space-between;
}

.nav-agendar__c{
    display: flex;
    padding-top: 100px;
    justify-content: center;
    padding-bottom: 100px;
    padding-left: 50px;
}
.nav-agendar__c h2{
    text-align: center;
    font-size: 55px;
    font-weight: 500;
    color: #0D4253;
    padding: 100px 30% 0px 30%;
}


.contact-info-c img{
    border-radius: 56px;
    margin-right: 120px;
}

.contact-form {
    color: #062938;
}

.contact-form h2 {
    font-size: 57px;
    font-weight: 500;
    letter-spacing: 6.84px;
    color: #062938;
    margin-bottom: 20px;

}


.form-columns-c {
    display: flex;
    gap: 100px;
}

.form-column-c {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 300px;

}

.form-column-c input,
.form-column-c textarea,
.form-column-c button {
    width: 100%;
    padding: 10px;
    border: 1px solid #EDEDED; 
    background-color: #EDEDED;
    border-radius: 8px;
    font-size: 18px;
    color: #646464;
}

.form-column-c input {
    display: flex;
    font-size: 23px;
    margin-bottom: 50px;
    height: 120px;
}

.form-column-c textarea {
    font-size: 24px;
    height: 310px;
    resize: none;

}

.form-column-c button {
    width: 190px;
    height: 70px;
    background-color: #04878E;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 26px;
    letter-spacing: 2px;
    margin-top: 130px;

}

.form-column-c button:hover {
    background-color: #0d5c74;
}

@media (max-width: 1670px) {
    .bg__c {
        background: linear-gradient(to right, white 58%, #0D4253 42%);
        min-height: 100%;
    }
    .bg__c::before {
        top: 55%;
        left: 74.9%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 70%;
    }
    .main-content__c span {
        color: #062938;
    }
    .main-content__c h1, .main-content__c h2 {
        font-size: 70px;
    }
    .main-content__c h2 {
        letter-spacing: 1.52px;
        font-weight: 500;
        padding-right: 800px;
        color: #797979;
    }
}

@media (max-width: 1530px) {
    .bg__c::before {
        left: 75.9%;
    }
    .main-content__c h1, .main-content__c h2 {
        font-size: 70px;
    }
    .main-content__c span {
        color: #062938;
    }
}

@media (max-width: 1510px) {
    .bg__c::before {
        left: 75.1%;
    }
    .main-content__c h1, .main-content__c h2 {
        font-size: 66px;
    }
    .main-content__c h2 {
        padding-right: 700px;
    }
    .marca-dagua {
        top: 15%;
        left: 18%;
    }
    .marca-dagua-two {
        top: 8%;
        left: 4%;
        min-width: 140px;
    }
    .main-img__c img {
        max-width: 700px;
        height: 80%;
    }
}

@media (max-width: 1410px) {
    .bg__c::before {
        left: 74.8%;
    }
    .main-content__c h1, .main-content__c h2 {
        font-size: 62px;
    }
    .main-content__c h2 {
        padding-right: 700px;
    }
    .main-img__c img {
        max-width: 600px;
        height: 80%;
    }
}

@media (max-width: 1340px) {
    .bg__c::before {
        left: 75.4%;
    }
    .main-content__c h1, .main-content__c h2 {
        font-size: 58px;
    }
    .main-content__c h2 {
        padding-right: 600px;
    }
    .main-img__c img {
        max-width: 600px;
        height: 80%;
    }
    .contact-info-c h1 {
        font-size: 50px;
    }
    nav.contact-bg.container h1, nav.contact-bg.container p {
        font-size: 46px;
    }
    nav.contact-bg.container img {
        padding-right: 40px;
    }
    a.btn-agendar {
        font-size: 26px;
    }
    .marca-dagua {
        top: 2%;
        left: 19%;
    }
    .marca-dagua-two {
        top: 6%;
        left: 4%;
        min-width: 120px;
    }
}

@media (max-width: 1280px) {
    .bg__c {
        background: linear-gradient(to right, white 59%, #0D4253 41%);
        min-height: 100%;
    }
    .bg__c::before {
        left: 75.4%;
    }
    div.main-content__c.container h1, div.main-content__c.container span, div.main-content__c.container h2 {
        font-size: 50px;
    }
    .main-img__c img {
        max-width: 500px;
        height: 80%;
    }
    .marca-dagua {
        top: 2%;
        left: 13%;
        max-width: 120px;
    }
    .marca-dagua-two {
        top: 7%;
        left: 6%;
        max-width: 80px;
    }
}

@media (max-width: 1150px) {
    .bg__c {
        background: linear-gradient(to right, white 60%, #0D4253 40%);
        max-height: 100%;
    }
    .bg__c::before {
        left: 75.4%;
        height: 60%;
    }
    a.btn-agendar {
        font-size: 23px;
    }
    nav.contact-bg.container h1, nav.contact-bg.container p {
        font-size: 40px;
    }
    nav.contact-bg.container img {
        max-width: 500px;
        padding-right: 40px;
    }
    .marca-dagua {
        top: 2%;
        left: 13%;
        max-width: 120px !important;
    }
    .marca-dagua-two {
        top: 7%;
        left: 6%;
        max-width: 60px !important;
    }
    .main-content__c h1, .main-content__c h2 {
        font-size: 58px;
    }
    .main-content__c h2 {
        padding-right: 500px;
    }
}

@media (max-width: 1050px) {
    div.main-content__c.container {
        padding-left: 20px;
        padding-right: 0px;
    }
    div.main-img__c{
        padding-left: 20px;
    }
    div.main-content__c.container h1{
        font-size: 44px;
    }
    div.main-content__c.container h2{
        font-size: 44px;
    }
    nav.contact-bg.container{
        padding-right: 0px;
    }
    nav.contact-bg.container img{
        width: 460px;
        padding-right: 10px;
    }
    .contact-form h2 {
        font-size: 40px;
        letter-spacing: 4px;
        margin-bottom: 15px;
    }
    .form-columns-c {
        gap: 20px;
        flex-direction: column; 
    }
    .form-column-c {
        max-width: 850px;
    }

    .form-column-c input {
        font-size: 20px;
        margin-bottom: 40px;
        height: 90px;
    }

    .form-column-c textarea {
        font-size: 20px;
        height: 250px;
    }
    .form-column-c button {
        width: 160px;
        height: 60px;
        font-size: 22px;
        margin-top: 100px;
    }
}
@media (max-width: 970px) {
    .bg__c {
        background: linear-gradient(to right, white 60%, #0D4253 40%);
        max-height: 100%;
    }
    .bg__c::before {
        left: 76%;
        height: 60%;
    }
}

@media (max-width: 930px) {
    .bg__c {
        background: linear-gradient(to right, white 60%, #0D4253 40%);
        max-height: 100%;
    }
    .bg__c::before {
        left: 75%;
        height: 55%;
    }
    div.main-content__c.container h1{
        font-size: 40px;
    }
    div.main-content__c.container h2{
        font-size: 40px;
    }    
    .main-img__c img {
        max-width: 450px;
        height: 70%;
    }

    .form-column-c {
        max-width: 700px;
    }

}
@media (max-width: 870px) {
    .bg__c::before {
        left: 76%;
        height: 55%;
    }
    div.main-content__c.container h1{
        font-size: 36px;
    }
    div.main-content__c.container h2{
        font-size: 36px;
        padding-right: 370px;
    }    
    .main-img__c img {
        max-width: 400px;
        height: 70%;
    }
    nav.contact-bg.container img{
        width: 360px;
    }
    nav.nav-agendar__c{
        padding-left: 0px;
        padding-top: 40px;
    }
    a.btn-agendar{
        font-size: 20px;
    }
    nav.contact-bg.container p{
        font-size: 30px;
    }
    nav.contact-bg.container img{
        margin-right: 20px;
    }
    div.contact-form.container h2{
        font-size: 46px;
    }

    div.stars-p{
        font-size: 46px;
        margin-bottom: 20px;
    }
    div.depoimento-p p{
        font-size: 32px;
        margin-left: 0px;
    }
    div#depoimentos-content-p.depoimentos-content-p{
        padding-bottom: 0px;
    }
}

@media (max-width: 760px) {
    .bg__c::before {
        left: 84%;
        height: 55%;
    }
    div.main-content__c.container h1{
        font-size: 32px;
    }
    div.main-content__c.container h2{
        font-size: 32px;
        padding-right: 320px;
    }    
    .main-img__c img {
        max-width: 400px;
        height: 70%;
    }
    nav.contact-bg.container img{
        width: 360px;
    }
    .bg__c {
        background: linear-gradient(to right, white 68%, #0D4253 37%);
        max-height: 100%;
    }
    .bg__c::before {
        width: 30%;
    }
    a.btn-agendar{
        padding: 12px 28px;
        font-size: 18px;
    }
    .contact-form h2 {
        font-size: 38px !important; 
        letter-spacing: 4px;
        margin-bottom: 15px;
    }
    .form-columns-c {
        gap: 20px;
        flex-direction: column; 
    }
    .form-column-c {
        max-width: 560px;
    }

}