.bg__c{
    --gradient-split: 54.5%;
    background: linear-gradient(to right, white var(--gradient-split), #0D4253 var(--gradient-split));
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}
.bg__c::before {
    content: '';
    background-image: url("../../assets/icons/Aneis.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
    position: absolute;
    top: 57.5%;
    left: var(--gradient-split + 5vw);
    transform: translate(215.9%, -56%);
    width: 25vw;
    height: 78%;
    max-width: 600px;
}

.main-img__c {
    padding-left: 3vw;
}
.main-img__c img { 
    max-width: 100%; 
    height: auto;    
    width: 100%; 
    max-width: 51.06vw;
}

div.main-content__c{
    padding-top: 0px;
}
.main-content__c h1{
    font-size:76px;
    letter-spacing: 1.52px;
    color: #062938;
    font-weight: 500;
}
.main-content__c span{
    color: #062938;
}


.main-content__c h2{
    font-size:76px;
    letter-spacing: 1.52px;
    color: #797979;
    font-weight: 500;
    padding-right: 900px;
}


.contact-tel{
    display: flex;
    justify-content: space-between; 
}

.contact-tel img{
    padding-right: 120px;
}

.contact-tel p {
    padding: 0;
    margin: 0;
    font-size: 56px;
    letter-spacing: 1.52px;
    color: #062938;
    font-weight: 500;
    padding-bottom: 20px;
}

.contact-bg{
    padding-top: 150px;
}

.contact-info {
    position: relative;
}

.marca-dagua {
    position: absolute;
    top: 15%;
    left: 18%;
    transform: translate(-50%, -50%);
    z-index: -1;
    height: auto; 
}


.contact-tel h1 {
    position: relative;
    padding-bottom: 40px;
    font-size: 56px;
    color: #062938;
    z-index: 1;
}

.contact-info-c {
    position: relative; 
    margin-bottom: 50px;
    margin-top: 100px;
}

.marca-dagua-two {
    position: absolute;
    top: 10%;
    left: 2%;
    transform: translate(-50%, -50%);
    z-index: -1;
    height: auto;
    min-width: 156px;
}

.contact-info-c h1 {
    position: relative;
    padding-bottom: 20px;
    font-size: 56px;
    color: #062938;
    z-index: 1;
}

.contact-info-c p {
    padding: 0;
    margin: 0;
    font-size: 56px;
    letter-spacing: 1.52px;
    color: #062938;
    font-weight: 500;
    padding-bottom: 10px;
    z-index: 1;
}

#contact-address{
    display: flex;
    justify-content: space-between;
}

.nav-agendar__c{
    display: flex;
    padding-top: 100px;
    justify-content: center;
    padding-bottom: 100px;
    padding-left: 50px;
}
.nav-agendar__c h2{
    text-align: center;
    font-size: 55px;
    font-weight: 500;
    color: #0D4253;
    padding: 100px 30% 0px 30%;
}


.contact-info-c img{
    border-radius: 56px;
    margin-right: 120px;
}

.contact-form {
    color: #062938;
}

.contact-form h2 {
    font-size: 57px;
    font-weight: 500;
    letter-spacing: 6.84px;
    color: #062938;
    margin-bottom: 20px;

}


.form-columns-c {
    display: flex;
    gap: 100px;
}

.form-column-c {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 300px;

}

.form-column-c input,
.form-column-c textarea,
.form-column-c button {
    width: 100%;
    padding: 10px;
    border: 1px solid #EDEDED; 
    background-color: #EDEDED;
    border-radius: 8px;
    font-size: 18px;
    color: #646464;
}

.form-column-c input {
    display: flex;
    font-size: 23px;
    margin-bottom: 50px;
    height: 120px;
}

.form-column-c textarea {
    font-size: 24px;
    height: 310px;
    resize: none;

}

.form-column-c button {
    width: 190px;
    height: 70px;
    background-color: #04878E;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 26px;
    letter-spacing: 2px;
    margin-top: 130px;
}
.nav-agendar__c-two{
    display: none;
}

.form-column-c button:hover {
    background-color: #0d5c74;
}
.contact-img-contato2_two{
    display: none;
}@media (max-width: 1780px) {
    .main-content__c h1 {
        font-size: 70px;
    }
}
@media (max-width: 1670px) {
    .main-content__c span {
        color: #062938;
    }
    .main-content__c h1, .main-content__c h2 {
        font-size: 70px;
    }
    .main-content__c h2 {
        letter-spacing: 1.52px;
        font-weight: 500;
        padding-right: 800px;
        color: #797979;
    }
}@media (max-width: 1600px){
    .main-content__c h1, .main-content__c h2 {
        font-size: 66px;
    }
}

@media (max-width: 1530px) {
    .main-content__c h1, .main-content__c h2 {
        font-size: 62px;
    }
    .main-content__c span {
        color: #062938;
    }
}@media (max-width: 1511px) {
    .main-content__c h2 {
        padding-right: 700px;
    }
    .marca-dagua {
        top: 15%;
        left: 18%;
    }
    .marca-dagua-two {
        top: 8%;
        left: 4%;
        min-width: 140px;
    }
}@media (max-width: 1440px) {
    .bg__c::before {
        transform: translate(181.4%, -51%);
        width: 30vw;
    }.main-img__c img { 
        max-width: 51.55vw;
    }.main-content__c h2 {
        padding-bottom: 22px;
    }
}@media (max-width: 1415px) {
    .main-content__c h1, .main-content__c h2 {
        font-size: 52px;
    }
    .main-content__c h2 {
        padding-right: 700px;
    }.bg__c::before {
        height: 75%;
    }
}@media (max-width: 1340px) {

    .main-content__c h1, .main-content__c h2 {
        font-size: 58px;
    }
    .main-content__c h2 {
        padding-right: 600px;
    }
    .contact-info-c h1 {
        font-size: 50px;
    }
    nav.contact-bg.container h1, nav.contact-bg.container p {
        font-size: 46px;
    }
    nav.contact-bg.container img {
        padding-right: 40px;
    }
    a.btn-agendar {
        font-size: 26px;
    }
    .marca-dagua {
        top: 2%;
        left: 19%;
    }
    .marca-dagua-two {
        top: 6%;
        left: 4%;
        min-width: 120px;
    }
}@media (max-width: 1280px) {
    div.main-content__c.container h1, div.main-content__c.container span, div.main-content__c.container h2 {
        font-size: 50px;
    }
    .marca-dagua {
        top: 2%;
        left: 13%;
        max-width: 120px;
    }
    .marca-dagua-two {
        top: 7%;
        left: 6%;
        max-width: 80px;
    }div.main-content__c {
        padding-top: 100px;
    }.bg__c::before {
        height: 68%;
    }
}@media (max-width: 1150px) {
    a.btn-agendar {
        font-size: 23px;
    }
    nav.contact-bg.container h1, nav.contact-bg.container p {
        font-size: 40px;
    }
    nav.contact-bg.container img {
        max-width: 500px;
        padding-right: 40px;
    }
    .marca-dagua {
        top: 2%;
        left: 13%;
        max-width: 120px !important;
    }
    .marca-dagua-two {
        top: 7%;
        left: 6%;
        max-width: 60px !important;
    }
    .main-content__c h1, .main-content__c h2 {
        font-size: 58px;
    }
    .main-content__c h2 {
        padding-right: 500px;
    }
    div.main-content__c.container h1{
        padding-right: 500px;
    }
}@media (max-width: 1050px) {
    div.main-content__c.container {
        padding-left: 20px;
        padding-right: 0px;
    }
    div.main-content__c.container h1{
        font-size: 44px;
    }
    div.main-content__c.container h2{
        font-size: 44px;
    }
    nav.contact-bg.container{
        padding-right: 0px;
    }
    nav.contact-bg.container img{
        width: 460px;
        padding-right: 10px;
    }
    .contact-form h2 {
        font-size: 40px;
        letter-spacing: 4px;
        margin-bottom: 15px;
    }
    .form-columns-c {
        gap: 20px;
        flex-direction: column; 
    }
    .form-column-c {
        max-width: 850px;
    }

    .form-column-c input {
        font-size: 20px;
        margin-bottom: 40px;
        height: 90px;
    }

    .form-column-c textarea {
        font-size: 20px;
        height: 250px;
    }
    .form-column-c button {
        width: 160px;
        height: 60px;
        font-size: 22px;
        margin-top: 100px;
    }
}@media (max-width: 970px) {
    div.main-content__c.container h1 {
        padding-right: 450px;
    }
}@media (max-width: 930px) {
    div.main-content__c.container h1{
        font-size: 40px;
    }
    div.main-content__c.container h2{
        font-size: 40px;
    }    
    .form-column-c {
        max-width: 700px;
    }
}@media (max-width: 900px) {
    .bg__c{
      min-height: 100%;
    }div.main-content__c {
        padding-top: 0px;
    }
}
@media (max-width: 870px) {
    div.main-content__c.container h1{
        font-size: 36px;
    }
    div.main-content__c.container h2{
        font-size: 36px;
        padding-right: 370px;
    }    
    nav.contact-bg.container img{
        width: 360px;
    }
    nav.nav-agendar__c{
        padding-left: 0px;
        padding-top: 40px;
    }
    a.btn-agendar{
        font-size: 20px;
    }
    nav.contact-bg.container p{
        font-size: 30px;
    }
    nav.contact-bg.container img{
        margin-right: 20px;
    }
    div.contact-form.container h2{
        font-size: 46px;
    }

    div.stars-p{
        font-size: 46px;
        margin-bottom: 20px;
    }
    div.depoimento-p p{
        font-size: 32px;
        margin-left: 0px;
    }
}@media (max-width: 760px) {
    div.main-content__c.container h1{
        font-size: 32px;
    }
    div.main-content__c.container h2{
        font-size: 28px;
        padding-right: 320px;
    }    
    nav.contact-bg.container img{
        width: 360px;
    }
    a.btn-agendar{
        padding: 12px 28px;
        font-size: 20px;
    }
    .contact-form h2 {
        font-size: 38px !important; 
        letter-spacing: 4px;
        margin-bottom: 15px;
    }
    .form-columns-c {
        gap: 20px;
        flex-direction: column; 
    }
    .form-column-c {
        max-width: 560px;
    }
    nav.contact-bg.container img {
        margin-right: 0px;
        width: 300px;
    }
}@media(max-width:668px){
    #agendar-c{
        font-size: 18px;
    }
}
@media(max-width:650px){
    div.main-content__c.container h2{
        padding-right: 290px;
    }nav.contact-bg.container{
        padding-left: 10px;
    }nav.contact-bg.container h1{
        font-size: 34px;
    }nav.contact-bg.container p{
        font-size: 24px;
    }nav.contact-bg.container img {
        margin-right: 0px;
        width: 240px;
    }nav.nav-agendar__c{
        padding-top: 0px;
    }div.main-content__c.container{
        padding-left:10px;
    }
    .form-column-c input,
    .form-column-c textarea,
    .form-column-c button {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        width: 400px;
    }

}@media(max-width:650px){
    div.main-content__c.container h1{
        font-size: 28px;
        padding-right: 300px;
    }
}
@media(max-width:560px){
    div.stars-p{
        font-size: 40px;
        margin-left: 0px;
    }
    div.depoimento-p p{
        font-size: 28px;
    }
    div.depoimento-p{
        padding-bottom: 0px;
    }div.main-content__c.container h1{
        font-size: 28px;
        padding-right: 210px;
    }div.main-content__c.container h2{
        font-size: 28px;
        padding-right: 250px;
    }
}@media(max-width:564px){
    #agendar-c{
        font-size: 16px;
    }
}
@media(max-width:520px){
    nav.contact-bg.container img {
        margin-right: 0px;
        padding-right: 10px;
        width: 220px;
    }
}@media(max-width:500px){
    nav.contact-bg.container img {
        width: 180px;
        padding: 10px;
    }
}

@media(max-width:483px){
    nav.contact-bg.container img {
        width: 180px;
        padding: 2px;
    }
    div.contact-form.container h2{
        font-size: 30px;
    }
    .form-column-c input,
    .form-column-c textarea,
    .form-column-c button {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        width: 300px;
    }div.main-content__c.container h2 {
        padding-right: 220px;
    }
}
@media(max-width:482px){
    div.main-content__c.container h1{
        font-size: 28px;
        padding-right: 150px;
    }
}@media(max-width:445px){
    .nav-agendar__c{
        display: none;
    }
    .nav-agendar__c-two{
        padding-top: 10px;
        display: flex;
        justify-content: end;
        padding-right: 5px;
    }
}
@media(max-width:438px){
  div.contact-info-c h1{
        font-size: 30px !important;
    }
    nav.contact-bg.container h1 {
        font-size: 28px;
    }
    div.contact-img-contato2 img{
        width: 240px !important;
        height: 280px;
    }
    .nav-agendar__c{
        display: none;
    }
    .nav-agendar__c-two{
        padding-top: 10px;
        display: flex;
        justify-content: end;
        padding-right: 5px;
    }
}
@media(max-width:438px){
    div.contact-info-c h1{
        font-size: 30px !important;
    } div.contact-info-c p{
        font-size: 20px !important;
    }
    div.depoimentos-b-p.container{
        padding-bottom: 0px;
    }
}@media(max-width:431px){
    div.main-content__c.container h2 {
        font-size: 22px;
    }div.main-content__c.container span{
        font-size: 22px;
    }
}@media(max-width:415px){
    div.main-content__c.container h1{
        font-size: 24px;
        padding-right: 200px;
    }div.main-content__c.container h2{
        font-size: 24px;
        padding-right: 190px;
    }
    div.contact-info-c h1{
        font-size: 30px !important;
    }

    nav.contact-bg.container h1 {
        font-size: 28px;
    }
    div.contact-img-contato2 img{
        width: 240px !important;
        height: 280px;
    }
    nav.contact-bg.container img {
            margin-right: 20px;
            padding-right: 0px;
            width: 180px;
    }
    nav.contact-bg.container p#text-email{
        font-size: 16px !important;
    }
    .nav-agendar__c{
        display: none;
    }
    .nav-agendar__c-two{
        padding-top: 10px;
        display: flex;
    }
    nav.contact-bg.container p {
        font-size: 20px;
    }.nav-agendar__c-two{
        padding-top: 10px;
        display: flex;
        justify-content: end;
        padding-right: 20px;
    }
}@media(max-width:400px){
    div.contact-img-contato2 img {
        width: 200px !important;
        height: 250px;
    }
    a.btn-agendar {
        padding: 12px 28px;
        font-size: 18px;
    }
}
@media(max-width:380px){
    div.contact-info-c h1{
        font-size: 30px !important;
    } div.contact-info-c p{
        font-size: 20px !important;
    }
    div.depoimentos-b-p.container{
        padding-bottom: 0px;
    }
} @media(max-width:391px){
    nav.contact-bg.container p{
        padding-bottom: 0px;
        font-size: 20px;
    }
}@media(max-width:367px){
    div.main-content__c.container h2 {
        padding-right: 165px;
    }
}
@media(max-width:361px){
    .nav-agendar__c-two{
        padding-top: 10px;
        display: flex;
        justify-content: center;
        padding-right: 10px;
    }#agendar-c{
        font-size: 18px;
    }
    .contact-img-contato2{
        display: none;
    }
    .contact-img-contato2_two{
        padding-top: 20px;
        display: flex;
    }
    #contact-img_two img{
        display: flex;
    }
    nav.contact-bg.container p {
        padding-bottom: 10px;
        font-size: 24px;
    }
}@media(max-width:345px){
    div.main-content__c.container h2 {
        padding-right: 155px;
    }div.main-content__c.container h1 {
        padding-right: 150px;
    }
}
@media(max-width:330px){
a.btn-agendar {
    padding: 12px 28px;
    font-size: 16px;
}
}