.bg__c{
    --gradient-split: 56%;
    background: linear-gradient(to right, white var(--gradient-split), #0D4253 var(--gradient-split));
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}
.bg__c::before {
    content: '';
    background-image: url("../../assets/icons/Aneis.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
    position: absolute;
    top: 57.5%;
    left: var(--gradient-split + 5vw);
    transform: translate(231.1%, -48%);
    width: 24vw;
    height: 150%;
    max-width: 600px;
}

.main-img__c {
    position: absolute;
    top: 70%;
    left: 64%;
    transform: translate(-50%, -50%); 
}
.main-img__c img {
    max-width: 500px;
}
div.main-content__c{
    padding-top: 0px;
}
.main-content__c h1{
    padding-top: 50px;
}
.main-content__c span{
    color: #062938;
}
.main-content__c p{
    font-size: 38px;
}
.main-content__c h2{
    padding-right: 650px;
}
.contact-bg{
    padding-top: 100px;
}
.contact-info {
    position: relative;
}
.marca-dagua{
    position: absolute;
    top: 83.4% !important;
    left: 7.5%;
    transform: translate(-60%, -50%);
    z-index: 0;
    width: 140px;
    height: auto; 
}div.contact-info__main h1 {
    position: relative;
    z-index: 0;
}
.contact-info-c {
    position: relative; 
    margin-bottom: 50px;
    margin-top: 100px;
}
.marca-dagua-two {
    position: absolute;
    top: 20%;
    left: 2%;
    transform: translate(-50%, -50%);
    z-index: -1;
    height: auto;
    min-width: 156px;
}
#endereco{
        padding-top: 50px;
        padding-bottom: 5px;
    }
.contact-info-c h1 {
    position: relative;
    padding-bottom: 20px;
    font-size: 70.4px;
    color: #028292;
}

.contact-info-c p {
    color: #062938;
    padding-bottom: 10px;
    z-index: 1;
    font-weight: 500;
}

#contact-address{
    display: flex;
    justify-content: space-between;
}

.nav-agendar__c{
    display: flex;
    padding-top: 100px;
    justify-content: start;
    padding-left: 100px;
}
.contact-info-c img{
    border-radius: 16px;
    margin-right: 120px;
}
.contact-form {
    color: #062938;
}

.contact-form h2 {
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 3px;
    color: #062938;
    margin-bottom: 20px;
}
.form-columns-c {
    display: flex;
    gap: 100px;
}

.form-column-c {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 300px;
}

.form-column-c input,
.form-column-c textarea,
.form-column-c button {
    width: 100%;
    padding: 10px;
    border: 1px solid #EDEDED; 
    background-color: #EDEDED;
    border-radius: 8px;
    font-size: 18px;
    color: #646464;
}

.form-column-c input {
    display: flex;
    font-size: 28.8px;
    margin-bottom: 50px;
    height: 120px;
}
.form-column-c textarea {
    font-size:28.8px;
    height: 310px;
    resize: none;
}

.form-column-c button {
    width: 250px;
    height: 70px;
    background-color: #04878E;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 35.2px;
    letter-spacing: 2px;
    margin-top: 130px;
}
.nav-agendar__c-two{
    display: none;
}

.form-column-c button:hover {
    background-color: #0d5c74;
}
.contact-img-contato2_two{
    display: none;
}

div.contact-info__main h1{
    position: relative;
}
@media (min-width: 1700px) {
    .bg__c::before {
        transform: translate(205.4%, -50%);
        width: 27vw;
        height: 150%;
    }
    .main-content__c h2 {
        padding-right: 820px;
    }
}@media (min-width: 1840px) {
    .bg__c::before {
        transform: translate(205.8%, -46.5%);
        width: 27vw;
        height: 150%;
    }.main-content__c h2 {
    padding-right: 720px;
}
}
@media (min-width: 1921px) {
    .main-content__c h2 {
        padding-right: 950px;
    }
}@media (min-width: 2020px) {
    .bg__c::before {
        transform: translate(205.8%, -43%);
        width: 27vw;
        height: 150%;
    }.main-content__c h2 {
    padding-right: 920px;
}
}
@media (min-width: 2110px) {
    .main-content__c h2 {
        padding-right: 950px;
    }
    .bg__c::before {
        transform: translate(222.3%, -45%);
        width: 25vw;
        height: 160%;
    }
}@media (min-width: 2220px) {
    .main-content__c h2 {
        padding-right: 950px;
    }
    .bg__c::before {
        transform: translate(222.3%, -42%);
        width: 25vw;
        height: 160%;
    }
}@media (min-width: 2400px) {
    .main-content__c h2 {
        padding-right: 1200px;
    }
    .bg__c::before {
        transform: translate(241.8%, -42%);
        width: 23vw;
        height: 160%;
    }
}@media (min-width: 2600px) {
    .main-content__c h2 {
        padding-right: 1200px;
    }
    .bg__c::before {
        transform: translate(264.9%, -40%);
        width: 21vw;
        height: 160%;
    }
}
@media (max-width: 1750px) {
    .main-img__c {
    top: 73%;
    left: 64%;
}
}
@media (max-width: 1677px) {
    .marca-dagua{
        top: 84% !important;
    }
}
@media (max-width: 1600px) {
    .form-column-c textarea {
        height: 280px;
    }
    .main-img__c {
        left: 66%;
    }
    .main-img__c img {
        max-width: 440px;
    }
    .marca-dagua {
        left: 25%;
         top: 84% !important;
    }.form-column-c input,
    .form-column-c textarea,
    .form-column-c button {
        font-size: 20px;
    }.main-content__c h2 {
        padding-right: 680px;
    }.marca-dagua{
        top: 68%;
        left: 9%;
    }.contact-map img {
        width: 550px;
        margin-right: 0px;
    }.contact-info-c h1 {
        font-size: 51.4px;
    }
}@media (max-width: 1520px) {
    .main-img__c {
        left: 70%;
    }
}
@media (max-width: 1440px) {
    .form-column-c input,
    .form-column-c textarea,
    .form-column-c button {
        font-size: 18px;
    }.main-content__c h2 {
        padding-right: 620px;
    }.contact-bg {
        padding-top: 50px;
    }.nav-agendar__c {
        padding-top: 50px;
    }.bg__c::before {
        transform: translate(233%, -52%);
        height: 120%;
    }.contact-info-c img {
        margin-right: 0px;
    }.main-img__c img {
        max-width: 380px;
    }.marca-dagua{
        top: 79.6% !important;
        left: 9.5%;
    }.main-img__c {
        left: 70%;
        top: 72%;
    }
}@media (max-width: 1350px) {
    .main-content__c h2 {
        padding-right: 550px;
    }
}@media (max-width: 1220px) {
    .main-content__c h1 {
    padding-top: 20px;
}    .main-content__c h2 {
        padding-right: 450px;
    }.marca-dagua{
        top: 84% !important;
        left: 9.5%;
    }
}


@media (max-width: 1120px) {
    .main-content__c h1,.main-content__c h2,.main-content__c span{
        font-size: 40px;
    }
    nav.nav-agendar__c {
        padding-left: 30px;
    }div.main-content__c,.contact-info__main{
        padding-left: 35px;
    }form-columns-c {
        flex-direction: column;
        gap: 0px;
        margin-left: 0px;
        padding-left: 0px;
    }
    div.form-column-c{
        padding-left: 0px;
    }
    input#name,input#email{
        padding-left: 5px;
        width: 250px;
    }.form-column-c textarea {
        height: 280px;
        width: 260px;
    }
    .form-column-c button {
        margin-top: 15px;
        align-self: flex-start;
    }.marca-dagua{
        top: 64%;
        left:7.4%;
    }
    .main-img__c {
        left: 69%;
    }.font-ti-c{
        font-size:38px;
    }.contact-bg.container {
        padding-top: 30px;
    }.contact-map img{
        width: 400px;
        padding-right: 0px;
    }.bg__c{
        min-height: 100%;
    }.main-img__c img{
        max-width: 320px;
    }.bg__c::before {
        transform: translate(186.3%, -47%);
        width: 30vw;
        height: 120%;
    }.marca-dagua{
        top: 70%;
        left:6%;
        width: 100px;
    }.marca-dagua-two {
        position: absolute;
        top: 18%;
        left: 2%;
        min-width: 0px;
        width: 120px;
    }  #endereco{
        padding-top: 24px;
    }
    .contact-info-c h1 {
        font-size: 44.4px;
    }.contact-form h2 {
        font-size: 44.4px;
    }.form-columns-c {
        gap: 20px;
    }.form-column-c input{
        height: 30px;
        width: 120px;
    }.main-content__c p {
    font-size: 30px;
}

}@media (max-width: 1005px){
    .main-content__c h2 {
        padding-right: 460px;
        padding-bottom: 40px;
    }.marca-dagua{
        top: 67%;
        left:8%;
        width: 100px;
    }.form-column-c input {
        height: 80px;
    }    input#name, input#email {
        padding-left: 5px;
        width: 200px;
    }.form-column-c button {
        width: 180px;
        height: 70px;
    }.form-columns-c {
        gap: 0px;
    }
}@media (max-width: 1005px) {
    .main-content__c h2 {
        padding-right: 380px;
        padding-bottom: 40px;
    }
    .main-img__c {
        left: 75%;
    }

}
@media (max-width: 880px) {
    .main-content__c h1,.main-content__c h2,.main-content__c span{
        font-size: 32px;
    }.main-content__c h2 {
        padding-right: 350px;
        padding-bottom: 40px;
    }
    input#name,input#email{
        padding-left: 5px;
        width: 150px;
    }.form-column-c textarea {
        height: 280px;
        width: 200px;
    }
    .form-column-c button {
        margin-top: 15px;
        align-self: flex-start;
    }.marca-dagua{
        top: 64%;
        left:7.4%;
    }
    .main-img__c {
        left: 69%;
    }.font-ti-c{
        font-size:28px;
    }.contact-bg.container {
        padding-top: 30px;
    }.contact-map img{
        width: 340px;
        padding-right: 0px;
    }.main-img__c img{
        max-width: 250px;
    }.marca-dagua{
        top: 71%;
        left:8%;
        width: 80px;
    }.marca-dagua-two {
        position: absolute;
        top: 10%;
        left: 2%;
        min-width: 0px;
        width: 80px;
    }  
    .contact-info-c h1 {
        font-size: 1.6rem;
    }.contact-form h2 {
        font-size: 28px;
    }.form-columns-c {
        gap: 0px;

    }.form-column-c {
        display: flex;
        flex-direction:column;
        flex: 1;
        min-width: 0px;
        max-width: 240px;    
    }.form-column-c button {
        width: 120px;
        height: 50px;
    }    .main-content__c p {
        font-size: 26px;
    }
}@media (max-width: 780px) {
    .main-content__c h2 {
        padding-right: 300px;
    }
    .main-img__c {
        left: 75%;
    }
}

@media (max-width: 750px) {
    .main-content__c h1, .main-content__c h2, .main-content__c span {
        font-size: 28px;
    }.main-content__c h2 {
        padding-right: 300px;
        padding-bottom: 40px;
    } .form-column-c {
        min-width:230px;
        max-width: 0px;
    }    .main-content__c p {
        font-size: 22px;
    }
}@media (max-width: 660px) {
    .main-content__c h2 {
        padding-right: 250px;
        padding-bottom: 40px;
    }
}
@media (max-width: 640px) {
    .main-content__c h1, .main-content__c h2, .main-content__c span {
        font-size: 22px;
    }.main-content__c h2 {
        padding-right: 240px;
        padding-bottom: 40px;
    }
    input#name,input#email{
        padding-left: 5px;
        width: 100px;
        font-size: 12px;
        height: 30px;
        margin-bottom: 10px;
    }.form-column-c textarea {
        height: 90px;
        width: 160px;
        font-size: 12px;
    }
    .form-column-c button {
        margin-top: 15px;
        align-self: flex-start;
    }.marca-dagua{
        top: 64%;
        left:7.4%;
    }
    .main-img__c {
        left: 76%;
    }.font-ti-c{
        font-size:20px;
    }.contact-bg.container {
        padding-top: 30px;
    }.contact-map img{
        width: 300px;
        padding-right: 0px;
    }.main-img__c img{
        max-width: 200px;
    }.marca-dagua{
        top: 86% !important;
        left:8%;
        width: 60px;
    }.marca-dagua-two {
        position: absolute;
        top: 12%;
        left: 2%;
        min-width: 0px;
        width: 60px;
    }  
    .contact-info-c h1 {
        font-size: 1.6rem;
    }.contact-form h2 {
        font-size: 22px;
    }.form-columns-c {
        gap: 0px;

    }.form-column-c {
        display: flex;
        flex-direction:column;
        flex: 1;
        min-width:140px;
        max-width: 0px;    
    }.form-column-c button {
        width: 90px;
        height: 40px;
        font-size: 12px;
    }.form-column-c button {
        margin-left: 80px;
    }.bg__c{
        --gradient-split: 62%;
    }.bg__c::before {
        transform: translate(206.2%, -45%);
    }.contact-info-c{
        margin-top: 20px;
    }div.main-content__c, .contact-info__main {
        padding-left: 20px;
    }    nav.nav-agendar__c {
        padding-left: 20px;
        padding-top: 20px;
    }.form-column-c input{
        height: 30px;
        width: 100px;
    }.form-column-c input, .form-column-c textarea, .form-column-c button {
        font-size: 10px;
    }    .main-content__c p {
        font-size: 18px;
    }  #endereco{
        padding-top: 10px;
    }
}@media (max-width: 530px) {
    .main-content__c h2 {
        padding-right: 200px;
    }.main-img__c {
        left: 80%;
    }

}

@media (max-width: 500px) {
    div.main-content__c, .contact-info__main {
        padding-left: 20px;
    }.bg__c::before {
        transform: translate(206.2%, -55%);
    }    .main-content__c h2 {
        padding-right: 200px;
    }   .form-column-c button {
        margin-left: 50px;
    }.form-column-c button {
        width: 90px;
        height: 40px;
        font-size: 12px;
    }
}@media (max-width: 490px) {
    .main-content__c h2 {
        padding-right: 170px;
    }
}
@media (max-width: 455px) {
    div.main-content__c, .contact-info__main {
        padding-left: 20px;
    }
    .bg__c{
        --gradient-split: 72%;

    }
        .bg__c::before {
        transform: translate(189.2%, -52%);
        width: 38vw;
        height: 100%;
    }
    .main-content__c h2 {
        padding-right: 110px;
    }    .main-content__c h1, .main-content__c h2, .main-content__c span {
        font-size: 20px;
    } .main-content__c h1{
        padding-top: 0px;
    }    .main-img__c img {
        max-width: 170px;
    }    .font-ti-c {
        font-size: 18px;
    }    .form-column-c button {
        margin-left: 50px;
    }.form-column-c button {
        width: 70px;
        height: 30px;
        font-size: 10px;
    }input#name, input#email {
        padding-left: 5px;
        width: 60px;
        font-size: 12px;
        height: 20px;
        margin-bottom: 10px;
    }.form-column-c textarea {
        height: 70px;
        width: 120px;
        font-size: 10px;
    }.form-column-c {
        min-width: 100px;
    }.marca-dagua{
        top: 88% !important;
        left:9%;
        width: 50px;
    }.marca-dagua-two {
        position: absolute;
        top: 19%;
        left: 3.5%;
        min-width: 0px;
        width: 50px;
    }
    #endereco{
        padding-top: 20px;
        padding-bottom: 5px;
    }#horario{
        padding-top: 10px;
    }    .contact-map img {
        width: 280px;
        padding-right: 0px;
    }
    .form-column-c input {
        height: 15px;
        width: 80px;
    }.form-column-c input {
        margin-bottom: 10px;
    }    div.form-column-c {
        padding-right: 30px;
    }    .main-content__c p {
        font-size: 16px;
    }
    div.main-content__c {
     padding-top: 52px;
    }
    .main-content__c h2 {
        padding-bottom: 25px;
    }.main-img__c {
        top: 74%;
        left: 83%;
    }.contact-map{
        align-self: flex-end;
    }
}@media (max-width: 430px) {
    .marca-dagua{
        top:87% !important;
        left:9%;
        width: 50px;
    }.main-img__c img {
        max-width: 200px;
    }.main-img__c {
        top: 70%;
        left: 90%;
    }
}
@media (max-width: 400px) {
    .form-column-c textarea {
        height: 70px;
        width: 80px;
    }input#name, input#email {
        font-size: 10px;
    }    .form-column-c button {
        margin-left:10px;
    }     .main-content__c h1, .main-content__c h2, .main-content__c span {
        font-size: 20px;
    }    .main-content__c h2 {
        padding-right: 100px;
    }    .main-img__c img {
        max-width: 180px;
    }    .main-content__c h1 {
        padding-top: 0px;
    }.main-img__c {
        top: 72%;
        left: 92%;
    }
        .marca-dagua {
        top: 87% !important;
        left: 9%;
        width: 50px;
    }
    #h1-contact-phone{
        font-size: 19px;
    }
}@media (max-width: 365px) {
    .main-img__c {
        left: 87%;
        top: 75%;
    }    .main-content__c h2 {
        padding-right: 90px;
    }div.form-column-c {
    padding-right: 10px;
}    .main-img__c img {
        max-width: 160px;
    }
}
@media (max-width: 340px) {
    .form-column-c textarea {
        height: 70px;
        width: 80px;
    }input#name, input#email {
        font-size: 10px;
    }    .form-column-c button {
        margin-left:10px;
    }    .main-content__c h2 {
        padding-right: 80px;
    }    .main-content__c h1, .main-content__c h2, .main-content__c span {
        font-size: 16px;
    }    .main-content__c p {
        font-size: 16px;
    }.main-img__c {
        left: 89%;
        top: 80%;
    }.marca-dagua {
        top: 86% !important;
        left: 10%;
        width: 50px;
    }
}@media (max-width: 325px) {
    div.main-content__c, .contact-info__main {
        padding-left: 10px;
    }
}





