.bg__c{
    --gradient-split: 54.5%;
    background: linear-gradient(to right, white var(--gradient-split), #0D4253 var(--gradient-split));
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}
.bg__c::before {
    content: '';
    background-image: url("../../assets/icons/Aneis.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
    position: absolute;
    top: 57.5%;
    left: var(--gradient-split + 5vw);
    transform: translate(192.9%, -44%);
    width: 28vw;
    height: 100%;
    max-width: 600px;
}

.main-img__c {
    position: absolute;
    top: 64.6%;
    left: 64%;
    transform: translate(-50%, -50%); 
}
.main-img__c img {
    max-width: 600px;
}
div.main-content__c{
    padding-top: 0px;
}
.main-content__c h1{
    padding-top: 50px;
}
.main-content__c span{
    color: #062938;
}
.main-content__c h2{
    padding-right: 920px;
}
.contact-bg{
    padding-top: 100px;
}
.contact-info {
    position: relative;
}
.marca-dagua{
    position: absolute;
    top: 50%;
    left: 18%;
    transform: translate(-50%, -50%);
    z-index: -1;
    height: auto; 
}


.contact-info-c {
    position: relative; 
    margin-bottom: 50px;
    margin-top: 100px;
}
.marca-dagua-two {
    position: absolute;
    top: 10%;
    left: 2%;
    transform: translate(-50%, -50%);
    z-index: -1;
    height: auto;
    min-width: 156px;
}
.contact-info-c h1 {
    position: relative;
    padding-bottom: 20px;
    font-size: 70.4px;
    color: #062938;
}

.contact-info-c p {
    color: #062938;
    padding-bottom: 10px;
    z-index: 1;
    font-weight: 500;
}

#contact-address{
    display: flex;
    justify-content: space-between;
}

.nav-agendar__c{
    display: flex;
    padding-top: 100px;
    justify-content: start;
    padding-left: 100px;
}
.nav-agendar__c h2{
    text-align: center;
    font-size: 55px;
    font-weight: 500;
    color: #0D4253;
    padding: 100px 30% 0px 30%;
}
.contact-info-c img{
    border-radius: 56px;
    margin-right: 120px;
}
.contact-form {
    color: #062938;
}

.contact-form h2 {
    font-size: 70.4px;
    font-weight: 500;
    letter-spacing: 3px;
    color: #062938;
    margin-bottom: 20px;
}
.form-columns-c {
    display: flex;
    gap: 100px;
}

.form-column-c {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 300px;
}

.form-column-c input,
.form-column-c textarea,
.form-column-c button {
    width: 100%;
    padding: 10px;
    border: 1px solid #EDEDED; 
    background-color: #EDEDED;
    border-radius: 8px;
    font-size: 18px;
    color: #646464;
}

.form-column-c input {
    display: flex;
    font-size: 35.2px;
    margin-bottom: 50px;
    height: 120px;
}
.form-column-c textarea {
    font-size:35.2px;
    height: 310px;
    resize: none;
}

.form-column-c button {
    width: 250px;
    height: 70px;
    background-color: #04878E;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 35.2px;
    letter-spacing: 2px;
    margin-top: 130px;
}
.nav-agendar__c-two{
    display: none;
}

.form-column-c button:hover {
    background-color: #0d5c74;
}
.contact-img-contato2_two{
    display: none;
}

@media (max-width: 1600px) {
    .main-content__c h1,
    .main-content__c h2,
    .contact-info__main h1,
    .contact-info-c h1,
    .contact-form h2 {
        font-size: 60.8px;
    }
    .form-column-c textarea {
        height: 280px;
    }
    .main-img__c {
        left: 66%;
    }
    .main-img__c img {
        max-width: 550px;
    }
    .marca-dagua {
        left: 16%;
    }.form-column-c input,
    .form-column-c textarea,
    .form-column-c button {
        font-size: 24px;
    }.main-content__c h2 {
        padding-right: 700px;
    }
}@media (max-width: 1520px) {
    .main-img__c {
        left: 70%;
    }
}
@media (max-width: 1440px) {
    .main-content__c h1,
    .main-content__c h2,
    .contact-info__main h1,
    .contact-info-c h1,
    .contact-form h2 {
        font-size: 54.4px;
    }
    .main-img__c {
        left: 68%;
    }.form-column-c input,
    .form-column-c textarea,
    .form-column-c button {
        font-size: 24px;
    }.main-content__c h2 {
        padding-right: 700px;
    }.font-ti-c{
        font-size: 56px;
    }.contact-bg {
        padding-top: 50px;
    }.nav-agendar__c {
        padding-top: 50px;
    }a#agendar-c.btn-agendar{
        font-size: 35px;
    }.bg__c::before {
        transform: translate(194.5%, -50%);

    }.contact-info-c img {
        margin-right: 0px;
    }    .main-img__c img {
        max-width: 450px;
    }
}@media (max-width: 1310px) {
    .bg__c{
        --gradient-split: 58%;
    }.bg__c::before {
        transform: translate(206.9%, -50%);
    }.main-img__c {
        left: 74%;
    }.main-content__c h2 {
        padding-right:480px;
    }
}@media (max-width: 1180px) {
    nav.nav-agendar__c {
        padding-left: 30px;
    }div.main-content__c,.contact-info__main{
        padding-left: 20px;
    }.bg__c::before {
        transform: translate(206.8%, -55%);
    }.main-img__c {
        left: 78%;
    }.form-columns-c {
        flex-direction: column;
        gap: 0px;
        margin-left: 0px;
        padding-left: 0px;
    }
    div.form-column-c{
        padding-left: 0px;
    }
    input#name,input#email{
        padding-left: 5px;
        width: 300px;
    }.form-column-c textarea {
        height: 280px;
        width: 500px;
    }
    .form-column-c button {
        margin-top: 15px;
        align-self: flex-start;
    }
}@media (max-width: 1120px) {
    .main-content__c h1,
    .main-content__c h2,
    .contact-info__main h1,
    .contact-info-c h1,
    .contact-form h2 {
        font-size: 48px;
    }
    .main-img__c {
        left: 69%;
    }.font-ti-c{
        font-size:42px;
    }a#agendar-c.btn-agendar{
        font-size: 30px;
    }.contact-bg.container {
        padding-top: 30px;
    }nav.contact-bg p{
        font-size: 28.8px;
    }.contact-map img{
        width: 450px;
        padding-right: 60px;
    }.bg__c{
        min-height: 100%;
    }.main-img__c img{
        max-width: 380px;
    }.bg__c::before {
        transform: translate(193%, -49%);
        width: 30vw;
        height: 88%;
    }

}@media (max-width: 970px) {
    div.main-content__c.container h1 {
        padding-right: 450px;
    }
}@media (max-width: 960px) {
    .main-content__c h1, .main-content__c h2, .contact-info__main h1, .contact-info-c h1, .contact-form h2 {
        font-size: 35.2px;
    }.font-ti-c {
        font-size: 35px;
    }    div.main-content__c.container h1 {
        padding-right: 0px;
        padding-top: 0px;
    }    a#agendar-c.btn-agendar {
        font-size: 20px;
    }    .contact-map img {
        width: 350px;
        padding-right: 0px;
    }.contact-info-c {
        margin-top: 100px;
    }    .main-img__c img {
        max-width: 300px;
    }.bg__c::before {
        transform: translate(193%, -42%);
    }.marca-dagua-two {
        min-width: 60px !important;
    }
    .marca-dagua-two {
        width: 100px;
    }
}@media (max-width: 950px) {
    .marca-dagua-two {
        width: 100px !important;
    }
}@media (max-width: 822px) {
    .main-content__c h2 {
        padding-right: 350px;
    }.contact-map img {
        width: 350px;
    }.marca-dagua-two {
        position: absolute;
        top: 10%;
        left: 4%;
    }
}@media (max-width: 760px) {
    div.main-content__c {
        padding-top: 30px;
    }.main-img__c {
        left: 74%;
    }.bg__c::before {
        transform: translate(187%, -43%);
        width: 31vw;
        height: 84%;
    }    .main-content__c h1, .main-content__c h2, .contact-info__main h1, .contact-info-c h1, .contact-form h2 {
        font-size: 28.8px;
    }    .font-ti-c {
        font-size: 30px;
    }    .contact-bg.container {
        padding-top: 0px;
    }.main-img__c img {
        max-width: 280px;
    }
}@media (max-width: 640px) {
    .main-content__c h2 {
        padding-right: 250px;
    }nav.contact-bg p {
        font-size: 22px;
    }div.contact-info-c{
        margin-bottom: 0px;
        margin-top: 40px;
    }    nav.nav-agendar__c {
        padding-left: 30px;
        padding-bottom: 30px;
    }.marca-dagua-two {
        position: absolute;
        top: 8%;
        left: 4%;
        width: 80px !important;
    }.form-column-c input, .form-column-c textarea, .form-column-c button {
        font-size: 18px;
    }.form-column-c input{
        height: 60px;
        margin-bottom: 20px;
    }    .form-column-c textarea {
        height: 200px;
        width: 400px;
    }.form-column-c button{
        width: 150px;
        height: 50px;
    }
}@media (max-width: 600px) {
    .main-img__c {
        left: 78%;
        top: 68%;
    }.main-img__c img{
        width: 250px;
    }.bg__c::before {
        transform: translate(201.4%, -52%);
        height: 70%;
    } .bg__c{
        --gradient-split: 62.5%;
    }    .main-content__c h2 {
        padding-right: 200px;
    }
}@media (max-width: 550px) {
    .main-content__c h1, .main-content__c h2, .contact-info__main h1, .contact-info-c h1, .contact-form h2 {
        font-size: 22.4px;
    }    .font-ti-c {
        font-size: 22px;
    }.contact-info__main {
        padding-top: 20px;
    }    nav.nav-agendar__c {
        padding-top: 30px;
    }    .main-img__c img {
        width: 220px;
    }.bg__c::before {
        transform: translate(201.4%, -43%);
    }     .contact-map img {
        width: 250px;
    }    nav.contact-bg p {
        font-size: 18px;
    }
}@media (max-width: 450px) {
    .main-img__c img {
        width: 180px;
    }.bg__c::before {
        transform: translate(201.4%, -48%);
    } .marca-dagua-two {
        position: absolute;
        top: 9%;
        left: 5%;
        width: 60px !important;
    }    .form-column-c input, .form-column-c textarea, .form-column-c button {
        font-size: 16px;
    }input#name, input#email {
        height: 50px;
        width: 200px;
    }.form-column-c textarea {
        height: 150px;
        width: 300px;
    }    .main-content__c h2 {
        padding-right: 160px;
    }.main-content__c h1, .main-content__c h2, .contact-info__main h1, .contact-info-c h1, .contact-form h2 {
        font-size: 19.4px;
    }    a#agendar-c.btn-agendar {
        font-size: 16px;
    }nav.nav-agendar__c {
        padding-left: 20px;
    }.font-ti-c {
        font-size: 19.4px;
}
}@media (max-width: 390px) {
    .main-content__c h1, .main-content__c h2, .contact-info__main h1, .contact-info-c h1, .contact-form h2 {
        font-size: 16.4px;
    }    .font-ti-c {
        font-size: 16.4px;
    }    .main-img__c img {
        width: 150px;
    }    a#agendar-c.btn-agendar {
        font-size: 14px;
    }    .contact-map img {
        width: 150px;
    }.marca-dagua-two {
        position: absolute;
        top: 9%;
        left: 5%;
        width: 40px !important;
    }     .form-column-c textarea {
        height: 150px;
        width: 200px;
    }     input#name, input#email {
        height: 30px;
        width: 120px;
    }.form-column-c button {
        width: 100px;
        height: 40px;
    }
}@media (max-width: 328px) {
    div.main-content__c, .contact-info__main {
        padding-left: 15px;
    }    .main-content__c h2 {
        padding-right: 110px;
    }
}





