.bg__a{
    --gradient-split: 56%;
    background: linear-gradient(to right, white var(--gradient-split), #0D4253 var(--gradient-split));
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}
.bg__a::before {
    content: '';
    background-image: url("../../assets/icons/Aneis.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
    position: absolute;
    top: 57.5%;
    left: var(--gradient-split + 5vw);
    transform: translate(221.8%, -62%);
    width: 25vw;
    height: 78%;
    max-width: 600px;
}
.main__a{
    position: relative;
    display: flex;
    padding: 20px;
    padding-bottom: 60px;
}
.main-content__a{
    margin-left: 50px;
    margin-right: 600px;
}
.main-img__a{
    position: absolute;
    top: 62%;
    left: 78.25%;
    transform: translate(-50%, -50%);
}
.main-img__a img {
    max-width: 845px;
    transform:scaleX(-1);
}
.main-content__a h1 {
    margin-bottom: 50px;
    margin-right: 260px;
}
.main-content__a span{
    color: #9D9D9D;
    letter-spacing: 1.52px;
}
.main-content__a #text__a{
    margin-bottom: 60px;
}
.main-content__a p {
    letter-spacing: 0.86px;
    margin-right: 300px;

}
.main-button{
    display: flex;
}
.nav-agendar__a{
    display: block;
    padding-top: 100px;
}
.nav-agendar__a h2{
    text-align: center;
    font-size: 55px;
    font-weight: 500;
    color: #0D4253;
    padding: 100px 30% 0px 30%;
}

.qualify-bg h1, span{
    letter-spacing: 1.52px;
}
.qualify-bg h2{
    padding-bottom: 50px;
}
.speciality-content{
    display: flex;
}
.speciality-content p{
    padding-right: 270px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-top: 20px;
}
.speciality-content > img{
    width: 120px;
    height: 120px;
    padding-bottom: 40px;
}
.how-bg span{
    color: #9D9D9D;
}
.how-bg p{
    padding-right: 250px;
    padding-top: 100px;
}
.how-bg-img { 
    display: flex;
}
.how-bg-img  img{
    border-radius: 56px !important;
}

#how-img__one{
    width: 900px;
    height: 956px;
}
.how-bg-img > p{
    padding-left: 80px;
    padding-right: 38px;
    padding-top: 120px;
}
#how-text__two {
    text-align: end;
    margin-left: 200px;
    position: relative;
    z-index: 1;
}
#how-text__two::before {
    content: "";
    position: absolute;
    top: 38%;
    left: 16%;
    width: 82%;
    height: 55%; 
    background-color: #a2d5d7;
    z-index: -1; 
    border-radius: 56px; 
}
#how-img__two{
    margin-right: 50px;
    width: 600px;
    height: 500px;
}
p#how-img_text{
    padding-right: 500px;
    padding-top: 0px;    
    display: flex;
    align-items: center;
}
div.how-bg-img {
    display: flex;
    margin-top: -200px;
}

nav.nav-agendar__as{
    display: none;
}#how-p{
    padding-right: 0px;
    padding-top: 50px;
}

@media (max-width: 1878px){
    .main-img__a{
        top: 55%;
        left: 78.7%;
}}


@media (max-width: 1862px){
    .main-content__a h1 {
        margin-right: 210px;
    }
}@media (max-width: 1860px){
    .main-img__a{
        top: 60%;
        left: 78.8%;
}
}@media (max-width: 1841px){
    .main-img__a{
        top: 60%;
        left: 79.2%;
}#how-text__two::before {
    content: "";
    position: absolute;
    top: 38%;
    left: 12%;
    width: 86%;
    height: 60%; 
    background-color: #a2d5d7;
    z-index: -1; 
    border-radius: 56px; 
}p#how-img_text {
    padding-right: 300px;
}
}
@media (max-width: 1803px){
    .main-content__a h1 {
        margin-right: 250px;
    }.main-content__a {
        margin-right: 495px;
    }
}@media (max-width: 1797px){
    .main-img__a{
        top: 60%;
        left: 79.7%;
}}@media (max-width: 1764px){
    .main-img__a{
        top: 60%;
        left: 80.1%;
}}@media (max-width: 1734px){
    .main-img__a{
        top: 60%;
        left: 80.6%;
}}
@media (max-width: 1700px){
.main-img__a{
        top: 55%;
        left: 78.2%;
}
.main__a{
    position: relative;
    display: flex;
    padding: 20px;
    padding-bottom: 60px;
}
.main-img__a img {
    max-width: 750px;
    height: 100%;
}

.main-content__a h1 {
    font-size: 60px; 
    margin-right: 200px;
}

p#text__a{
    font-size: 38px;
}
main.main__a p{
    font-size: 38px;
}
.main-content__a p {
    font-size:43px;
    margin-right: 250px;
}
div.qualify-bg.container h1{
    font-size: 60px;
}
div.qualify-bg.container h2{
    font-size: 60px;
}
div.qualify-bg.container p{
    font-size: 38px;
}div.qualify-bg.container img{
    width: 120px;
}
div.how-bg.container h1{
    padding-top: 0px;
    font-size: 60px;
}
div.how-bg.container span{
    font-size: 60px;
}div.how-bg.container p{
    font-size: 38px;
}p#how-text__two{
    margin-left: 200px;
}#how-text__two::before {
    content: "";
    position: absolute;
    top: 38%;
    left: 9%;
    width: 89%;
    height: 60%; 
    background-color: #a2d5d7;
    z-index: -1; 
    border-radius: 56px; 
}
}
@media (max-width: 1670px){
.main-img__a{
    top: 62%;
    left: 78.7%;
}
}@media (max-width: 1648px){
    .main-img__a{
        top: 62%;
        left: 79%;
}}@media (max-width: 1622px){
    .main-img__a{
        top: 62%;
        left: 79.3%;
}}@media (max-width: 1618px){
    .main-img__a{
    left: 79.4%;
}}@media (max-width: 1605px){
    .main-img__a{
    left: 79.3%;
}}@media (max-width: 1600px){
    .main-img__a{
    left: 79.7%;
}}
@media (max-width: 1580px){
.main-img__a{
    left: 80%;
}
.main-content__a h1 {
    font-size: 60px; 
    margin-right: 100px;
}img#how-img__two{
    margin-right: 0px;
}
p#how-img_text{
    padding-right: 150px;
}}@media (max-width: 1560px){
    .bg__a::before {
        top: 48%;
        transform: translate(180%, -42%);
        width: 30vw;
        height: 80%;
    }
}@media (max-width: 1556px){
    .bg__a::before {
        top: 47.5%;
        transform: translate(184.5%, -42%);
        width: 30vw;
        height: 80%;
    }
}
@media (max-width: 1542px){
.main-img__a{
    left: 80.3%;
}
}
@media (max-width: 1545px){
.main-content__a h1 {
    font-size: 60px; 
    margin-right: 60px;
}
}@media (max-width: 1565px){
    .main-img__a{
    left: 80.2%;
}
}@media (max-width: 1537px){
    .main-img__a{
    left: 80.6%;
}.main-content__a {
    margin-right: 600px;
}}@media (max-width: 1522px){
    .main-img__a{
    left: 80.9%;
}.main-content__a {
    margin-right: 600px;
}
}
@media (max-width: 1500px){
.main-content__a h1 {
    font-size: 60px; 
    margin-right:140px;
}
.main-img__a{
    left: 81%;
}
.main-content__a h1 {
    font-size: 60px; 
    margin-right:140px;
}
.main-img__a{
    top: 55%;
    left: 81.1%;
}
.bg__a::before {
    top: 40%;
}
}@media (max-width: 1495px){
    .main-img__a{
        left: 81.3%;
    }
}
@media (max-width: 1480px){
.main-content__a h1 {
    font-size: 60px; 
    margin-right:0px;
}
img#how-img__two{
    margin-right: 0px;
}

p#how-text__two{
    margin-left: 100px;
}
.main-img__a{
    top: 56%;
    left: 81.6%;
}.main-content__a h1 {
    font-size: 60px;
    margin-right: 120px;
}
}@media (max-width: 1465px){
    .main-img__a{
        left: 81.8%;
    }.bg__a::before {
        top: 42.7%;
    }.main-content__a {
        margin-right: 500px;
    }
}
@media (max-width: 1445px){
.main-content__a h1 {
    font-size: 56px; 
    margin-right:100px;
}
.main-img__a{
    left: 82.2%;
} 
}@media (max-width: 1440px){
    .bg__a::before {
        top: 41%;
        transform: translate(186.5%, -42%);
        width: 30vw;
        height: 80%;
}.main-content__a h1 {
    margin-right:110px;
}
.main-img__a{
    left: 82%;
} 
}
@media (max-width: 1435px){
    .main-img__a{
        left: 82%;
    } 
    }@media (max-width: 1425px){
    p#text__a{
        font-size: 34px;
        margin-right: 200px;
    }  .main-img__a{
        left: 82.25%;
    }   
}@media (max-width: 1415px){
    .main-content__a h1 {
        margin-right:90px;
    }
    .main-img__a{
        left: 82.5%;
        top: 58%;
    } 
    .main__a {
        padding-bottom: 0px;
    }
    }
@media (max-width: 1400px){ 
    .main-img__a img{
        max-width: 730px;
    }
    img#how-img__two{
        margin-right: 0px;
    }
    p#how-img_text{
        padding-right: 100px;
    }
    p#how-text__two{
        margin-left: 0px;
    }
    div.how-bg.container p{
        font-size: 30px;
    }.main-img__a{
        left: 82%;
    } 
}@media (max-width: 1388px){
    nav.nav-agendar__a{
        padding-top: 40px;
    }.main-content__a {
        margin-right: 460px;
        margin-left: 40px;
    }
}
@media (max-width: 1380px){
    .main-img__a{
        left: 82.4%;
    }.main-content__a h1 {
        font-size: 52px;
        padding-right: 0px;
    }
}@media (max-width: 1370px){
    .main-img__a{
        left: 82.6%;
    }.main-content__a h1 {
        font-size: 52px;
        padding-right: 0px;
    }
}
@media (max-width: 1352px){
    .main-img__a img{
        max-width: 710px;
    }.main-img__a{
        left: 82.3%;
    } 
}
@media (max-width: 1328px){
    .main-content__a h1 {
        font-size: 48px; 
        padding-right: 0px;
    }
    img#how-img__one{
        width: 400px;
    }
    img#how-img__two{
        width: 580px;
    }    .bg__a::before {
        top: 36%;
        transform: translate(186.5%, -42%);
        width: 30vw;
        height: 80%;
}
}@media (max-width: 1312px){
    .main-img__a img{
        max-width: 690px;
    }
}@media (max-width: 1311px){
    .main-img__a img{
        max-width: 690px;
    }p#text__a {
        margin-right: 100px;
    }
}@media (max-width: 1295px){
    .main-img__a{
        left: 82.6%;
    }
}@media (max-width: 1280px){
    .main-content__a h1 {
        margin-right:0px;
    }
}
@media (max-width: 1270px){
    .main-content__a h1 {
        font-size: 44px; 
        padding-right: 0px;
    }
    p#text__a{
        margin-right: 100px;
    }   
    .main-img__a{
        left: 83.1%;
    }    .main-content__a {
        margin-right: 480px;
        margin-left: 40px;
    }
}
@media (max-width: 1252px){
    p#text__a{
        font-size: 30;
        margin-right: 60px;
    }   
    main.main__a{
        padding-left: 0px;
    }
    img#how-img__one{
        width: 360px;
    }
    img#how-img__two{
        width: 500px;
        height: 420px;
    }

    .main-img__a{
        left: 83.6%;
    }.main-content__a h1 {
        padding-right: 0px;
    }
}@media (max-width: 1233px){
   .main-img__a{
    left: 84%;
}}
@media (max-width: 1220px){
    .main-img__a{
    left: 84.3%;
}}@media (max-width: 1205px){
    .main-img__a{
    left: 84.6%;
    top: 65%;
}}
@media (max-width: 1200px){
    .main-img__a{
    left: 84.7%;
    top: 65%;
}}@media (max-width: 1185px){

    p#text__a{
        font-size: 30;
        margin-right: 60px;
    }   
    main.main__a{
        padding-left: 0px;
    }
    div.main-content__a{
        margin-right: 470px;
    }
    .main-img__a{
        left: 85.5%;
    }img.main-arrow{
        width: 50px;
        padding-left: 4px;
    }div.qualify-bg.container p {
        padding-right: 100px;   
    }.main-img__a{
        left: 85.1%;
    }
}@media (max-width: 1180px){
    div.main-content__a {
        margin-right: 490px;
    }
}
@media (max-width: 1150px){
    .main-img__a{
        left: 86%;
    }div.main-content__a {
        margin-right: 460px;
    }
}@media (max-width: 1126px){
    .main-img__a{
        left: 86.7%;
    }
}@media (max-width: 1115px){
    .main-img__a img {
        max-width: 545px;
    }.main-img__a{
        left: 80.4%;
        top: 63%;
    }
}@media (max-width: 1105px){
    div.main-content__a{
        margin-right: 480px;
    }
    div.how-bg.container p {
        font-size: 30px;
    }
}@media (max-width: 1100px){
    div.main-content__a {
        margin-right: 450px;
    }
}
@media (max-width: 1092px){
    p#text__a {
        margin-right: 0px;
    }.main-content__a h1 {
        padding-right: 0px;
    }
}
@media (max-width: 1080px){
    div.main-content__a {
        margin-right: 440px;
    }.main-img__a{
        left: 81.6%;
    }
}
@media (max-width: 1065px){
    div.main-content__a{
        margin-right: 460px;
    }
    p#how-img_text{
        padding-right: 150px;
    }
    p#how-text__two::before{
        top: 40%;
        left: 0%;
        width: 95%;
        height: 60%;
    }
    p#how-text__two{
        padding-left: 10px;
    }.main-content__a h1 {
        margin-bottom: 30px;
    }.main-content__a #text__a {
        margin-bottom: 20px;
    }
    
    
}@media (max-width: 1055px){
    .main-img__a{
        left: 82.1%;
    }
}


@media (max-width: 1029px){
    div.main-content__a{
        margin-right: 420px;
    }
    .main-img__a{
        left: 82.9%;
    }
}@media (max-width: 1009px){
    div.main-content__a{
        margin-right: 430px;
    }
}@media (max-width: 1000px){
    .main-img__a{
        left: 83.2%;
    }
}
@media (max-width: 999px){
    div.main-content__a{
        margin-right: 390px;
    }
    .main-img__a img{
        max-width: 560px;
    }
    .main-img__a{
        left: 84.1%;
    }
    p#text__a{
        font-size: 30px;
    }   
    main.main__a p{
        font-size: 30px;
    }
    p#how-img_text{
        padding-right: 80px;
    }   
     img#how-img__two{
        width: 400px;
    }
    div.how-bg.container p{
        font-size: 26px;
    }.main-content__a h1 {
        margin-right: 50px ;
    }.main-content__a #text__a {
        margin-right: 30px;
    }    main.main__a {
        padding-top: 0px;
    }
}@media (max-width: 960px){
    .main-img__a img{
        max-width: 560px;
    }.main-img__a{
        left: 85.2%;
    }
}@media (max-width: 975px){
    .main-img__a{
        left: 84.6%;
    }
    .bg__a::before {
        top: 52.5%;
        transform: translate(124%, -42%);
        width: 45vw;
        height: 80%;
    }.main-content__a h1 {
        margin-right: 0px;
    }
}@media (max-width: 960px){
    .main-img__a{
        left: 85.2%;
        
    }div.qualify-bg.container p{
        padding-right: 50px;
    }   
}
@media (max-width: 935px){
    div.main-content__a{
        margin-right: 370px;
        margin-left: 20px;
    }
    .main-img__a{
        left: 86%;
    }
}@media (max-width: 928px) {
  
    main.main__a {
      padding-top: 80px;
    } div.main-content__a {
      margin-left: 30px;
    }    nav.nav-agendar__a {
      padding-top: 60px;
  }.main-content__a h1 {
    margin-bottom: 50px;
}.main-content__a #text__a {
    margin-bottom: 40px;
}
  }
@media (max-width: 906px){
    .main-img__a{
        left: 87%;
    }
}@media (max-width: 881px){
    div.main-content__a{
        margin-right: 370px;
        margin-left: 25px;
    }
    .main-img__a img{
        max-width: 530px;
    }
    
.main-img__a{
        top: 64.8%;
        left: 86%;
    }
}@media (max-width: 868px){
    .main-img__a{
        left: 86.4%;
    }
} 
@media (max-width: 857px){
    .main-img__a{
        left: 86.9%;
    }
}@media (max-width: 841px){
    div.main-content__a{
        margin-right: 350px;
        margin-left: 20px;
    }
    

    p#how-two__two{
        padding-top: 0px;
    }
}@media (max-width: 828px){
    .bg__a::before {
        transform: translate(124.3%, -42%);
    }
}
@media (max-width: 820px){
    div.main-content__a{
        margin-right: 340px;
        margin-left: 20px;
    }
    .main-img__a img {
        max-width: 450px;
    }
    main.main__a{
        padding-bottom: 0px;
    }
    nav.nav-agendar__a{
        padding-top: 0px;
    }
    img#how-img__two{
        width: 350px;
    }.main-img__a{
        top: 79.5%;
        left: 83.3%;
    }
    nav.nav-agendar__as{
       display: flex;
       padding-left: 20px;
       padding-top: 10px;
    }
    nav.nav-agendar__a{
        display: none;
    }.main-content__a p {
        margin-right: 0px;
    }.main-content__a #text__a {
        font-size: 32px;
    }.main-content__a h1 {
        font-size: 42px;
    }
}@media (max-width: 812px){
    .main-img__a{
        left: 83.8%;
    }
}@media (max-width: 807px){
    .main-img__a{
        top: 77.3%;
        left: 83.8%;
    }
}
@media (max-width: 790px){
    div.main-content__a{
        margin-right: 330px;
        margin-left: 20px;
    }.main-img__a{
        top: 82%;
        left: 84.5%;
    }
}
@media (max-width: 777px){
    div.main-content__a{
        margin-right: 340px;
    }
    
    a.btn-agendar{
        font-size: 18px;
        padding: 12px 28px;
    }
    p#how-img_text{
        padding-right: 0px;
    }.main-img__a{
        top: 70%;
        left: 84.8%;
    }
    div.qualify-bg.container img {
        width: 90px;
        height: 110px;
    }.main-content__a #text__a {
        padding-top: 50px;
        font-size: 32px;
    }.main-content__a span,.main-content__a h1{
        font-size: 46px;
        margin-right: 0px;
    }
}
@media (max-width: 764px){
    .main-img__a{
        left: 85.5%;
    }
    a.btn-agendar{
        font-size: 18px;
        padding: 12px 28px;
    }div.speciality-content p{
        padding-right: 100px !important;
    }.how-bg-img {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px; 
    }div.how-bg.container p{
        padding-right: 0px;
    }p#how-img_text{
        padding-top: 0px;
    }p#how-text__two{
        padding-top: 200px;
        padding-bottom: 50px;
    }p#how-text__two::before{
        left: 1%;
    }img#how-img__two{
        width: 500px;
    }div.qualify-bg.container img {
        width: 80px;
        height: 80px;
    }
}@media (max-width: 760px){
    div.main-content__a {
        margin-right: 310px;
    }.main-img__a{
        top: 76%;
    }
}
@media (max-width: 756px){
    .main-img__a{
        left: 85.9%;
        top: 72%;
    }    main.main__a {
        padding-right: 20px;
    }
}
@media (max-width: 736px){
    div.main-content__a{
        margin-right: 320px;
    }
    a.btn-agendar{
        font-size: 18px;
        padding: 12px 28px;
    }
    p#text__a{
        margin-right: 0px;
        margin-bottom: 20px !important;
    }div.main__a-code p{
        font-size: 26px;
    }.main-img__a{
        top: 86%;
        left: 83%;
    }.main-img__a img {
        max-width: 400px;
    }
}@media (max-width: 727px){
    .main-img__a{
        top: 81.5%;
        left: 83.4%;
    }
}

@media (max-width: 716px){
    p#text__a{
        font-size: 24px;
        margin-right: 0px;
    }div#depoimentos-content-p.depoimentos-content-p{
        padding-bottom: 0px;
    }div.depoimento-p p{
        font-size: 28px !important;
    }div.depoimento-p{
        padding-bottom: 0px;
    }    .main-img__a img{
        max-width: 400px;
    }.main-img__a{
        top: 77%;
        left: 84%;
    }
}
@media (max-width: 693px){
    .main-img__a{
        top: 75%;
        left: 84.6%;
    }
}
@media (max-width: 678px){
    .main-img__a{  
        left: 85.5%;
    }div.main-content__a{
        margin-right: 290px;
    }
}@media (max-width: 669px){
    .main-img__a{  
        left: 86%;
    }div.main-content__a{
        margin-right: 290px;
    }
}
@media (max-width: 664px){
    div.main-content__a h1,div.main-content__a span{
        font-size: 36px;
    }p#text__a{
        font-size: 20px;
    }div.main__a-code p{
        margin-right: 100px;
        font-size: 22px;
    }
    div.speciality-content p{
        padding-right: 50px !important;
    } .main-img__a{
        top: 79.2%;

    }
}
@media (max-width: 648px){
    .main-img__a{
        left: 86.7%;
    }
}@media (max-width: 645px){
    .nav-agendar__a{
        display: none;
    }.nav-agendar__as{
        display: flex;
        padding-left: 20px;
        
    }#btn-agendar__a{
        font-size: 16px;
    }
}@media (max-width: 637px){
    .main-img__a{
        left: 87.5%;
        top: 75.6%;
    }
}@media (max-width: 626px){
    .main-img__a{
        left: 87.9%;
    }
}@media (max-width: 618px){
    .main-img__a{
        left: 88%;
    }
}@media (max-width: 604px){
    .main-img__a{
        left: 87.5%;
        top: 81%;
    }div.main-content__a {
        margin-right: 240px;
    }
    .main-img__a img {
        max-width: 380px;
    }
}
@media (max-width: 600px){
    main.main__a {
        padding-bottom: 0px;
        padding-left: 15px;
    }
}@media (max-width: 589px){
    .main-img__a{
        left: 88.4%;
    }
}@media (max-width: 587px){
    .main-img__a{
        left: 88.4%;
    }
}@media (max-width: 584px){
    div.qualify-bg.container h1,div.qualify-bg.container h2,div.qualify-bg.container span{
        font-size: 48px;
    }
    div.depoimento-p p{
        font-size: 22px !important;
    }div.stars-p{
        margin-left: 0px;
        font-size: 38px !important;
    }.main-img__a{
        top: 73.6%;
        left: 88.5%;
    }
}@media (max-width: 576px){
.bg__a{
    min-height: 100%;
}

.main-content__a #text__a {
    padding-top: 20px;
    font-size: 24px;
    margin-right: 0px;
}
main.main__a {
    padding-bottom: 0px;
    padding-left: 15px;
    padding-top: 0px;
}.main-img__a img {
    max-width: 340px;
}.main-img__a{
    top: 64.4%;
    left: 85.5%;
}}
@media (max-width: 560px){
    .main-img__a{
        top: 66.4%;
        left: 86.3%;
    }
}
@media (max-width: 554px){
    div.main-content__a{
        margin-right: 240px;
    }div.how-bg.container h1,div.how-bg.container span{
        font-size: 44px;
    }
}@media (max-width: 552px){
    .main-img__a{
        top: 68%;
        left: 86.8%;
    }
    div.main-content__a {
        margin-right: 220px;
        margin-left: 5px;
    }

}@media (max-width: 538px){
    div.main-content__a{
        margin-right: 220px;
    }div.speciality-content p{
        padding-right: 0px !important;
    }.main-img__a{
        top: 66.7%;
        left: 87.5%;
    }
}@media (max-width: 533px){
    .main-img__a{
        left: 88%;
    }
}@media (max-width: 530px){
    .main-img__a{
        top: 64.6%;
        left: 88.2%;
    }
}@media (max-width: 525px){
    .main-img__a{
        top: 66.4%;
    }
}

@media (max-width: 519px){
    .main-img__a{
        left: 89%;
    }    div.main-content__a {
        margin-right: 200px;
    }
}
@media (max-width: 511px){
    .main-img__a img{
        max-width: 265px;
    }
    p#how-img_text{
        padding-left: 20px;
        padding-top: -200px;
        margin-top: -100px;
    }
    .main-img__a{
        top: 72.7%;
        left: 82%;
    }
}@media (max-width: 506px){
    .main-img__a{
        top: 74%;
        left: 82.2%;
    }
}
@media (max-width: 502px){
    .main-img__a{
        left: 82.2%;
    }
}@media (max-width: 499px){
    div.main-content__a {
        margin-right: 200px;
    }.main-img__a{
        top: 74.9%;
        left: 82.6%;
    }
}
@media (max-width: 493px){
    .main-img__a{
        left: 83%;
    }
}@media (max-width: 487px){
    .main-img__a{
        left: 83.3%;
    }
}@media (max-width: 486px){
    .main-img__a{
        left: 83.2%;
    }
}
@media (max-width: 485px){
    .div.main-content__a{
        margin-left: 5px;
        margin-right: 195px;
    }main.main__a{
        padding-top: 0px;
    }div.speciality-content img{
        width: 80px;
        height: 100px;
    }div.speciality-content p{
        font-size: 22px !important;
    }.main-img__a{
        left: 83.2%;
    }div.main__a-code p {
        margin-right: 0px;
    }
}@media (max-width: 478px){
    .main-img__a{
        left: 83.7%;
    }
}@media (max-width: 474px){
    div.main-content__a {
        margin-left: 5px;
        margin-right: 190px;
    }.main-content__a #text__a {
        margin-right: 20px;
    }
}@media (max-width: 473px){
    .main-img__a{
        left: 84%;
    }    div.main-content__a h1, div.main-content__a span {
        font-size: 32px;
    }
}@media (max-width: 468px){
    .main-img__a{
        left: 84.5%;
    }
}@media (max-width: 464px){
    .main-img__a{
        left: 84.5%;
    }
}@media (max-width: 461px){
    .main-img__a{
        left: 84.9%;
    }
}@media (max-width: 460px){
    .main-img__a{
        left: 84.8%;
    }
}
@media (max-width: 457px){
    div.main-content__a{
        margin-right: 180px;
    }div.how-bg.container p{
        font-size: 22px;
    }
    p#how-text__two::before{
        width: 410px;
        height: 200px;
        top: 46%;
        left: 0%;
    }
}@media (max-width: 449px){
    .main-img__a{
        left: 85.6%;
        top: 75%;
    }.main-content__a #text__a {
        margin-right: 5px;
    }
}
@media (max-width: 442px){
    main.main__a a.btn-agendar{
        display: none;
    }main.main__a{
        padding-right: 0px;
    }
    p#how-text__two::before{
        width: 390px;
        height: 200px;
        top: 46%;
        left: 0%;
    }.main-img__a{
        left: 85.9%;
    }.main-content__a #text__a {
        margin-right: 5px;
        padding-top: 0px;
    }    div.main-content__a {
        margin-right: 200px;
    }
}@media (max-width: 436px){
    .main-img__a{
        top: 77%;
        left: 83.6%;
    }.main-img__a img {
        max-width: 240px;
    }
}@media (max-width: 430px){
    .main-img__a{
        left: 84%;
    }
}
@media (max-width: 427px){
    .main-img__a{
        left: 84%;
    }div.main-content__a h1, div.main-content__a span {
        font-size: 28px;
    }.main-content__a #text__a {
        font-size: 22px;
    }
}@media (max-width: 422px){
    .main-img__a{
        top: 73%;
        left: 84.4%;
    }a.btn-agendar{
        font-size: 14px !important;
    }
}
@media (max-width: 422px){
    p#how-text__two::before{
        width: 360px;
        height: 200px;
        top: 46%;
        left: 0%;
    }
    div.qualify-bg.container h1, div.qualify-bg.container h2, div.qualify-bg.container span {
        font-size: 40px;
    }div.main-content__a {
        margin-right: 186px;
        margin-left: 0px;
    }
}
@media (max-width: 421px){
div.main-content__a h1, div.main-content__a span {
        font-size: 24px;
    }p#text__a {
        font-size: 16px;
    }div.main__a-code p {
        margin-right: 0px;
        font-size: 18px;
    }div.qualify-bg.container img {
        width: 70px;
        height: 70px;
    }
    div.main-content__a{
        margin-right: 180px;
        margin-left: 0px;
    }
}
@media (max-width: 415px){
    .main-img__a{
        left: 84.8%;
    }
}
@media (max-width: 407px){
    .main-img__a{
        left: 85.5%;
    }
}
@media (max-width: 400px){
    div.main-content__a {
        margin-right: 170px;
    }

}@media (max-width: 399px){
    .main-img__a{
        top: 74%;
        left: 83.8%;
    }.main-img__a img {
        max-width: 220px;
    }
}@media (max-width: 392px){
    .main-img__a{
        left: 84.2%;
        top: 73%;
    }
}
@media (max-width: 388px){
    .main-img__a{
        left: 84.4%;
        top: 74%;
    }
}
@media (max-width: 382px){
    p#how-text__two::before{
        width: 330px;
        height: 220px;
        top: 42%;
        left: 0%;
}.main-content__a #text__a {
        font-size: 18px;
        margin-right: 0px;
    }
}
@media (max-width: 379px){
    .main-img__a{
        top: 71%;
        left: 85%;
    }

}@media (max-width: 372px){
    .main-img__a{
        left: 85.6%;
    }
}
@media (max-width: 370px){
    p#how-text__two::before{
        width: 330px;
        height: 220px;
        top: 42%;
        left: 0%;
    }
}@media (max-width: 370px){
    .main-img__a{
        left: 85.8%;
    }
}
@media (max-width: 363px){
    .main-img__a{
        left: 86.2%;
    }div.main-content__a {
        margin-right: 160px;
    }
}
@media (max-width: 356px){
    .main-img__a{
        left: 87%;
    }
}@media (max-width: 350px){
    .main-img__a{
        top: 74.8%;
        left: 84.5%;
    }.main-img__a img {
        max-width: 200px;
    }
}
@media (max-width: 343px){
    .main-img__a{
        left: 85%;
    }
}
@media (max-width: 340px){
    p#how-text__two::before{
        width: 310px;
        height: 220px;
        top: 42%;
        left: 0%;
    }
    div.qualify-bg.container h1, div.qualify-bg.container h2, div.qualify-bg.container span {
        font-size: 36px;
    }
}
@media (max-width: 330px){
    p#how-text__two::before{
        width: 310px;
        height: 260px;
        top: 40%;
        left: 0%;
    }.main-img__a{
        left: 86.5%;

    }div.main-content__a {
        margin-right: 145px;
    }    main.main__a {
        padding-left: 10px;
    }
}
@media (max-width: 323px){
    p#how-text__two::before{
        width: 310px;
        height: 260px;
        top: 40%;
        left: 0%;
    }
}

