.bg__sm{
    background: linear-gradient(to right, white 54%, #0D4253 35%);
    min-height: 100%;
    position: relative;
    overflow: hidden;
}



.bg__sm::before {
    content: '';
    background-size: contain;
    background-image: url("../../assets/icons/Aneis.png");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 69%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

.main-img__sm{
    position: absolute;
    top: 65%;
    left: 77.3%;
    transform: translate(-50%, -50%);
}

.main-img__sm img {
    max-width: 886px;
    height: 80%;
}

#text__sm span{
    color: #797979;
    font-size: 43px;
    font-weight: 500;
}
#text__sm__two span{
    color: #797979;
    font-size: 43px;
    font-weight: 500;
}

.problem-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-top: 100px;
}

.problem-row {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
    gap: 20px;
    margin: 0px 100px;
}

.problem-card {
    width: 500px;
    overflow: hidden;
    background-color: #062938;
    border-radius: 46px;
    margin-bottom: 60px;
}


.problem-card-up {
    background-color: #04878E; 
    color: #ffffff; 
    text-align: center;
    padding: 20px;
    border-radius: 46px;
    height: 220px; 
}

#problem-peso{
    height: 300px;
}

.problem-card-up h1 {
    font-size: 58px;
    margin: 0;
    line-height: 1.2;
    font-weight: 400;
}

.problem-card-up img {
    width: 100px;
    height: 82px;
    margin-top: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}

.problem-card p {
    font-size: 25px;
    color: #ffffff;
    padding: 20px;
    line-height: 1.6;
    text-align: justify;
}

.problem-card a {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    text-decoration: none;
}

.problem-card a img {
    width: 43px;
    height: 43px;
    transition: transform 0.3s ease;
    transform: rotate(90deg);
}

.problem-card a img:hover {
    transform: rotate(95deg) scale(1.1); 
}


.lembrete-container p{
    display: flex;
    font-size: 55px;
    text-align: center;
    letter-spacing: 1.1px;
    color: #0D4253;
    margin: 0px 350px;
    font-weight: 500;
}
@media (max-width: 1890px) {
    .bg__sm::before {
        left: 71%;
    }
}@media (max-width: 1825px) {
    .bg__sm::before {
        left: 72.5%;
    }
}@media (max-width: 1742px) {
    .bg__sm::before {
        left: 75%;
    }
}@media (max-width: 1700px) {
    .bg__sm::before {
        left: 76%;
    }
}@media (max-width: 1675px) {
    .bg__sm::before {
        left: 77.4%;
    }
}
@media (max-width: 1670px) {
    .bg__sm{
        background: linear-gradient(to right, white 58%, #0D4253 42%);
        min-height: 100%;
    }
    .bg__sm::before {
        top: 60%;
        left: 72.6%;
        width: 80%;
        height: 80%;
    }
    .main-img__sm{
        top: 75%;
        left: 79.8%;
    }
    
    .main-img__sm img {
        max-width: 720px;
        height: 80%;
    }

    p#text__sm{
        padding-top: 30px;
        padding-right: 800px;
    }

    p#text__sm__two{
        padding-right: 800px;
    }
    
    .problem-row {
        gap: 10px; 
        margin: 0px 50px; 
        }
    
        .problem-card {
            width: 440px; 
            margin-bottom: 40px;
        }
    
        .problem-card-up h1 {
            font-size: 42px; 
        }
    
        .problem-card p {
            font-size: 20px; 
        }
    
        .problem-card a img {
            width: 40px; 
            height: 40px;
        }

        div.problem-bg{
            padding: 0px;
            padding-top: 40px;
        }

}

@media (max-width: 1670px) {
    .bg__sm{
        background: linear-gradient(to right, white 58%, #0D4253 44%);
        min-height: 100%;
    }
    .bg__sm::before {
        top: 60%;
        left: 69.6%;
        width: 80%;
        height: 80%;
    }
    .main-img__sm{
        top: 70%;
        left: 79.2%;
    }
    
    .main-img__sm img {
        max-width: 700px;
        height: 75%;
    }

    p#text__sm{
        padding-top: 30px;
        padding-right: 800px;
        font-size: 38px;
    }

    p#text__sm__two{
        padding-right: 800px;
        font-size: 38px;
    }
    div.main-content__s.container{
        padding-left: 45px;
        padding-top: 0px;
    }
    div.main-content__s.container h1{
       font-size: 68px;
    }
    div.main-content__s.container h2{
        font-size: 68px;
     }
    
     #text__sm span{
        font-size: 38px;
    }
    #text__sm__two span{
        font-size: 38px;
    }
    
}
@media (max-width: 1630px) {
    .bg__sm::before {
        top: 60%;
        left: 70.6%;
        width: 80%;
        height: 80%;
    }
    .main-img__sm{
        top: 70%;
        left: 79.7%;
    }
    
}@media (max-width: 1594px) {
    .bg__sm::before {
        top: 60%;
        left: 70.8%;
    }
    .main-img__sm{
        top: 70%;
        left: 80%;
    }
} @media (max-width: 1563px) {
    .bg__sm::before {
        top: 60%;
        left: 71.6%;
    }
    .main-img__sm{
        top: 70%;
        left: 80.4%;
    }
}
@media (max-width: 1546px) {
    .bg__sm::before {
        top: 60%;
        left: 71.7%;
    }
    .main-img__sm{
        top: 70%;
        left: 80.6%;
    }
}  @media (max-width: 1534px) {
    .bg__sm::before {
        top: 60%;
        left: 71.9%;
    }
    .main-img__sm{
        top: 70%;
        left: 80.8%;
    }
}@media (max-width: 1515px) {
    .bg__sm::before {
        top: 60%;
        left: 72%;
    }
    .main-img__sm{
        top: 70%;
        left: 81.1%;
    }
}    
@media (max-width: 1500px) {
    .bg__sm::before {
        top: 60%;
        left: 72.1%;
    }
    .main-img__sm{
        top: 70%;
        left: 81.3%;
    }
}@media (max-width: 1491px) {
    .bg__sm::before {
        top: 60%;
        left: 73%;
    }
    .main-img__sm{
        top: 70%;
        left: 81.5%;
    }
}@media (max-width: 1465px) {
    .bg__sm::before {
        top: 60%;
        left: 73.1%;
    }
    .main-img__sm{
        top: 70%;
        left: 81.9%;
    }
}

@media (max-width: 1480px) {
    .problem-card {
        width: 420px; 
        margin-bottom: 40px;
    }
    .problem-card-up h1 {
        font-size: 38px; 
    }

    .problem-card p {
        font-size: 20px; 
    }

}


@media (max-width: 1450px) {
    .bg__sm{
        background: linear-gradient(to right, white 57%, #0D4253 43%);
        min-height: 100%;
    }
    .bg__sm::before {
        top: 60%;
        left: 72.3%;
    }
    .main-img__sm{
        top: 70%;
        left: 81%;
    }
    div.lembrete-container p{
        font-size: 50px;
        margin: 0px 300px;}
}@media (max-width: 1438px) {
    .bg__sm::before {
        top: 60%;
        left: 72.4%;
    }
    .main-img__sm{
        top: 66%;
        left: 81.4%;
    }
}@media (max-width: 1438px) {
    .bg__sm::before {
        top: 60%;
        left: 73.2%;
}}@media (max-width: 1416px) {
        .bg__sm::before {
            top: 60%;
            left: 73.5%;
        }.main-img__sm{
            top: 66%;
            left: 81.7%;
        }
        }
@media (max-width: 1405px) {
    .problem-card {
        width: 380px; 
        margin-bottom: 40px;
    }
}@media (max-width: 1390px) {
    .bg__sm::before {
        top: 60%;
        left: 73.7%;
    }
}@media (max-width: 1365px) {
    .bg__sm::before {
        top: 60%;
        left: 74.7%;
    }.main-img__sm{
        top: 68%;
        left: 82.6%;
}}@media (max-width: 1363px) {
    .bg__sm::before {
        top: 60%;
        left: 75.4%;
    }
}

@media (max-width: 1360px) {
    .bg__sm{
        background: linear-gradient(to right, white 57%, #0D4253 43%);
        min-height: 100%;
    }

    .bg__sm::before {
        top: 60%;
        left: 71%;
        width: 80%;
        height: 80%;
    }
    .main-img__sm{
        top: 80%;
        left: 79.1%;
        height: 95%;
    }

    p#text__sm{
        padding-top: 30px;
        padding-right: 600px;
        font-size: 34px;
    }

    p#text__sm__two{
        padding-right: 600px;
        font-size: 34px;
    }
    div.main-content__s.container{
        padding-left: 50px;
        padding-top: 0px;
    }
    div.main-content__s.container h1{
       font-size: 62px;
    }
    div.main-content__s.container h2{
        font-size: 62px;
     }
    
     #text__sm span{
        font-size: 34px;
    }
    #text__sm__two span{
        font-size: 34px;
    }


}@media (max-width: 1345px) {
    .bg__sm::before {
        top: 60%;
        left: 71.2%;
    }.main-img__sm{
        top: 80%;
        left: 79.4%;
    }
}
@media (max-width: 1328px) {
    .bg__sm::before {
        top: 60%;
        left: 71.5%;
    }
    .main-img__sm{
        top: 80%;
        left: 79.7%;
    }
}@media (max-width: 1395px) {
    .bg__sm::before {
        top: 60%;
        left: 72.5%;
    }
    .main-img__sm{
        top: 80%;
        left: 81.27%;
    }
}

@media (max-width: 1290px) {
    .bg__sm{
        background: linear-gradient(to right, white 58%, #0D4253 42%);
        min-height: 100%;
    }

    .bg__sm::before {
        top: 60%;
        left: 71.5%;
        height: 80%;
    }
    .main-img__sm{
        top: 80%;
        left: 79.1%;
        height: 95%;
    }

    p#text__sm{
        padding-top: 30px;
        padding-right: 600px;
        font-size: 30px;
    }

    p#text__sm__two{
        padding-right: 550px;
        font-size: 30px;
    }
    div.main-content__s.container h1{
       font-size: 58px;
    }
    div.main-content__s.container h2{
        font-size: 58px;
     }
     #text__sm span{
        font-size: 30px;
    }
    #text__sm__two span{
        font-size: 30px;
    }

    .problem-row {
        display: flex;
        justify-content: space-between; 
        flex-wrap: wrap; 
        margin: 0px 100px;
    }
    
    .problem-card {
        flex: 0 1 calc(50% - 20px);
        max-width: 500px; 
        overflow: hidden;
        background-color: #062938;
        border-radius: 46px;
        margin-bottom: 60px;
    }
    .problem-card-up h1 {
        font-size: 32px; 
    }

    .problem-card p {
        font-size: 18px; 
    }
}@media (max-width: 1265px) {
    .bg__sm::before {
        top: 60%;
        left: 71.8%;
    }
    .main-img__sm{
        top: 80%;
        left: 79.5%;
    }
}@media (max-width: 1236px) {
    .bg__sm::before {
        top: 60%;
        left: 72.6%;
    }
    .main-img__sm{
        left: 81.1%;
    }
}@media (max-width: 1227px) {
    .bg__sm::before {
        top: 60%;
        left: 73.4%;
    }
    .main-img__sm{
        left: 82.2%;
    }
}@media (max-width: 1205px) {
    .bg__sm::before {
        top: 60%;
        left: 73.1%;
    }
    .main-img__sm{
        left: 81.8%;
    }
}

@media (max-width: 1185px) {
    .bg__sm::before {
        left: 71.6%;
    }
    .main-img__sm{
        top: 80%;
        left: 79.5%;
    }

    div.lembrete-container p{
        margin: 0px 250px;
        font-size: 46px;
    }
    p#text__sm{
        padding-top: 30px;
        padding-right: 500px;
        font-size: 30px;
    }

    p#text__sm__two{
        padding-right: 500px;
        font-size: 30px;
    }
    div.main-content__s.container h1{
       font-size: 48px;
    }
    div.main-content__s.container h2{
        font-size: 48px;
     }
     #text__sm span{
        font-size: 26px;
    }
    #text__sm__two span{
        font-size: 26px;
    }
}
@media (max-width: 1185px) {
    .bg__sm::before {
        left: 72.5%;
    }
    .main-img__sm{
        top: 80%;
        left: 80.9%;
    }
}

@media (max-width: 1138px) {
    .bg__sm::before {
        top: 60%;
        left: 72.8%;
        width: 80%;
        height: 80%;
    }
    .main-img__sm{
        top: 80%;
        left: 79.3%;
        height: 87%;
    }
}@media (max-width: 1124px) {
    .bg__sm::before {
        top: 60%;
        left: 73.1%;
    }
}@media (max-width: 1106px) {
    .bg__sm::before {
        top: 60%;
        left: 73.2%;
    }.main-img__sm{
        left: 80%;
    }
}
@media (max-width: 1095px) {
    .bg__sm::before {
        left: 73.46%;
    }
}

@media (max-width: 1077px) {
    .bg__sm::before {
        top: 60%;
        left: 73.6%;
    }.main-img__sm{
        left: 80.7%;
    }
}@media (max-width: 1070px) {
    .bg__sm::before {
        top: 60%;
        left: 74.6%;
    }.main-img__sm{
        left: 81.9%;
    }
}


@media (max-width: 1055px) {
    .bg__sm::before {
        top: 60%;
        left: 74%;
        width: 80%;
        height: 80%;
    }
    .main-img__sm{
        top: 80%;
        left: 79.7%;
        height: 82%;
    }p#text__sm__two ,p#text__sm {
        padding-right: 450px;
    }
}
@media (max-width: 1040px) {
    .bg__sm::before {
        top: 60%;
        left: 72.3%;
    }
    .main-img__sm{
        top: 80%;
        left: 79.2%;
        height: 90%;
    }
}@media (max-width: 1020px) {
    .bg__sm::before {
        left: 72.6%;
    }
    .main-img__sm{
        top: 80%;
        left: 79.75%;
    }p#text__sm__two ,p#text__sm {
        padding-right: 400px;
    }
}@media (max-width: 998px) {
    .bg__sm::before {
        left: 73%;
    }
    .main-img__sm{
        top: 80%;
        left: 80.2%;
    }
}
@media (max-width: 968px) {
    .bg__sm{
        background: linear-gradient(to right, white 60%, #0D4253 40%);
    }
    .bg__sm::before {
        top: 66%;
        left: 74.5%;
        width: 80%;
        height: 80%;
    }
    .main-img__sm{
        top: 84%;
        left: 81.1%;
        height: 88%;
    }
    div.lembrete-container p{
        margin: 0px 200px;
        font-size: 40px;
    }
    p#text__sm{
        padding-top: 30px;
        padding-right: 400px;
        font-size: 26px;
    }

    p#text__sm__two{
        padding-right: 400px;
        font-size: 26px;
    }
    div.main-content__s.container h1{
       font-size: 44px;
    }
    div.main-content__s.container h2{
        font-size: 44px;
     }
     #text__sm span{
        font-size: 26px;
    }
    #text__sm__two span{
        font-size: 26px;
    }
}@media (max-width: 960px) {
    .bg__sm::before {
        top: 60%;
        left: 73.5%;
        width: 80%;
        height: 70%;
    }
    .main-img__sm{
        top: 84%;
        left: 82.5%;
    }p#text__sm__two ,p#text__sm {
        padding-right: 355px;
    }
}@media (max-width: 944px) {
    .bg__sm::before {
        left: 73.7%;
    }
    .main-img__sm{
        left: 82.8%;
    }
}@media (max-width: 923px) {
    .bg__sm::before {
        left: 74%;

    }
    .main-img__sm{
        left: 83.4%;
    }
}@media (max-width: 910px) {
    .bg__sm::before {
        left: 74.3%;
    }p#text__sm__two ,p#text__sm {
        padding-right: 340px;
    }
}@media (max-width: 891px) {
    .bg__sm::before {
        top: 66%;
        left: 74.5%;
    }
    .main-img__sm{
        top: 84%;
        left: 83%;
        height: 84%;
    }p#text__sm__two ,p#text__sm {
        padding-right: 322px;
    }
}
@media (max-width: 885px) {
    .bg__sm::before {
        left: 74.8%;
    }

    .problem-row {
        display: flex;
        flex-direction: column;
        gap: 20px; 
        margin: 0px 100px;
    }
    
    .problem-card {
        width: 100%;
        max-width: 500px; 
        overflow: hidden;
        background-color: #062938;
        border-radius: 46px;
        margin: 0 auto; 
    }
    .problem-card {
        width: 600px; 
        margin-bottom: 40px;
    }
    .problem-card-up h1 {
        font-size: 42px; 
    }
    .problem-card p {
        font-size: 24px; 
    }
}
@media (max-width: 871px) {
    div.main-content__s.container {
        padding-left: 30px;
        padding-top: 0px;
    }
}@media (max-width: 855px) {
    .main-img__sm{
        top: 84%;
        left: 82.9%;
        height: 80%;
    }.bg__sm::before {
        left: 75.3%;
    }p#text__sm__two ,p#text__sm {
        padding-right: 310px;
    }
}
@media (max-width: 845px) {
    .main-img__sm{
        top: 84%;
        left: 80.3%;
        height: 75%;
    }
    div.lembrete-container p{
        margin: 0px 200px;
        font-size: 40px;
    }
    p#text__sm{
        padding-top: 30px;
        padding-right: 400px;
        font-size: 22px;
    }

    p#text__sm__two{
        padding-right: 400px;
        font-size: 22px;
    }
    div.main-content__s.container h1{
       font-size: 38px;
    }
    div.main-content__s.container h2{
        font-size: 38px;
     }
     #text__sm span{
        font-size: 22px;
    }
    #text__sm__two span{
        font-size: 22px;
    }
}
@media (max-width: 845px) {
    .bg__sm::before {
        top: 65%;
        left: 73.6%;
        width: 80%;
        height: 65%;
    }
    .main-img__sm{
        top: 84%;
        left: 81%;
    }
}@media (max-width: 835px) {
    .bg__sm::before {
        left: 73.9%;
    }
}@media (max-width: 819px) {
    .bg__sm::before {
        left: 73.9%;
    }p#text__sm__two ,p#text__sm {
        padding-right: 360px;
    }.main-img__sm{
        top: 84%;
        left: 81.5%;
    }
}@media (max-width: 816px) {
    .bg__sm::before {
        left: 74.2%;
    }
}
@media (max-width: 778px) {
    .bg__sm::before {
        top: 66%;
        left: 73.6%;
    }
    .main-img__sm{
        top: 84.5%;
        left: 80.5%;
    }
    div.main-content__s.container h1,div.main-content__s.container h2{
        font-size: 30px;
    }p#text__sm{
        padding-right: 300px;
    }p#text__sm__two{
        padding-right: 300px;
    }
}@media (max-width: 760px) {
    div.main-content__s.container {
        padding-left: 30px;
        padding-top: 60px;
    }
    .bg__sm::before {
        top: 66%;
        left: 73.9%;
    }
    .main-img__sm{
        top: 82%;
        left: 81.1%;
    }p#text__sm__two ,p#text__sm {
        padding-right: 255px;
    }
}
@media (max-width: 756px) {
    .bg__sm::before {
        top: 60%;
        left: 74.8%;
    }
    .main-img__sm{
        top: 82.6%;
        left: 82.6%;
    }
    div.lembrete-container p{
        margin: 0px 140px;
        font-size: 32px;
    }  
}@media (max-width: 743px) {
    .bg__sm::before {
        top: 62%;
        left: 75%;
    }
    .main-img__sm{
        top: 82%;
        left: 82.8%;
    }p#text__sm__two ,p#text__sm {
        padding-right: 280px;
    }
}@media (max-width: 738px) {
    .bg__sm::before {
        top: 62%;
        left: 75.7%;
    }
    .main-img__sm{
        top: 82%;
        left: 84%;
    }p#text__sm__two ,p#text__sm {
        padding-right: 280px;
    }
}
@media (max-width: 732px) {
    .bg__sm::before {
        top: 60%;
        left: 74.9%;
        width: 80%;
        height: 60%;
    }
    
}@media (max-width: 700px) {
    .bg__sm::before {
        left: 75.3%;
    }.main-img__sm{
        left: 85.4%;
    }
}@media (max-width: 695px) {
    p#text__sm__two ,p#text__sm {
        padding-right: 250px;
    }
}@media (max-width: 683px) {
    .bg__sm::before {
        top: 60%;
        left: 75.7%;
    }
    .main-img__sm{
        top: 85.6%;
        left: 86%;
    }
}@media (max-width: 664px) {
    .bg__sm::before {
        top: 60%;
        left: 77%;
    }
    .main-img__sm{
        top: 83.9%;
        left: 84%;
        height: 65%;
    }
}@media (max-width: 641px) {
    .bg__sm::before {
        left: 77.4%;
    }
    .main-img__sm{
        left: 85%;
        height: 65%;
    }
}
@media (max-width: 628px) {
    .bg__sm::before {
        top: 60%;
        left: 77.7%;
    }.main-img__sm{
        left: 85.5%;
    }
}@media (max-width: 625px) {
    .bg__sm::before {
        top: 60%;
        left: 78.5%;
    }.main-img__sm{
        left: 86.6%;
    }
}@media (max-width: 613px) {
    .bg__sm::before {
        top: 60%;
        left: 78.9%;
    }.main-img__sm{
        left: 87%;
        height: 65%;
    }
}
@media (max-width: 606px) {
    .bg__sm::before {
        top: 60%;
        left: 76.5%;
        width: 80%;
        height: 60%;
    }
    .main-img__sm{
        top: 85.6%;
        left: 83.4%;
        height: 64.5%;
    }
    div.main-content__s.container h1,div.main-content__s.container h2{
        font-size: 26px;
    }p#text__sm,p#text__sm span{
        font-size: 18px;
    }p#text__sm__two,p#text__sm__two span{
        font-size: 18px;
    }
}@media (max-width: 600px) {
    .bg__sm::before {
        left: 76.9%;
    }
    .main-img__sm{
        left: 84%;
    }
}@media (max-width: 600px) {
    .bg__sm::before {
        left: 77.3%;
    }
    .main-img__sm{
        left: 84.6%;
    }
}@media (max-width: 577px) {
    .bg__sm::before {
        left: 77.2%;
    }
    .main-img__sm{
        left: 84.8%;
    }p#text__sm__two ,p#text__sm {
        padding-right: 210px;
    }
}


@media (max-width: 562px) {
    .bg__sm::before {
        left: 78.5%;
    }.main-img__sm{
        left: 85.9%;
    }
}
@media (max-width: 546px) {
    .bg__sm::before {
        top: 60%;
        left: 78.5%;
        width: 70%;
        height: 60%;
    }
    .main-img__sm{
        top: 85.6%;
        left: 83.4%;
        height: 58.5%;
    }
    div.problem-card p{
        font-size: 24px;
    }div.problem-row{
        font-size: 20px;
    } .problem-card {
        width: 400px; 
    }
}@media (max-width: 538px) {
    .bg__sm::before {
        top: 60%;
        left: 74%;
        width: 70%;
        height: 50%;
    }
    .main-img__sm{
        top: 83.9%;
        left: 85%;
        height: 68%;
    }div.main-content__s.container h1,div.main-content__s.container h2{
        font-size: 22px;
    }p#text__sm,p#text__sm span{
        font-size: 16px;
    }p#text__sm__two,p#text__sm__two span{
        font-size: 16px;
        padding-top: 20px;
    }div.problem-row-p p{
        font-size: 24px;
    }.problem-card-p p{
        padding-left: 20px !important;
        padding-right: 20px !important;
        font-size: 22px !important;
    }
}@media (max-width: 526px) {
    .bg__sm::before {
        left: 73.3%;
    }div.main-content__s.container {
        padding-top: 0px;
    }.main-img__sm{
        left: 83.6%;
    }
}

@media (max-width: 500px) {
    .bg__sm::before {
        left: 74.5%;
    }.main-img__sm{
        left: 85.5%;
    }
}@media (max-width: 477px) {
    div.main-content__s.container {
        padding-left: 20px;
    }    p#text__sm__two, p#text__sm {
        padding-right: 180px;
    }
}  @media (max-width: 460px) {
    .bg__sm::before {
        left: 74.9%;
    }.main-img__sm{
        left: 86.7%;
    }
}

@media (max-width: 455px) {
    .bg__sm::before {
        left: 79.4%;
        height: 50%;
    }
    .main-img__sm{
        top: 86.7%;
        left: 88%;
        height: 55%;
    }div.main-content__s.container h1,div.main-content__s.container h2{
        margin-right: 160px;
        padding-left: 0px;
    }.problem-card-p p{
        padding-left: 20px !important;
        padding-right: 20px !important;
        font-size: 18px !important;
    }div#sm h1,div#sm h2{
        font-size: 25px !important;
    }div#sm span,div#sm p{
        font-size: 19px !important;
    }
}@media (max-width: 444px) {
    .bg__sm::before {
        left: 79.8%;
    }.main-img__sm{
        left: 89%;
    }p#text__sm__two, p#text__sm {
        padding-right: 170px;
    }
}@media (max-width: 442px) {
    .bg__sm::before {
        left: 80.6%;
    }.main-img__sm{
        left: 90.2%;
    }
}
@media (max-width: 439px) {
    div.main-content__s.container{
        padding-left: 20px !important;
        margin-right: 0px;
    }div.main-content__s.container h1,div.main-content__s.container h2{
        padding-left: 0px !important;
        margin-right: 180px;
    } 
    .problem-card {
        width: 360px; 
    }
}@media (max-width: 434px) {
    .bg__sm::before {
        left: 80.5%;
        height: 50%;
    }.main-img__sm{
        top: 87%;
        left: 88%;
        height: 52%;
    }p#text__sm{
        padding-top: 10px;
    }p#text__sm__two{
        padding-top: 0px;
    }
}@media (max-width: 433px) {
    .bg__sm::before {
        left: 81.8%;
    }.main-img__sm{
        left: 89.7%;
    }
}@media (max-width: 422px) {
    .bg__sm::before {
        left: 82.8%;
    }.main-img__sm{
        left: 91.3%;
    }
}@media (max-width: 412px) {
    .bg__sm::before {
        left: 82.9%;
    }.main-img__sm{
        left: 91.3%;
    }
}@media (max-width: 411px) {
    .bg__sm::before {
        left: 83.6%;
    }.main-img__sm{
        left: 92%;
    }
}

@media (max-width: 415px) {
    div.problem-card p {
        font-size: 24px;
    }
}
@media (max-width: 395px) {
    .bg__sm::before {
        left: 84.6%;
    }.main-img__sm{
        left: 92%;
        top: 87.6%;
        height: 50%;
    }
    .problem-card {
        width: 320px; 
    }p#text__sm, p#text__sm__two {
        padding-right: 150px;
    }
}@media (max-width: 382px) {
    .bg__sm::before {
        left: 85%;
    }.main-img__sm{
        left: 93.2%;
        top: 87.6%;
        height: 50%;
    }
}
@media (max-width: 376px) {
    .bg__sm::before {
        left: 85.5%;
    }.main-img__sm{
        left: 93.5%;
        top: 87.6%;
        height: 50%;
    }div.main-content__s.container h1, div.main-content__s.container h2 {
        margin-right: 150px;
    }
}@media (max-width: 376px) {
    .bg__sm::before {
        left: 86.7%;
    }.main-img__sm{
        left: 95%;
        top: 87.5%;
        height: 50%;
    }
}
@media (max-width: 370px) {
    div.lembrete-container p{
        margin: 0px 40px !important;
    }
}@media (max-width: 362px) {
    .bg__sm::before {
        left: 88%;
    }.main-img__sm{
        left: 95%;
        top: 87.5%;
        height: 50%;
    }
}@media (max-width: 356px) {
    .bg__sm::before {
        left: 88.6%;
    }.main-img__sm{
        left: 93%;
        top: 89%;
        height: 45%;
    }
}
@media (max-width: 352px) {
    div.main-content__s.container h1,div.main-content__s.container h2{
        padding-left: 0px;
        margin-right: 130px;
    } 
}@media (max-width: 351px) {
    .bg__sm::before {
        left: 89%;
    }
}@media (max-width: 348px) {
    .bg__sm::before {
        left: 89.7%;
    }
}@media (max-width: 343px) {
    .bg__sm::before {
        left: 90%;
    }
}@media (max-width: 338px) {
    .bg__sm::before {
        left: 91%;
    }
}@media (max-width: 336px) {
    .bg__sm::before {
        left: 91.5%;
    }
}