.bg__sm{
    --gradient-split: 56.8%;
    background: linear-gradient(to right, white var(--gradient-split), #0D4253 var(--gradient-split));
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}
.bg__sm::before {
    content: '';
    background-image: url("../../assets/icons/Aneis.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
    position: absolute;
    top: 57.5%;
    left: var(--gradient-split + 5vw);
    transform: translate(225.2%, -40%);
    width: 25vw;
    height: 100%;
}
div#sm.main-content__s{
    padding-top: 60px;
}
.main-img__sm{
    position: absolute;
    top: 72%;
    left: 82%;
    transform: translate(-50%, -50%);
}
.main-img__sm img {
    max-width: 770px;
}

p#text__sm, p#text__sm__two {
    padding-right: 860px;
}
#text__sm span{
    color: #797979;
    font-size: 35.2px;
    font-weight: 500;
}
#text__sm__two span{
    color: #797979;
    font-size: 35.2px;
    font-weight: 500;
}

.problem-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-top: 100px;
}

.problem-row {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
    gap: 20px;
    margin: 0px 50px;
}

.problem-card {
    width: 500px;
    overflow: hidden;
    background-color: #062938;
    border-radius: 46px;
    margin-bottom: 60px;
}
.problem-card-up {
    background-color: #04878E; 
    color: #ffffff; 
    text-align: center;
    padding: 20px;
    border-radius: 46px;
    height: auto; 
}

#problem-peso{
    height: 300px;
}

.problem-card-up h1 {
    color: var(--color-t);
    font-size: 3.5rem;
    margin: 0;
    line-height: 1.2;
    font-weight: 400;
}

.problem-card-up img {
    width: 100px;
    height: 82px;
    margin-top: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}

.card-small{
    padding: 10.8% 0%;
}

.problem-card p {
    font-size: 25px;
    color: #ffffff;
    padding: 20px;
    line-height: 1.6;
    text-align: justify;
}

.problem-card a {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    text-decoration: none;
}

.problem-card a img {
    width: 43px;
    height: 43px;
    transition: transform 0.3s ease;
    transform: rotate(90deg);
}
.problem-card a img:hover {
    transform: rotate(95deg) scale(1.1); 
}

.lembrete-container p{
    display: flex;
    text-align: center;
    letter-spacing: 1.1px;
    color: #0D4253;
    margin: 0px 350px;
    font-weight: 500;
}@media (max-width: 1720px) {
    .problem-card {
        width: 440px;
        margin-bottom: 40px;
    }
    .problem-card a img {
        width: 40px;
        height: 40px;
    }
    .problem-card-up {
        height: 175px;
    }div#problem-peso.problem-card-up{
        height: 220px;
    }.problem-card-up h1{
        font-size: 40px;
    }div.problem-card-up.card-small{
        padding: 24px 0px;   
    }
}

@media (max-width: 1670px) {
    .main-img__sm img {
        max-width: 725px;
    }
    p#text__sm, p#text__sm__two {
        padding-top: 30px;
        padding-right: 800px;
    }
    .problem-row {
        gap: 10px;
        margin: 0px 50px;
    }
    .problem-card {
        width: 440px;
        margin-bottom: 40px;
    }
    .problem-card a img {
        width: 40px;
        height: 40px;
    }
    div.problem-bg {
        padding: 0px;
        padding-top: 40px;
    }
    div.main-content__s.container {
        padding-left: 45px;
        padding-top: 0px;
    }
    .problem-card-up {
        height: 165px;
    }div#problem-peso.problem-card-up{
        height: 220px;
    }.main-img__sm{
        left: 78.7%;
    }
}@media (max-width: 1640px) {
    p#text__sm, p#text__sm__two {
        padding-right:700px;
    }.main-img__sm{
        left: 79.1%;
    }.bg__sm::before {
        transform: translate(224.9%, -45%);
        height: 84%;
    }
}
@media (max-width: 1600px) {
    .main-img__sm{
        left: 79.5%;
    }
}
@media (max-width: 1582px) {
    .main-img__sm{
        left: 80.7%;
    }
}
@media (max-width: 1480px) {
    .problem-card {
        width: 420px; 
        margin-bottom: 40px;
    }
    .problem-card-up h1 {
        font-size: 38px; 
    }

    .problem-card p {
        font-size: 20px; 
    }.main-img__sm{
        left: 81.5%;
    }

}
@media (max-width: 1450px) {
    div.lembrete-container p{
        font-size: 50px;
        margin: 0px 300px;}
}

@media (max-width: 1440px) {
    .main-img__sm{
        top: 72%;
        left: 81.9%;
    }
    .bg__sm::before {
        transform: translate(227.3%, -50%);
    }
    div#sm h1,div#sm h2{
        font-size: 54.4px;
    }div#sm p,div#sm span{
        font-size: 30.5px;
    }p#text__sm, p#text__sm__two {
        padding-right: 640px;
    }div.lembrete-container p {
        font-size: 40px;
    }.main-img__sm img {
        max-width: 655px;
    }
}
@media (max-width: 1405px) {
    .problem-card {
        width: 380px; 
        margin-bottom: 40px;
    }.main-img__sm{
        left: 82.6%;
    }
}@media (max-width: 1395px) {
    .main-img__sm{
        left: 83%;
    }
}
@media (max-width: 1360px) {
    .main-img__sm{
        left: 80.8%;
        top: 66%;
    }
    div.main-content__s.container{
        padding-left: 50px;
        padding-top: 0px;
    }
}
@media (max-width: 1320px) {
    .main-img__sm{
        left: 81.7%;
    }
}
@media (max-width: 1290px) {
    div.main-content__s.container h1{
       font-size: 58px;
    }
    div.main-content__s.container h2{
        font-size: 58px;
    }
    .problem-row {
        display: flex;
        justify-content: space-between; 
        flex-wrap: wrap; 
        margin: 0px 100px;
    }
    .problem-card {
        flex: 0 1 calc(50% - 20px);
        max-width: 500px; 
        overflow: hidden;
        background-color: #062938;
        border-radius: 46px;
        margin-bottom: 60px;
    }
    .problem-card-up h1 {
        font-size: 32px; 
    }
    .problem-card p {
        font-size: 20px; 
    }p#text__sm, p#text__sm__two {
        padding-right: 600px;
    }.main-img__sm{
        left: 82%;
    }
}@media (max-width: 1265px) {
    .main-img__sm{
        left: 82.8%;
    }
}@media (max-width: 1235px) {
    .main-img__sm{
        left: 83.3%;
    }
}@media (max-width: 1205px) {
    .main-img__sm{
        left: 85.1%;
        top: 66%;
    }.main-img__sm img {
        max-width: 680px;
    }
}

@media (max-width: 1180px) {
    .main-img__sm{
        top: 70%;
        left: 82.2%;
    }.main-img__sm img {
        max-width: 600px;
    }
    div.lembrete-container p{
        margin: 0px 250px;
    }
    .problem-row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0px 40px;
    }.problem-card {
        padding-left: 0px;
    }    p#text__sm, p#text__sm__two {
        padding-right: 500px;
    }.bg__sm::before {
        transform: translate(183%, -52%);
        width: 31vw;
    }div.bg__sm{
        padding-left: 0px;
    }
}@media (max-width: 1165px) {
    .main-img__sm{
        left: 82.8%
    }div#sm{
        padding-top: 20px !important;
    }
}
@media (max-width: 1138px) {
    .main-img__sm{
        left: 83.2%;
    }
}@media (max-width: 1120px) {
    div#sm h1, div#sm h2{
        font-size: 48px;
    }div#sm p, div#sm span,div.lembrete-container p{
        font-size: 28.8px;
    }.nav-agendar__s a {
        font-size: 30px;
    }    .nav-agendar__s {
        padding-top: 20px;
        justify-content: center;
        padding-bottom: 50px;
    }
}
@media (max-width: 1110px) {
    .main-img__sm{
        left: 84%;
    }div.main-content__s.container {
        padding-left: 30px;
        padding-top: 0px;
    }
}

@media (max-width: 1080px) {
    .main-img__sm{
        left: 84.5%;
    }p#text__sm,p#text__sm__two {
        padding-right: 500px;
    }    p#text__sm, p#text__sm__two {
        padding-right: 440px;
    }

}
@media (max-width: 1055px) {
    .main-img__sm{
        left: 85.2%;
    }p#text__sm__two ,p#text__sm {
        padding-right: 450px;
    }div.main-content__s.container h1 {
        font-size: 44px;
    }
}@media (max-width: 1024px) {
    .main-img__sm{
        left: 86%;
    }h2#title__sm{
        padding-right: 0px;
    }p#text__sm {
        padding-top: 20px;
    }    p#text__sm__two, p#text__sm {
        padding-right: 420px;    
}
}
