.main-content__p h1{
    font-size:76px;
    letter-spacing: 1.52px;
    color: #062938;
    font-weight: 500;
    margin-left: 150px;
}
.main-content__p span{
    color: #062938;
    margin-left: 150px;
}
.main-content__p span{
    color: #062938;
}


.main-content__p h2{
    font-size:76px;
    letter-spacing: 1.52px;
    color: #797979;
    font-weight: 500;
}


.main-content__s h2{
    font-size:70.4px;
    letter-spacing: 1.52px;
    color: #797979;
    font-weight: 500;
}


.problem-bg-p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-top: 100px;
    margin: 0px 200px;
}

.problem-row-p {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column; 
    margin: 0px; 
    width: 100%;
}

.problem-card-p {
    width: 100%;
    overflow: hidden;
    background-color: #062938;
    border-radius: 46px;
    margin-bottom: 40px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

}

.problem-card-up-p {
    background-color: #04878E; 
    color: #ffffff; 
    text-align: center;
    padding: 20px;
    border-radius: 46px 46px 0 0; 
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
}


.problem-card-up-p img {
    width: 200px;
    height: 200px;

}

.problem-card-p p {
    font-size: 38px;
    color: #ffffff;
    padding: 50px;
    line-height: 1.3;
    letter-spacing: 0.86px;
    padding-top: 70px;
}

.problem-card-p a {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    text-decoration: none;
}

.problem-card-p a img {
    width: 103px;
    height: 103px;
    transition: transform 0.3s ease;
    transform: rotate(90deg);
}

.problem-card-p a img:hover {
    transform: rotate(95deg) scale(1.1); 
}

.depoimentos-b-p {
    background-color: #fff;
    padding: 50px 20px;
    padding-right: 40px;
}

.depoimentos-header-p {
    display: flex;
    justify-content: end;
    margin-bottom: 20px;
}

.depoimentos-content-p {
    display: flex;
    width: 100%;
    overflow: hidden; 
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
}

.depoimento-p {
    flex: 0 0 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: start;
    border-radius: 80px;
    margin-right: 0; 
    transition: transform 0.5s ease-in-out; 
}

.stars-p {
    color: #FFD700;
    font-size: 52px;
    margin-bottom: 60px;
    margin-left: 30px;
}

.depoimento-p p {
    font-size: 38px;
    color: #797979;
    line-height: 1.5;
    margin-left: 30px;
}

.depoimentos-buttons-p {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.depoimentos-buttons-p button {
    background: none;
    border: none;
    cursor: pointer;
}

.depoimentos-buttons-p img {
    width: 40px;
    height: 40px;
}@media (max-width: 1600px){
    .main-content__p h1,.main-content__p span,.main-content__p h2{
        font-size: 60.8px;
    }.problem-card-up-p img {
        width: 160px;
        height: 160px;
    }.problem-card-p p {
        font-size: 35.2px;
    }
}
@media (max-width: 1440px){
    .main-content__p h1,.main-content__p span,.main-content__p h2{
        font-size: 54.4px;
    }.problem-card-up-p img {
        width: 140px;
        height: 140px;
    }.problem-card-p p {
        font-size: 30.4px;
    }
}
@media (max-width: 1360px){

    div.lembrete-container p{
        margin: 0px 250px;
    }
    
    div.main-content__p.container{
        padding-left: 0px;
    }
}@media (max-width: 1280px){
    .problem-card-p p {
        font-size: 28.8px;
        padding-top: 20px;
    }.problem-card-up-p {
        padding: 20px
    }
}
@media (max-width: 1212px){
    div.main-content__p.container{
        padding-left: 0px;
    }
    div.problem-bg-p img{
        width: 80px;
        height: 80px;
    }
    div.problem-card-up-p img{
        width: 150px;
        height: 150px;
    }
    div.problem-bg-p{
        margin: 0px 140px;
    }
}
@media (max-width: 870px){
    div.problem-bg-p{
        margin: 0px 80px;
    }
    div.lembrete-container p{
        margin: 0px 180px;
    }
}@media (max-width: 800px){
    .problem-card-p p {
        font-size: 22.4px;
        padding-top: 20px;
        padding-bottom: 0px;
        padding-right: 30px;
        padding-left: 30px;
    }    div.problem-bg-p img {
        width: 60px;
        height: 60px;
    }
       div.problem-card-up-p img {
        width: 120px;
        height: 120px;
    }.main-content__p h1, .main-content__p span, .main-content__p h2 {
        font-size: 48px;
    }    div.problem-bg-p {
        margin: 0px 20px;
        padding-top: 40px;
    }.main-content__p h1 {
        text-align: center;
        margin-left: 0px;
    }.main-content__p span, .main-content__p h2{
        text-align: start;
    }.main-content__p span {
        color: #062938;
        margin-left: 70px;
    }
}@media (max-width: 640px){
    .problem-card-p p {
        font-size: 18px;
    }    .problem-card-up-p {
        padding: 0px;
    }    div.problem-card-up-p img {
        width: 100px;
        height: 100px;
    }.problem-card-up-p {
        height: 150px;
    }.main-content__p h1 {

        text-align: start;
        margin-left: 40px;
    }    .main-content__p span {
        color: #062938;
        margin-left: 40px;
    }.main-content__p h1, .main-content__p span, .main-content__p h2 {
        font-size: 28.8px;
    }div.lembrete-container p {
        margin: 0px 100px;
    }
}@media (max-width: 480px){
    .problem-card-p p {
        font-size: 15px;
    }    .problem-card-up-p {
        padding: 0px;
    }    div.problem-card-up-p img {
        width: 100px;
        height: 100px;
    }.problem-card-up-p {
        height: 150px;
    }.main-content__p h1 {
        text-align: start;
        margin-left: 40px;
    }    .main-content__p span {
        color: #062938;
        margin-left: 40px;
    }.main-content__p h1, .main-content__p span, .main-content__p h2 {
        font-size: 28.8px;
    }.problem-card-p p {
        padding-right: 10px;
        padding-left: 10px;
    }    div.problem-bg-p img {
        width: 40px;
        height: 40px;
    }    div.problem-card-up-p img {
        width: 80px;
        height: 80px;
    }div.problem-bg-p{
        padding: 0px;
    }    div.lembrete-container p {
        margin: 0px 50px;
    }
}
