.bg__sm{
    --gradient-split: 54.5%;
    background: linear-gradient(to right, white var(--gradient-split), #0D4253 var(--gradient-split));
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}
.bg__sm::before {
    content: '';
    background-image: url("../../assets/icons/Aneis.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
    position: absolute;
    top: 57.5%;
    left: var(--gradient-split + 5vw);
    transform: translate(216%, -43%);
    width: 25vw;
    height: 100%;
    max-width: 600px;
}
.main-img__sm{
    position: absolute;
    top: 72%;
    left: 81%;
    transform: translate(-50%, -50%);
}
.main-img__sm img {
    max-width: 800px;
}
#text__sm span{
    color: #797979;
    font-size: 43px;
    font-weight: 500;
}
#text__sm__two span{
    color: #797979;
    font-size: 43px;
    font-weight: 500;
}
.problem-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-top: 100px;
}

.problem-row {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
    gap: 20px;
    margin: 0px 100px;
}

.problem-card {
    width: 500px;
    overflow: hidden;
    background-color: #062938;
    border-radius: 46px;
    margin-bottom: 60px;
}


.problem-card-up {
    background-color: #04878E; 
    color: #ffffff; 
    text-align: center;
    padding: 20px;
    border-radius: 46px;
    height: 210px; 
}

#problem-peso{
    height: 300px;
}

.problem-card-up h1 {
    font-size: 58px;
    margin: 0;
    line-height: 1.2;
    font-weight: 400;
}

.problem-card-up img {
    width: 100px;
    height: 82px;
    margin-top: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}

.problem-card p {
    font-size: 25px;
    color: #ffffff;
    padding: 20px;
    line-height: 1.6;
    text-align: justify;
}

.problem-card a {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    text-decoration: none;
}

.problem-card a img {
    width: 43px;
    height: 43px;
    transition: transform 0.3s ease;
    transform: rotate(90deg);
}

.problem-card a img:hover {
    transform: rotate(95deg) scale(1.1); 
}


.lembrete-container p{
    display: flex;
    font-size: 55px;
    text-align: center;
    letter-spacing: 1.1px;
    color: #0D4253;
    margin: 0px 350px;
    font-weight: 500;
}
@media (max-width: 1890px) {
    p#text__sm,p#text__sm__two{
        padding-right: 900px;
    }
}
@media (max-width: 1670px) {
    .main-img__sm img {
        max-width: 700px;
    }

    p#text__sm, p#text__sm__two {
        padding-top: 30px;
        padding-right: 800px;
        font-size: 38px;
    }

    #text__sm span, #text__sm__two span {
        font-size: 38px;
    }

    .problem-row {
        gap: 10px;
        margin: 0px 50px;
    }

    .problem-card {
        width: 440px;
        margin-bottom: 40px;
    }

    .problem-card-up h1 {
        font-size: 42px;
    }

    .problem-card p {
        font-size: 20px;
    }

    .problem-card a img {
        width: 40px;
        height: 40px;
    }

    div.problem-bg {
        padding: 0px;
        padding-top: 40px;
    }

    div.main-content__s.container {
        padding-left: 45px;
        padding-top: 0px;
    }

    div.main-content__s.container h1, div.main-content__s.container h2 {
        font-size: 68px;
    }
    .problem-card-up {
        height: 165px;
    }div#problem-peso.problem-card-up{
        height: 220px;
    }

}
@media (max-width: 1480px) {
    .problem-card {
        width: 420px; 
        margin-bottom: 40px;
    }
    .problem-card-up h1 {
        font-size: 38px; 
    }

    .problem-card p {
        font-size: 20px; 
    }

}
@media (max-width: 1450px) {
    div.lembrete-container p{
        font-size: 50px;
        margin: 0px 300px;}
}@media (max-width: 1440px) {
    .main-img__sm{
        top: 66%;
        left: 78.8%;
    }
    .bg__sm::before {
        transform: translate(217.8%, -50%);
        height: 90%;
    }
}@media (max-width: 1415px) {
    p#text__sm,p#text__sm__two{
        padding-right: 700px;
    }div.main-content__s.container h1, div.main-content__s.container h2 {
        font-size: 60px;
    }
}
@media (max-width: 1405px) {
    .problem-card {
        width: 380px; 
        margin-bottom: 40px;
    }
}

@media (max-width: 1395px) {
    .main-img__sm{
        left: 79.6%;
    }
}
@media (max-width: 1360px) {
    .main-img__sm{
        left: 80.2%;
    }
    div.main-content__s.container{
        padding-left: 50px;
        padding-top: 0px;
    }
}
@media (max-width: 1328px) {
    .main-img__sm{
        left: 80.8%;
    }
}@media (max-width: 1315px) {
    .main-img__sm{
        left: 80.8%;
    }div.main-content__s.container h1, div.main-content__s.container h2 {
        font-size: 54px;
    }
}
@media (max-width: 1290px) {
    div.main-content__s.container h1{
       font-size: 58px;
    }
    div.main-content__s.container h2{
        font-size: 58px;
    }
    .problem-row {
        display: flex;
        justify-content: space-between; 
        flex-wrap: wrap; 
        margin: 0px 100px;
    }
    .problem-card {
        flex: 0 1 calc(50% - 20px);
        max-width: 500px; 
        overflow: hidden;
        background-color: #062938;
        border-radius: 46px;
        margin-bottom: 60px;
    }
    .problem-card-up h1 {
        font-size: 32px; 
    }
    .problem-card p {
        font-size: 18px; 
    }p#text__sm, p#text__sm__two {
        padding-right: 600px;
    }.main-img__sm{
        left: 81.5%;
    }
}@media (max-width: 1265px) {
    .main-img__sm{
        left: 82.1%;
    }
}@media (max-width: 1235px) {
    .main-img__sm{
        left: 82.8%;
    }div.main-content__s.container h1 {
        font-size: 50px;
    }
}@media (max-width: 1205px) {
    .main-img__sm{
        left: 83.4%;
    }
}

@media (max-width: 1185px) {
    .main-img__sm{
        top: 70%;
        left: 79.7%;
    }.main-img__sm img {
        max-width: 600px;
    }

    div.lembrete-container p{
        margin: 0px 250px;
        font-size: 46px;
    }
    p#text__sm{
        padding-top: 100px;
        padding-right: 550px;
        padding-bottom: 100px;
    }
    p#text__sm__two{
        padding-right: 550px;
    }
    div.main-content__s.container h1{
       font-size: 48px;
    }
    div.main-content__s.container h2{
        font-size: 48px;
     }
     #text__sm span, #text__sm__two span,p#text__sm__two,p#text__sm{
        font-size: 34px;
    }
}@media (max-width: 1165px) {
    .main-img__sm{
        left: 80.3%;
    }
}
@media (max-width: 1138px) {
    .main-img__sm{
        left: 80.8%;
    }
}
@media (max-width: 1110px) {
    .main-img__sm{
        left: 81.5%;
    }
}@media (max-width: 1080px) {
    .main-img__sm{
        left: 82%;
    }p#text__sm,p#text__sm__two {
        padding-right: 500px;
    }

}
@media (max-width: 1055px) {
    .main-img__sm{
        left: 82.8%;
    }p#text__sm__two ,p#text__sm {
        padding-right: 450px;
    }div.main-content__s.container h1 {
        font-size: 44px;
    }p#text__sm{
        padding-top: 80px;
    }
}@media (max-width: 1024px) {
    .main-img__sm{
        left: 83.8%;
    }
}
@media (max-width: 968px) {
    div.lembrete-container p{
        margin: 0px 200px;
        font-size: 40px;
    }
    .bg__sm::before {
        top: 57.5%;
        transform: translate(155.5%, -54%);
        width: 35vw;
        height: 64%;
    }.main-img__sm{
        top: 72.5%;
        left: 83%;
    }.main-img__sm img {
        max-width: 550px;
    }
    div.main-content__s.container {
        padding-left: 30px;
    }#text__sm span, #text__sm__two span, p#text__sm__two, p#text__sm {
        font-size: 30px;
    }div.main-content__s.container h1 {
        font-size: 40px;
    }
}@media (max-width: 944px) {
    .main-img__sm{
        left: 83.7%;
    }
}@media (max-width: 910px) {
    p#text__sm__two ,p#text__sm {
        padding-right: 420px;
    }p#text__sm{
        padding-bottom: 60px;
    }.main-img__sm{
        left: 84.6%;
    }
}@media (max-width: 891px) {
    .main-img__sm{
        left: 85.4%;
    }
}
@media (max-width: 885px) {
    div.main-content__s.container h1, div.main-content__s.container h2{
        font-size: 36px;
    }
    .problem-row {
        display: flex;
        flex-direction: column;
        gap: 20px; 
        margin: 0px 100px;
    }
    
    .problem-card {
        width: 100%;
        max-width: 500px; 
        overflow: hidden;
        background-color: #062938;
        border-radius: 46px;
        margin: 0 auto; 
    }
    .problem-card {
        width: 600px; 
        margin-bottom: 40px;
    }
    .problem-card-up h1 {
        font-size: 42px; 
    }
    .problem-card p {
        font-size: 24px; 
    }
}
@media (max-width: 871px) {
    div.main-content__s.container {
        padding-left: 30px;
        padding-top: 0px;
    }
}@media (max-width: 855px) {
    .main-img__sm{
        top: 75.2%;
        left: 83.6%;
    }.main-img__sm img {
        max-width: 500px;
    }
}
@media (max-width: 845px) {
    div.lembrete-container p{
        margin: 0px 200px;
        font-size: 40px;
    }
}
@media (max-width: 810px) {
    p#text__sm__two, p#text__sm {
        padding-right: 380px;
    }.main-img__sm{
        left: 85.4%;
    }
}
@media (max-width: 780px) {
    .main-img__sm{
        left: 86.5%;
    }
    div.main-content__s.container h1,div.main-content__s.container h2{
        font-size: 30px;
    }p#text__sm{
        padding-right: 370px;
    }p#text__sm__two{
        padding-right: 370px;
    }
    #text__sm span, #text__sm__two span, p#text__sm__two, p#text__sm {
        font-size: 28px;
    }
}@media (max-width: 760px) {
    div.main-content__s.container {
        padding-left: 30px;
        padding-top: 60px;
    }
}
@media (max-width: 756px) {
    div.lembrete-container p{
        margin: 0px 140px;
        font-size: 32px;
    }  
}@media (max-width: 743px) {
    .main-img__sm{
        top: 77.7%;
        left: 84.8%;
    }p#text__sm__two ,p#text__sm {
        padding-right: 340px;
    }
    .main-img__sm img {
        max-width: 450px;
    }
}
@media (max-width: 700px) {
    .main-img__sm{
        left: 86.6%;
    }p#text__sm__two, p#text__sm {
        padding-right: 300px;
    }
}@media (max-width: 683px) {
    .main-img__sm{
        left: 87.4%;
    }
}@media (max-width: 670px) {
    .bg__sm{
        min-height: 100%;
    }
    div.main-content__s.container {
        padding-top: 0px;
    }p#text__sm {
        padding-top: 40px;
        padding-bottom: 0px;
    }.main-img__sm{
        left: 84.4%;
        top: 76.5%;
    }.main-img__sm img {
        max-width: 400px;
    }div.main-content__s.container h1{
        padding-right: 290px;
    }
}@media (max-width: 663px) {
    .main-img__sm{
        top: 77.5%;
    }
}@media (max-width: 640px) {
    .main-img__sm{
        left: 85.8%;
    }
}
@media (max-width: 625px) {
    .main-img__sm{
        top: 77.1%;
        left: 80.6%;
    }div.main-content__s.container {
        padding-left: 20px;
    }
    .bg__sm{
        --gradient-split: 52.5%;
    }.bg__sm::before {
        transform: translate(150%, -54%);
    }#text__sm span, #text__sm__two span, p#text__sm__two, p#text__sm {
        font-size: 24px;
    }.main-img__sm img {
        max-width: 350px;
    }p#text__sm__two, p#text__sm {
        padding-right: 280px;
    }
}
@media (max-width: 606px) {
    div.main-content__s.container h1,div.main-content__s.container h2{
        font-size: 26px;
    }p#text__sm,p#text__sm span{
        font-size: 18px;
    }p#text__sm__two,p#text__sm__two span{
        font-size: 18px;
    }.bg__sm::before {
        transform: translate(150%, -42%);
    }.main-img__sm{
        left: 81.4%;
        top: 69%;
    }
}@media (max-width: 590px) {
    .main-img__sm{
        left: 82%;
        top: 70.4%;
    }
}
@media (max-width: 577px) {
    .main-img__sm{
        left: 82.7%;
    }
}
@media (max-width: 563px) {
    .main-img__sm{
        left: 83.7%;
        top: 71.3%;
    }p#text__sm__two, p#text__sm {
        padding-right: 260px;
    }
}
@media (max-width: 546px) {
    .main-img__sm{
        left: 84.5%;
    }
    div.problem-card p{
        font-size: 24px;
    }div.problem-row{
        font-size: 20px;
    } .problem-card {
        width: 400px; 
    }
}@media (max-width: 538px) {
    div.main-content__s.container h1,div.main-content__s.container h2{
        font-size: 22px;
    }p#text__sm,p#text__sm span{
        font-size: 16px;
    }p#text__sm__two,p#text__sm__two span{
        font-size: 16px;
        padding-top: 20px;
    }div.problem-row-p p{
        font-size: 24px;
    }.problem-card-p p{
        padding-left: 20px !important;
        padding-right: 20px !important;
        font-size: 22px !important;
    }
}@media (max-width: 526px) {
    div.main-content__s.container {
        padding-top: 0px;
    }.main-img__sm{
        left: 85.7%;
    }
}@media (max-width: 515px) {
    .main-img__sm{
        left: 86.5%;
    }
}
@media (max-width: 502px) {
    .main-img__sm{
        left: 87.4%;
    }
}@media (max-width: 492px) {
    .main-img__sm{
        left: 88%;
    }p#text__sm__two, p#text__sm {
        padding-right: 230px;
    }
}
@media (max-width: 477px) {
    div.main-content__s.container {
        padding-left: 20px;
    }p#text__sm__two, p#text__sm {
        padding-right: 220px;
    }
}@media (max-width: 470px) {
    .main-img__sm img {
        max-width: 300px;
    }.main-img__sm{
        left: 84.3%;
        top: 74.5%;
    }div.main-content__s.container h1,div.main-content__s.container h2{
        padding-right: 220px;
    }p#text__sm{
        padding-top: 20px;
    }p#text__sm__two, p#text__sm {
        padding-right: 230px;
    }
}@media (max-width: 465px) {
    p#text__sm__two, p#text__sm {
        padding-right: 210px;
    }
}@media (max-width: 455px) {
    #span__sm{
        font-size: 16px !important;
    }.main-img__sm{
        left: 85.2%;
        top: 75.8%;
    }
}@media (max-width: 442px) {
    .main-img__sm{
        left: 86.4%;
        top: 76.4%;
    }p#text__sm__two, p#text__sm {
        padding-right: 198px;
    }h1#title__sm, h2#title__sm {
        font-size: 26px !important;
        padding-right: 180px;
    }
}
@media (max-width: 439px) {
    .problem-card {
        width: 360px; 
    }h1#title__sm, h2#title__sm {
        padding-left: 0px !important;
    }.problem-card-up {
        height: 214px;
    }
}@media (max-width: 432px) {
    .main-img__sm{
        left: 87.1%;
        top: 75%;
    }
}@media (max-width: 431px) {
    .main-img__sm{
        left: 87.3%;
        top: 76%;
    }
}@media (max-width: 428px) {
    .main-img__sm{
        left: 87.6%;
        top: 76.6%;
    }
}
@media (max-width: 419px) {
    h1#title__sm, h2#title__sm {
        padding-right: 185px;
    }p#text__sm__two, p#text__sm {
        padding-right: 185px;
    }.main-img__sm{
        left: 88.2%;
}
}@media (max-width: 411px) {
    .main-img__sm{
        left: 89%;
    }
}@media (max-width: 405px) {
    .main-img__sm{
        top: 77%;
        left: 89.4%;
    }
}


@media (max-width: 415px) {
    div.problem-card p {
        font-size: 24px;
    }
}
@media (max-width: 395px) {
    .main-img__sm img {
        max-width: 260px;
    }
    .problem-card {
        width: 320px; 
    }.main-img__sm{
        top: 80%;
        left: 85.5%;
    }
}@media (max-width: 382px) {
    .main-img__sm{
        top: 80.6%;
        left: 86.4%;
    }
}
@media (max-width: 376px) {
    p#text__sm__two, p#text__sm {
        padding-right: 170px;
    }h1#title__sm, h2#title__sm {
        padding-right: 170px;
    }.main-img__sm{
        left: 87.1%;
    }
}@media (max-width: 367px) {
   .main-img__sm{
    left: 88%;
} 
}@media (max-width: 356px) {
    .main-img__sm{
        left: 88.9%;
    }p#text__sm__two, p#text__sm {
        padding-right: 160px;
    }div.main-content__s.container {
        padding-left: 12px;
    }
}
@media (max-width: 348px) {
    .main-img__sm{
        top: 81%;
        left: 90%;
    }
}@media (max-width: 337px) {
    .main-img__sm{
        top: 81.5%;
        left: 91%;
    }p#text__sm__two, p#text__sm {
        padding-right: 150px;
    }
}@media (max-width: 331px) {
    .main-img__sm{
        top: 81.2%;
        left: 91.6%;
    }p#text__sm__two, p#text__sm {
        padding-right: 150px;
    }h1#title__sm, h2#title__sm {
        padding-right: 150px;
    }
}