#text__s-three-mobile {
    display: none;
}
.main-content__s span{
    color: var(--color-h2-subtitle);
}
.main-content__s p{
    letter-spacing: 0.86px;
    padding-right: 800px;
    padding-top: 50px;
}
div.main-content__s{
    padding-top: 100px;
}
.main-img__s{
    position: absolute;
    top: 70%;
    left: 79.5%;
    transform: translate(-50%, -50%);
}

.main-img__s img {
    max-width:  780px; 
}

#text__s-two{
    padding-right: 00px;
    padding-bottom: 0px;
}
#text__s-three{

    padding-right: 750px;
    padding-top: 30px;
}
#text__s-three span{
    color: var(--color-p);
    font-weight: 500;
}

.nav-agendar__s{
    display: flex;
    padding-top: 100px;
    justify-content: center;
    padding-bottom: 100px;
}
.procurar-bg h2{
    font-weight: 400;
    padding-bottom: 100px;
}

.procurar-img {
    display: flex;
    align-items: center; 
    width: 100%; 
    gap: 30px;
}.procurar-img img {
    width: 500px;
    height: auto;
    flex-shrink: 0;
}
.procurar-img p{
    font-size: 36px;
    color: #0D4253;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 500;
    flex-grow: 1;
    padding: 0px 280px;

}
.procurar-servicos{
    display: flex;
    padding-top: 150px;
}
.procurar-servicos p{
    padding-left: 40px;
    padding-right: 150px;
}

.procurar-servicos span{
    font-weight: 500;
   color: var(--color-p);
}

.medic-bg p{
    padding-top: 60px;
    padding-bottom: 20px;
    padding-right: 100px;
}.procurar-servicos-img img{
    width: 400px;
}.procurar-servicos-img-two img{
    width: 900px;
}#span-medic{
    color: var(--color-h2-subtitle);
    padding-right: 100px;
    font-weight: 500;
}


@media (max-width: 1700px) {
    .main-img__s{
        top: 66%;
        left: 80%;
    }
    .main-img__s img {
        max-width:  700px;
    }
}
@media (max-width: 1600px) {
    .main-img__s{
        top: 69%;
        left: 79.5%;
    }
    .main-img__s img {
        max-width:  650px;
    }
    .main-content__s p{
        padding-right: 650px;
    }   
    #text__s-two{
        padding-right: 750px;
    }
    #text__s-three{
        padding-right: 600px;
    }
    .procurar-img img {
        width: 400px;
        height: auto;
        flex-shrink: 0;
    }
    .procurar-img p{
        padding: 0px 300px;
    }
    .procurar-servicos{
        display: flex;
        padding-top: 100px;
    }.procurar-img p{
        font-size: 32px;
    }
}@media (max-width: 1440px) {

    .procurar-img img {
        width: 400px;
        height: auto;
        flex-shrink: 0;
    }
    .procurar-img p{
        padding: 0px 230px;
    }
    .procurar-img p {
        font-size: 32px;
    }
}
@media (max-width: 1400px) {
    .procurar-img p{
        padding: 0px 200px;
    }
}@media (max-width: 1330px) {
    .procurar-img p{
        padding: 0px 160px;
    }    #text__s-two {
        padding-right: 450px;
    }    #text__s-three {
        padding-right: 500px;
    }.main-img__s{
        top: 69%;
        left: 83.5%;
    }
    div.main-content__s {
    padding-top: 0px;
}
}
@media (max-width: 1120px) {
    .main-img__s{
        top: 70%;
        left: 80%;
    }
    .main-img__s img {
        max-width:  480px;
    }
    .main-content__s p{
        padding-right: 400px;
        padding-top: 20px;
    }   
    #text__s-two{
        padding-right: 420px;
        padding-bottom:40px;
    }
    #text__s-three{
        padding-right: 450px;
    }
    .nav-agendar__s {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .procurar-img img {
        width: 320px;
    }
    .procurar-img p{
        padding: 0px 130px;
    }    .procurar-img p {
        font-size: 28px;
    }
    .procurar-servicos{
        display: flex;
        padding-top: 100px;
    }
}@media (max-width: 950px) {
    #text__s-three-mobile {
        display: block;
        padding-left: 35px;
        padding-right: 30px;
    }
    #text__s-three {
        display: none;
    }
    #text__s-two {
        padding-bottom: 200px;
    }    div.main-content__s {
        padding-top: 150px;
    }
}



@media (max-width: 880px) {
    .bg__s{
        --gradient-split: 58%;
    }
    .bg__s::before {
        transform: translate(241.1%, -52%);
        width: 24vw;
        height: 100%;
    }
    .main-img__s{
        top: 70%;
        left: 80%;
    }
    .main-img__s img {
        max-width:  350px;
    }
    .main-content__s p{
        padding-right: 300px;
        padding-top: 20px;
    }   
    #text__s-two{
        padding-right: 340px;
        padding-bottom: 150px;
    }    div.main-content__s {
        padding-top: 150px;
    }
    #text__s-three{
        padding-right: 40px;
    }
    .nav-agendar__s {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .procurar-img img {
        width: 260px;
    }
    .procurar-img p{
        padding: 0px 100px;
    }    .procurar-img p {
        font-size: 22px;
    }
    .procurar-servicos{
        display: flex;
        padding-top: 100px;
    }.medic-bg p {
        padding-right: 20px;
    }
}
@media (max-width: 700px) {
    .procurar-img p{
        padding: 0px 40px;
    }
} 
@media (max-width: 670px) {
        div.main-content__s {
        padding-top: 100px;
    }
}
@media (max-width: 660px) {
    #text__s-two {
        padding-right: 300px;
        padding-bottom: 50px;
    }
}
@media (max-width: 640px) {

    .main-img__s{
        top: 70%;
        left: 80%;
    }
    .main-img__s img {
        max-width:  260px;
    }
    .main-content__s p{
        padding-right: 250px;
        padding-top: 20px;
    }   
    #text__s-two{
        padding-right: 280px;
        padding-bottom: 120px;
    }
    #text__s-three{
        padding-right: 40px;
    }
    .nav-agendar__s {
        padding-top: 50px;
        padding-bottom: 50px;
    }.procurar-img img {
        width: 200px;

    }
    .procurar-img p{
        padding: 0px 30px;
    }
    .procurar-servicos{
        padding-top: 50px;
    }.medic-bg p {
        padding-right: 20px;
    }.procurar-servicos p {
        padding-left: 40px;
        padding-right: 20px;
    }.procurar-img p {
        font-size: 18px;
    }
}@media (max-width: 600px) {
    #text__s-two {
        padding-right: 280px;
        padding-bottom: 20px;
    }    #text__s-three-mobile {
        padding-left: 20px;
        padding-top: 20px;
        padding-right: 30px;
    }    div.main-content__s {
        padding-top: 80px;
    }
}
@media (max-width: 560px) {
    .main-img__s{
        top: 71%;
        left: 83%;
    }    .main-content__s p{
        padding-right: 200px;
        padding-top: 20px;
    }   
    #text__s-two{
        padding-right: 240px;
        padding-bottom: 50px;
    } 

    .procurar-img p{
        padding: 0px 10px;
    }
}


@media (max-width: 490px) {
    
    .main-img__s{
        top: 74%;
        left: 75%;
    }
    .main-img__s img {
        max-width:  160px;
    }
    .main-content__s p{
        padding-right: 200px;
        padding-top: 20px;
    }   
    #text__s-two{
        padding-right: 180px;
        padding-bottom: 0px;
    }
    #text__s-three{
        padding-right: 20px;
    }.procurar-bg h2 {
        font-weight: 400;
        padding-bottom: 30px;
    }
    .nav-agendar__s {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .procurar-img{
        width:420px
    }.procurar-img img{
        width:180px;
    }
    .procurar-img p{
        padding-left: 10px;
    }
    .procurar-servicos{
        padding-top: 30px;
    }.medic-bg p {
        padding-right: 20px;
    }.procurar-servicos p {
        padding-left: 20px;
        padding-right: 20px;
    }.procurar-servicos-img img {
        width: 300px;
    }.procurar-servicos-img-two img {
        width: 700px;
    }    .medic-bg p {
        padding-top: 20px;
    }.procurar-img p {
        font-size: 16px;
    }
    .bg__s{
        --gradient-split: 62%;
    }
    .bg__s::before {
        top: 54%;
        transform: translate(221.1%, -48%);
        width: 28vw;
        height: 120%;
    }

}@media (max-width: 455px) {
     .main-img__s{
        top: 79%;
        left: 82%;
    }   
    .bg__s{
    --gradient-split: 72%;
}
    .bg__s::before {
        transform: translate(240%, -49%);
        width: 30vw;
        height: 100%;
    }
    .main-content__s p {
        padding-right: 100px;
    }    #text__s-two {
        padding-right: 140px;
    }
    #span-medic {
    padding-right: 00px;
    }

    }
@media (max-width: 430px) {
    .procurar-img{
        width:380px
    }.main-img__s{
        top: 77.5%;
        left: 86%;
    }.procurar-img p {
        padding: 0px 0px;
    }
    div.main-content__s {
    padding-top: 52px;
    }
    .main-content__s p {
        padding-top: 0px;
    }    #text__s-two {
        padding-right: 120px;
    }.procurar-img {
        gap: 15px;
    }
}@media (max-width: 420px) {
    .main-img__s{
        top: 71%;
        left: 92%;
    }  .main-img__s img {
        max-width: 170px;
    }
}
@media (max-width: 415px) {
    .main-img__s{
        top: 71%;
        left: 87%;
    }
    #text__s-two {
        padding-right: 110px;
    }    .main-content__s p {
        padding-right: 100px;
    }
}


@media (max-width: 400px) {
   .medic-bg p {
        padding-bottom: 0px;
        padding-right: 0px;
    }
    .procurar-img{
        width:350px
    }.procurar-img img{
        width: 160px;
    }   #text__s-two {
        padding-right: 94px;
    }.main-img__s img {
        max-width: 160px;
    }.main-img__s{
        top: 74%;
        left: 92%;
    } 
}
@media (max-width: 368px) {
    .procurar-img{
        width:300px
    }    .procurar-img p{
        padding-left: 10px;
    }    .procurar-img p {
        font-size: 12px;
    }.procurar-img img{
        width: 130px;
    }    .main-img__s img {
        max-width: 160px;
    }.main-img__s{
        top: 76%;
        left: 89%;
    }     #text__s-two {
        padding-right: 98px;
    }    .main-content__s p {
        padding-right: 70px;
    }
}



