.bg__s{
    background: linear-gradient(to right, white 54%, #0D4253 35%);
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}



.bg__s::before {
    content: '';
    background-size: contain;
    background-image: url("../../assets/icons/Aneis.png");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 77%;
    left: 71.2%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 120%;
}


.main-content__s h1{
    font-size:76px;
    letter-spacing: 1.52px;
    color: #062938;
    font-weight: 500;
}
.main-content__s span{
    color: #062938;
}


.main-content__s h2{
    font-size:76px;
    letter-spacing: 1.52px;
    color: #797979;
    font-weight: 500;
}
.main-content__s p{
    font-size:43px;
    letter-spacing: 0.86px;
    color: #797979;
    font-weight: 400;
    padding-right: 1100px;
    padding-top: 50px;
}


.main-img__s{
    position: absolute;
    top: 61%;
    left: 60%;
    transform: translate(-50%, -50%);
}

.main-img__s img {
    max-width:  556px;
    height: 100%;

}

#text__s-two{
    padding-right: 1050px;
    padding-bottom: 38px;
}


#text__s-three{
    font-size: 43px;
    padding-right: 0px;
    letter-spacing: 0.86px;
    color: #797979;
    padding-left: 50px;
    padding-right: 300px;
    padding-top: 30px;
}
#text__s-three span{
    font-size: 43px;
    padding-right: 0px;
    color: #797979;
}

.nav-agendar__s{
    display: flex;
    padding-top: 100px;
    justify-content: center;
    padding-bottom: 100px;
}
.nav-agendar__s h2{
    text-align: center;
    font-size: 55px;
    font-weight: 500;
    color: #0D4253;
    padding: 100px 30% 0px 30%;
}

.procurar-bg h1{
    font-size: 76px;
    font-weight: 500;
    color: #0D4253;
    letter-spacing: 1.52px;
}

.procurar-bg h2{
    color: #9D9D9D;
    font-size: 76px;
    font-weight: 400;
    padding-bottom: 100px;
}

.procurar-img{
    display: flex;
}

.procurar-img p{
    color: #0D4253;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 55px;
    margin: 0px 200px;
    font-weight: 500;
}


.procurar-servicos{
    display: flex;
    padding-top: 150px;
}
.procurar-servicos p{
    font-size: 43px;
    letter-spacing: 0.86px;
    color: #797979;
    padding-left: 40px;
    padding-right: 150px;
}

.procurar-servicos span{
    font-size: 43px;
    font-weight: 500;
    color: #797979;
}

.medic-bg h1{
    font-size: 76px;
    color: #0D4253;
    font-weight: 500;
}

.medic-bg h2{
    font-size: 76px;
    color: #9D9D9D;
    letter-spacing: 1.52px;
    font-weight: 500;
}

.medic-bg p{
    font-size: 43px;
    color: #797979;
    letter-spacing: 0.86px;
    padding-top: 100px;
    padding-bottom: 50px;
    padding-right: 100px;

}

#span-medic{
    font-size: 43px;
    letter-spacing: 0.86px;
    color: #797979;
    padding-right: 100px;
}
@media (max-width: 1877px) {
    .bg__s::before {
        left: 72.4%;
    }
}
@media (max-width: 1850px) {
    .bg__s::before {
        left: 73%;
    }
}@media (max-width: 1780px) {
    .bg__s::before {
        left: 73.5%;
    }
}@media (max-width: 1720px) {
    .bg__s::before {
        left: 75%;
    }
}@media (max-width: 1700px) {
    .bg__s::before {
        left: 76.5%;
    }
}
@media (max-width: 1670px) {
    .bg__s{
        background: linear-gradient(to right, white 50%, #0D4253 50%);
    }
    .bg__s::before {
        top: 60%;
        left: 62%;
        width: 80%;
        height: 80%;
    }
    .main-img__s{
        top: 65%;
        left: 60%;
    }
    .main-img__s img {
        max-width: 556px;
    }
    p#text__s{
        font-size: 38px;
        padding-right: 1000px;
    }
    #text__s-two{
        font-size: 38px;
    }
    #text__s-three{
        font-size: 38px;
    }
    #text__s-three span{
        font-size: 38px;
    }
    .main-content__s h2{
        font-size:66px;
    }
    .main-content__s h1{
        font-size:66px;
    }
    nav.procurar-bg.container h1{
        font-size: 66px;
    }
    nav.procurar-bg.container h2{
        font-size: 66px;
    }
    nav.medic-bg.container h1{
        font-size: 66px;
    }nav.medic-bg.container h2{
        font-size: 66px;
    }
    nav.medic-bg.container span{
        font-size: 38px;
    }span#span-medic{
        font-size: 38px;
    }
    div.procurar-servicos p, div.procurar-servicos span{
        font-size: 38px;
    }
}@media (max-width: 1660px) {
    .bg__s::before {
        left: 62.5%;
    }
}

@media (max-width: 1630px) {
    .bg__s::before {
        top: 60%;
        left: 63.4%;
        width: 80%;
        height: 80%;
    }
    .main-img__s{
        top: 70%;
        left: 60%;
    }
    
}   

@media (max-width: 1620px) {
    .bg__s::before {
        left: 63.4%;
    }
    
}@media (max-width: 1606px) {
    .bg__s::before {
        left: 65%;
    }
}   

 @media (max-width: 1530px) {
        .bg__s{
        background: linear-gradient(to right, white 47%, #0D4253 40%);
    }
    .bg__s::before {
        left: 62.4%;
    }
    
}   

@media (max-width: 1500px) {
.bg__s::before {
    left: 63.4%;
}

}   
@media (max-width: 1476px) {
    .bg__s::before {
        left: 64.4%;
    }
    
}  
@media (max-width: 1445px) {
    .bg__s::before {
        left: 65.4%;
    }
    
}  
@media (max-width: 1420px) {
    p#text__s{
        padding-right: 800px;
    }
    p#text__s-two{
        padding-right: 800px;
    }
    #text__s-three{
        padding-left: 20px;   
    }

    .bg__s{
        background: linear-gradient(to right, white 48%, #0D4253 48%);
    }
}  
@media (max-width: 1420px) {
    .bg__s::before {
        left: 62.5%;
    }
    .bg__s{
        background: linear-gradient(to right, white 48%, #0D4253 48%);
    }
    .main-img__s{
        top: 65%;
        left: 60%;
        height: 70%;
    }
}  
@media (max-width: 1370px) {
    .bg__s::before {
        left: 63%;
    }
    .procurar-img img{
        width: 500px;
    }
    .procurar-img p{
        font-size: 48px;
        margin-left: 100px;
    }
}  
@media (max-width: 1365px) {
    .bg__s::before {
        left: 64%;
    }
}  
@media (max-width: 1350px) {
    .bg__s::before {
        left: 65%;
    }

}
@media (max-width: 1290px) {
    .bg__s::before {
        left: 65.3%;
    }
}  @media (max-width: 1275px) {
    .bg__s::before {
        left: 66.3%;
    }
}  
@media (max-width: 1260px) {
    .bg__s{
        background: linear-gradient(to right, white 49%, #0D4253 48%);
    }
    .bg__s::before {
        left: 65.4%;
    }
    .main-img__s{
        top: 68%;
        left: 60%;
        height: 65%;
    }
    p#text__s{
        padding-right: 700px;
    }
    p#text__s-two{
        padding-right: 700px;
    }
    #text__s-three{
        padding-left: 20px;   
    }
} @media (max-width: 1254px) {
    .bg__s::before {
        left: 66%;
    }
}@media (max-width: 1245px) {
    .bg__s::before {
        left: 67%;
    }
}
 @media (max-width: 1235px) {
    .bg__s::before {
        left: 67.5%;
    }
} 
@media (max-width: 1200px) {
    .bg__s::before {
        left: 66%;
    }
    .main-img__s{
        top: 72%;
        left: 60%;
        height: 58%;
    }
    p#text__s{
        padding-right: 600px;
    }
    p#text__s-two{
        padding-right: 600px;
    }
    #text__s-three{
        padding-left: 20px;   
    }
}  
@media (max-width: 1170px) {
    .bg__s::before {
        left: 65.6%;
    }
}  
@media (max-width: 1150px) {
    .bg__s::before {
        left: 67%;
    }
    nav.procurar-bg.container h1{
        font-size: 58px;
    }
    nav.procurar-bg.container h2{
        font-size: 58px;
    }
    nav.medic-bg.container h1{
        font-size: 58px;
    }nav.medic-bg.container h2{
        font-size: 58px;
    }
    nav.medic-bg.container span{
        font-size: 32px;
    }span#span-medic{
        font-size: 32px;
    }
    div.procurar-servicos p, div.procurar-servicos span{
        font-size: 32px;
    }
}  @media (max-width: 1140px) {
    .bg__s::before {
        left: 68%;
    }
}@media (max-width: 1085px) {
    .bg__s::before {
        left: 69%;
    }
}@media (max-width: 1068px) {
    .bg__s::before {
        left: 70%;
    }
}
@media (max-width: 1060px) {
    .bg__s{
        background: linear-gradient(to right, white 51%, #0D4253 38%);
    }
    .main-img__s{
        top: 70%;
        left: 61%;
        height: 60%;
    }
    .bg__s::before {
        left: 68.6%;
    }
    p#text__s{
        font-size: 34px;
        padding-right: 550px;
    }
    p#text__s-two{
        font-size: 34px;
        padding-right: 550px;
    }
    p#text__s-three{
        font-size: 34px;   
    }
    p#text__s-three span{
        font-size: 34px;   
    }
    nav.procurar-bg.container h1{
        font-size: 48px;
    }
    nav.procurar-bg.container h2{
        font-size: 48px;
    }
    nav.medic-bg.container h1{
        font-size: 48px;
    }nav.medic-bg.container h2{
        font-size: 48px;
    }
    nav.medic-bg.container span{
        font-size: 26px;
    }span#span-medic{
        font-size: 38px;
    }
    div.procurar-servicos p, div.procurar-servicos span{
        font-size: 26px;
    }
    nav.medic-bg.container p{
        font-size: 38px;
    }
}  @media (max-width: 1052px) {
    .bg__s::before {
           left: 69.6%;
    }
    }
@media (max-width: 990px) {
    .bg__s::before {
        left: 69.6%;
    }
    p#text__s-three{
        padding-right: 200px; 
    }
    div.procurar-img img{
        width: 400px;
    }
    div.procurar-img p{
        margin: 0px 80px 0px 80px;
        font-size: 38px;
    }
}
@media (max-width: 990px) {
    .bg__s::before {
        left: 71%;
    }}
@media (max-width: 960px) {
        .bg__s::before {
            left: 72%;
}}
@media (max-width: 960px) {
        .bg__s::before {
            left: 73%;
}}
@media (max-width: 940px) {

    p#text__s-three{
        padding-right: 200px; 
    }
    .main-img__s{
        top: 74%;
        left: 64%;
        height: 55%;
    }
    .bg__s::before {
        left: 73%;
    }
    p#text__s-two{
        padding-right: 450px;
    }
    p#text__s{
        padding-right: 450px;
    }
    p#text__s-three{
        padding-right: 120px;
    }
    .bg__s::before {
        left: 70.5%;
    }
}@media (max-width: 935px) {
    .bg__s::before {
        left: 71.8%;
    }}
@media (max-width: 885px) {
.bg__s::before {
    left: 73%;
}}
@media (max-width: 869px) {
    .bg__s::before {
        left: 74%;
}}
@media (max-width: 865px) {

    .main-img__s{
        top: 75%;
        left: 68%;
        height: 52%;
    }
    .bg__s::before {
        top: 55%;
        left: 67.6%;
        height: 60%;
    }
    p#text__s-two{
        font-size: 30px;
        padding-right: 420px;
    }
    p#text__s{
        font-size: 30px;
        padding-right: 400px;
    }
    p#text__s-three{
        font-size: 30px;
    }
    nav.procurar-bg.container h1{
        font-size: 38px;
    }
    nav.procurar-bg.container h2{
        font-size: 38px;
    }
    div.procurar-servicos{
        padding-top: 50px;
    }
    nav.medic-bg.container p{
        font-size: 30px;
    }
    span#span-medic{
        font-size: 30px;
    }
}@media (max-width: 855px) {
    .bg__s::before {
        left: 68%;
    }

}

@media (max-width: 825px) {
    .bg__s::before {
        left: 67.7%;
    }
}@media (max-width: 810px) {
    .bg__s::before {
        left: 68.5%;
    }
}
@media (max-width: 780px) {
    .bg__s::before {
        left: 69.6%;
    }
    div.procurar-img img{
        width: 300px;
    }
    div.procurar-img p{
        margin: 0px 10px 0px 10px;
        font-size: 38px;
    }
}@media (max-width: 777px) {
    .bg__s::before {
        left: 69.5%;
    }
}@media (max-width: 769px) {
    .bg__s::before {
        left: 72%;
    }
}
@media (max-width: 745px) {
    .bg__s::before {
        left: 70%;
    }p#text__s{
        padding-right: 300px;
    }
}@media (max-width: 740px) {
    .bg__s::before {
        left: 69.8%;
    }p#text__s{
        padding-right: 300px;
    }}
@media (max-width: 724px) {
    .bg__s::before {
        left: 71%;
    }p#text__s-two{
        padding-right: 300px;
    }.main-img__s{
        top: 75%;
        left: 70%;
        height: 52%;
    }

}@media (max-width: 673px) {
    .bg__s::before {
        left: 72%;
    }p#text__s{
        padding-right: 300px;
    }.main-img__s{
        top: 76.9%;
        left: 71%;
        height: 46%;
    }
}@media (max-width: 653px) {
    .bg__s::before {
        left: 72.8%;
    }
}
@media (max-width: 625px) {
    .bg__s::before {
        left: 74%;
    }p#text__s{
        padding-right: 280px;
    }.main-img__s{
        top: 76.9%;
        left: 71%;
        height: 46%;
    }div.procurar-img img{
        width: 200px;
    }div.procurar-img p{
        font-size: 28px;
    }div.procurar-servicos p,div.procurar-servicos span{
        font-size: 22px;
        padding-right: 0px;
    }

}@media (max-width: 609px) {
    p#text__s{
        font-size: 24px;
        padding-right: 280px;
    }.main-img__s{
        top: 76.9%;
        left: 71%;
        height: 46%;
    }p#text__s-two{
        font-size: 24px;
        padding-right: 270px;
    }
}
@media (max-width: 609px) {
    .bg__s::before {
        left: 72.5%;
        height: 55%;
    }p#text__s{
        font-size: 24px;
        padding-right: 280px;
    }.main-img__s{
        top: 76.9%;
        left: 71%;
        height: 46%;
    }p#text__s-two{
        font-size: 24px;
        padding-right: 270px;
    }p#text__s-three,p#text__s-three span{
        font-size: 24px;
        padding-right: 0px;
    }
}@media (max-width: 579px) {
    .bg__s::before {
        left: 73.9%;
        height: 55%;
    }
}
@media (max-width: 549px) {
    .bg__s::before {
        left: 74.6%;
        height: 55%;
    }
}@media (max-width: 539px) {
    .bg__s::before {
        left: 75%;
        height: 55%;
    }
}@media (max-width: 530px) {
    .bg__s::before {
        left: 71%;
        height: 45%;
    }.main-img__s{
        top: 79.9%;
        left: 74%;
        height: 42%;
    }p#text__s{
        font-size: 22px;
        padding-right: 240px;
    }
}@media (max-width: 510px) {
    .bg__s::before {
        left: 72%;
        height: 45%;
    }.main-img__s{
        top: 79.9%;
        left: 74%;
        height: 42%;
    }p#text__s-two{
        font-size: 22px;
        padding-right: 224px;

    }
}
@media (max-width: 482px) {
    .bg__s::before {
        left: 72%;
        height: 40%;
    }.main-img__s{
        top: 82%;
        left: 77%;
        height: 38%;
    }p#text__s-two{
        font-size: 22px;
        padding-right: 240px;
        padding-left: 30px;
    }
    div.main-content__s.container h1,
    div.main-content__s.container h2,
    p#text__s{
        padding-left: 30px;
    }
}@media (max-width: 462px) {
    .bg__s::before {
        left: 71%;
    }
}@media (max-width: 445px) {
    .bg__s::before {
        left: 73%;
    }
}

@media (max-width: 439px) {
    .bg__s::before {
        left: 73%;
        height: 40%;
    }.main-img__s{
        top: 82%;
        left: 77%;
        height: 38%;
    }p#text__s-two{
        font-size: 22px;
        padding-right: 224px;
    }div.main-content__s.container{
        padding-left: 0px !important;
    }div.procurar-img{
        display: block;
    }div.procurar-img img{
        margin-left: 100px;
    }
}@media (max-width: 420px) {
    .bg__s::before {
        left: 75%;
        height: 40%;
    }}

@media (max-width: 409px) {
    .bg__s{
        background: linear-gradient(to right, white 60%, #0D4253 38%);
    }
    .bg__s::before {
        left: 84%;
    }.main-img__s{
        top: 85%;
        left: 77%;
        height: 32%;
    }p#text__s-two{
        font-size: 20px;
        padding-right: 184px;
    }p#text__s{
        font-size: 20px;
        padding-right: 180px;
    }div.procurar-img img{
        margin-left: 50px;
    }nav.medic-bg.container p{
        font-size: 20px;
        padding-top: 40px;
        padding-right: 0px;
    }span#span-medic{
        padding-right: 0px;
    }
}@media (max-width: 390px) {
    .bg__s::before {
        left: 85%;
    }
}@media (max-width: 380px) {
    .bg__s::before {
        left: 80%;
        height: 30%;
    }
}@media (max-width: 338px) {
    .bg__s::before {
        left: 82%;
        height: 30%;
    }
}