.header-bg{
  padding-bottom: 100px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-logo {
  display: flex;
  gap: 20px;
  flex: 4;
}
.header-content h2{
  padding-top: 35px;
}

.header-menu {
  display: flex; 
  flex: 7.8;
}

.header-menu .menu {
  display: flex;
  list-style: none;
  gap: 40px; 
  margin: 0;
  padding: 0;
}

.selected{
  background-color: #0D4253;
  padding: 8px 16px;
  border-radius: 16px;
  color: #FFFFFF;
}

.agendamento{
  background-color: #04878E;
  padding: 8px 16px;
  border-radius: 12px;
  color: #FFFFFF;
}
.header-search{
  display: flex;
  justify-content: end;
  padding: 0px 3% 0px 3%; 
}
